node_modules/

target/
/checkouts
/src/gen
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.clj-kondo/
.lsp/
bower_components/

secrets.edn
devlogfile.txt
public/shadow-builds/*
public/shadow-builds/


aggregate-transform-load/imt-school-addresses-submodule/
aggregate-transform-load/imt-pass-rates-submodule/
