({:name "Auto Cadaval", :number "166", :address {:streetName "Rua Dom Fernando", :raw "Rua D. Fernando, 55 –1º 2550-142 CADAVAL", :city "Cadaval", :municipality "Cadaval", :longitude -9.1039485, :state "Lisboa", :zipcode "2550", :streetNumber "55", :googlePlaceId "ChIJmT9_TdjLGA0RU092CuE33tE", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.24196, :formattedAddress "Rua Dom Fernando 55, 2550-008 Cadaval, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "77", :totalApproval "84.4", :bExams "65", :bApproval "86.2"}, :practice {:totalExams "83", :totalApproval "79.5", :bExams "69", :bApproval "75.4"}}})