({:name "Rodascity", :number "439", :address {:streetName nil, :raw "Largo Alípio Loureiro - Santana 2970 SESIMBRA", :city "Santana", :municipality "Sesimbra", :longitude -9.1029917, :state "Setúbal", :zipcode "2970", :streetNumber nil, :googlePlaceId "ChIJjWJHkgFSGQ0RP2TWFnhdgp4", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.4618994, :formattedAddress "2970 Santana, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "50", :totalApproval "70.0", :bExams "41", :bApproval "68.3"}, :practice {:totalExams "60", :totalApproval "60.0", :bExams "55", :bApproval "58.2"}}})