({:name "Ourique", :number "451", :address {:streetName nil, :raw "Rua Batalha de Ourique, Nº49 7670 -261 OURIQUE", :city "Ourique", :municipality "Ourique", :longitude -8.224390399999999, :state "Beja District", :zipcode "7670", :streetNumber nil, :googlePlaceId "ChIJiwXCl3j2Gg0Rds12p2UEtbo", :stateCode "Beja District", :noEntriesAtGMaps false, :latitude 37.6521402, :formattedAddress "7670 Ourique, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "47", :totalApproval "66.0", :bExams "25", :bApproval "68.0"}, :practice {:totalExams "55", :totalApproval "74.5", :bExams "32", :bApproval "62.5"}}})