({:name "O Prado", :number "554", :address {:streetName nil, :raw "Largo do Prado, 5350-016 ALFÂNDEGA DA FÉ", :city "Alfândega da Fé", :municipality "Alfandega da Fé", :longitude -6.9601807, :state "Bragança", :zipcode "5350", :streetNumber nil, :googlePlaceId "ChIJY08MQgiZOw0RYkYM6otCv48", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.344363, :formattedAddress "5350 Alfândega da Fé, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "45", :totalApproval "64.4", :bExams "41", :bApproval "68.3"}, :practice {:totalExams "55", :totalApproval "60.0", :bExams "46", :bApproval "58.7"}}})