({:name "Moderna - Trancoso", :number "581", :address {:streetName nil, :raw "Avª da Igreja, s/nº-R/C 6420-717 VILA FRANCA das NAVES", :city "Vila Franca das Naves", :municipality "Trancoso", :longitude -7.263891300000001, :state "Guarda", :zipcode "6420-717", :streetNumber nil, :googlePlaceId "ChIJJbk8QKryPA0Rl-uYQ3S40YA", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.7265791, :formattedAddress "6420-717 Vila Franca das Naves, Portugal", :duplicatedAtGMaps true, :district "Guarda"}, :rating {:theory {:totalExams "35", :totalApproval "74.3", :bExams "32", :bApproval "75.0"}, :practice {:totalExams "31", :totalApproval "45.2", :bExams "25", :bApproval "44.0"}}})