({:name "Oeste", :number "1064", :address {:streetName "Rua da Estrada Nacional", :raw "Estrada Nacional nº 8 – 22 c/v – Dagorda 2510-082 ÓBIDOS", :city "Óbidos", :municipality "Óbidos", :longitude -9.177178500000002, :state "Leiria", :zipcode "2510", :streetNumber "8", :googlePlaceId "EjFSdWEgZGEgRXN0cmFkYSBOYWNpb25hbCA4LCAyNTEwIMOTYmlkb3MsIFBvcnR1Z2Fs", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.3460144, :formattedAddress "Rua da Estrada Nacional 8, 2510 Óbidos, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "84", :totalApproval "72.6", :bExams "66", :bApproval "75.8"}, :practice {:totalExams "79", :totalApproval "57.0", :bExams "65", :bApproval "52.3"}}})