({:name "Instrusol", :number "1138", :address {:streetName "Rua António Amaro Monteiro", :raw "Rua António Amaro Monteiro nº 6 A 2830 BARREIRO", :city "Santo António da Charneca", :municipality "Barreiro", :longitude -9.041076, :state "Setúbal", :zipcode "2835", :streetNumber "6A", :googlePlaceId "ChIJT37m0CZIGQ0R5HPwBF--It4", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6348174, :formattedAddress "Rua António Amaro Monteiro 6A, 2835-744 Santo António da Charneca, Portugal", :duplicatedAtGMaps true, :district "Setúbal"}, :rating {:theory {:totalExams "72", :totalApproval "70.8", :bExams "67", :bApproval "71.6"}, :practice {:totalExams "72", :totalApproval "87.5", :bExams "66", :bApproval "86.4"}}})