({:name "Automóvel Capote", :number "440", :address {:streetName nil, :raw "Rua Dr. José Sabino Louro 1 r/c Dtº 2665-240 MAFRA", :city "Malveira", :municipality "Mafra", :longitude -9.2544486, :state "Lisboa", :zipcode "2665-240", :streetNumber nil, :googlePlaceId "ChIJFVh6Y5XVHg0R9gMY24saAVk", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.9327154, :formattedAddress "2665-240 Malveira, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "46", :totalApproval "63.0", :bExams "37", :bApproval "56.8"}, :practice {:totalExams "48", :totalApproval "95.8", :bExams "39", :bApproval "94.9"}}})