({:name "Costa Vicentina", :number "453", :address {:streetName nil, :raw "Rua 13 de Janeiro –  Palheirinho 8670-130 ALJEZUR", :city "Aljezur", :municipality "Aljezur", :longitude -8.7992645, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJw4QJoFMVGw0Rxg_DN39zeBA", :stateCode nil, :noEntriesAtGMaps false, :latitude 37.31657, :formattedAddress "Aljezur, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "50", :totalApproval "70.0", :bExams "44", :bApproval "68.2"}, :practice {:totalExams "49", :totalApproval "59.2", :bExams "44", :bApproval "54.5"}}})