({:name "S. Romão", :number "947", :address {:streetName "Rua Horizonte", :raw "Rua do Horizonte, 1567 R/C; 4745-524 São Romão (Coronado)", :city "Coronado", :municipality "Trofa", :longitude -8.5568238, :state "Porto", :zipcode "4745-524", :streetNumber nil, :googlePlaceId "ChIJsUN6WKZgJA0RzIqG6Gs4ADk", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.27955619999999, :formattedAddress "Rua Horizonte, 4745-524 Coronado, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "53", :totalApproval "69.8", :bExams "48", :bApproval "70.8"}, :practice {:totalExams "48", :totalApproval "68.8", :bExams "43", :bApproval "67.4"}}})