({:name "Sacavenense", :number "395", :address {:streetName nil, :raw "Travessa do Olival, 6 r/c Dtº 2685-86 SACAVÉM", :city "Sacavém", :municipality "Loures", :longitude -9.1041157, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJdbaLXQEyGQ0RPM2qiuxNMUc", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.79139869999999, :formattedAddress "Sacavém, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "120", :totalApproval "63.3", :bExams "116", :bApproval "62.1"}, :practice {:totalExams "107", :totalApproval "62.6", :bExams "101", :bApproval "62.4"}}})