({:name "Auto Vinhas", :number "809", :address {:streetName nil, :raw "Chã - Bairros, 4550-060 CASTELO DE PAIVA", :city "Bairros", :municipality "Castelo de Paiva", :longitude -8.2525552, :state "Aveiro", :zipcode "4550-060", :streetNumber nil, :googlePlaceId "ChIJR32x60ScJA0Rx6d-A-4ZxjM", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 41.0390266, :formattedAddress "4550-060 Bairros, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "56", :totalApproval "73.2", :bExams "52", :bApproval "76.9"}, :practice {:totalExams "42", :totalApproval "47.6", :bExams "41", :bApproval "46.3"}}})