({:name "Andrade de Azeitão", :number "1202", :address {:streetName "Rua da Sociedade Filarmónica Perpétua Azeitonense", :raw "Rua Sociedade Filarmónica Perpétua Azeitonense, Nº 5 2925-598 AZEITÃO", :city "São Lourenço (Vila Nogueira de Azeitão)", :municipality "Setúbal", :longitude -9.019153, :state "Setúbal", :zipcode "2925", :streetNumber "5", :googlePlaceId "ChIJydkn5XtPGQ0Rs7qlcUZe_aY", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.5202825, :formattedAddress "Rua da Sociedade Filarmónica Perpétua Azeitonense 5, 2925 São Lourenço (Vila Nogueira de Azeitão), Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "93", :totalApproval "68.8", :bExams "81", :bApproval "67.9"}, :practice {:totalExams "76", :totalApproval "72.4", :bExams "64", :bApproval "70.3"}}})