({:name "Volante de Celorico", :number "810", :address {:streetName nil, :raw "Rua Monsenhor José Magalhães de Sousa,Edifício Santa Luzia, Lote 1, Britelo, 4890-233 Celorico de Basto, Braga", :city "Celorico de Basto", :municipality "Celorico Basto", :longitude -8.0026403, :state "Braga", :zipcode "4890-233", :streetNumber nil, :googlePlaceId "ChIJzZDq_l_GJA0R8bNMXX8dJBA", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.3825194, :formattedAddress "4890-233 Celorico de Basto, Portugal", :duplicatedAtGMaps true, :district "Braga"}, :rating {:theory {:totalExams "36", :totalApproval "69.4", :bExams "30", :bApproval "70.0"}, :practice {:totalExams "51", :totalApproval "70.6", :bExams "40", :bApproval "70.0"}}})