({:name "Santiaguense", :number "414", :address {:streetName "Rua Padre Jorge de Oliveira", :raw "Rua Padre Jorge de Oliveira, Nº 14 7540-201 SANTIAGO  CACÉM", :city "Alvalade", :municipality "Santiago do Cacém", :longitude -8.3944571, :state "Setúbal", :zipcode "7565", :streetNumber "14", :googlePlaceId "ChIJS3umsldJGg0RlliFWSHM2CM", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 37.9405243, :formattedAddress "Rua Padre Jorge de Oliveira 14, 7565 Alvalade, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "17", :totalApproval "76.5", :bExams "14", :bApproval "78.6"}, :practice {:totalExams "17", :totalApproval "76.5", :bExams "15", :bApproval "73.3"}}})