({:name "Angeiras", :number "1133", :address {:streetName "Rua da Quinta de Calvelhe", :raw "Rua Quinta de Calvelhe nº 212 4455-196 LAVRA", :city "Lavra", :municipality "Matosinhos", :longitude -8.722488, :state "Porto", :zipcode "4455", :streetNumber "212", :googlePlaceId "ChIJqegq79xpJA0RVhbJvSOWqxQ", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2620953, :formattedAddress "Rua da Quinta de Calvelhe 212, 4455 Lavra, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "69", :totalApproval "69.6", :bExams "60", :bApproval "66.7"}, :practice {:totalExams "67", :totalApproval "89.6", :bExams "57", :bApproval "89.5"}}})