({:name "Sameiro de Penafiel", :number "731", :address {:streetName nil, :raw "Lugar da Vinha-Recta de Casais Novos 4560-061 CROCA", :city "Croca", :municipality "Penafiel", :longitude -8.2455673, :state "Porto", :zipcode "4560", :streetNumber nil, :googlePlaceId "ChIJpYmHSWCRJA0Rpk8w028b7bw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2245967, :formattedAddress "4560 Croca, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "94", :totalApproval "64.9", :bExams "74", :bApproval "64.9"}, :practice {:totalExams "91", :totalApproval "71.4", :bExams "70", :bApproval "67.1"}}})