({:name "Auto Dinâmica", :number "620", :address {:streetName "Avenida da República", :raw "Avª da República, Nº 343 4830-000 PÓVOA DE LANHOSO", :city "Póvoa do Lanhoso", :municipality "Póvoa Lanhoso", :longitude -8.2742854, :state "Braga", :zipcode "4830", :streetNumber "343", :googlePlaceId "ChIJBeogGgPjJA0RzcU2-81eRT4", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5791102, :formattedAddress "Avenida da República 343, 4830-513 Póvoa do Lanhoso, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "195", :totalApproval "76.4", :bExams "89", :bApproval "74.2"}, :practice {:totalExams "290", :totalApproval "96.6", :bExams "106", :bApproval "91.5"}}})