({:name "Vale do Tâmega", :number "517", :address {:streetName nil, :raw "Rua António Carneiro-Edificio Navarro, 43/45-2º 4600-049 CEPELOS", :city "Cepelos", :municipality "Amarante", :longitude -8.0825552, :state "Porto", :zipcode "4600", :streetNumber nil, :googlePlaceId "ChIJ60SO54y-JA0R8kpOLwDa6WI", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2562432, :formattedAddress "4600-120 Cepelos, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "97", :totalApproval "70.1", :bExams "80", :bApproval "68.8"}, :practice {:totalExams "99", :totalApproval "54.5", :bExams "84", :bApproval "53.6"}}})