({:name "Ideal Alcanedense", :number "949", :address {:streetName "Rua do Comércio", :raw "Rua do Comércio nº 9 A 2025-031 ALCANEDE", :city "Alcanede", :municipality "Santarém", :longitude -8.821603399999999, :state "Santarém", :zipcode "2025", :streetNumber "9", :googlePlaceId "EitSdWEgZG8gQ29tw6lyY2lvIDksIDIwMjUgQWxjYW5lZGUsIFBvcnR1Z2Fs", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.415295, :formattedAddress "Rua do Comércio 9, 2025 Alcanede, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "40", :totalApproval "60.0", :bExams "31", :bApproval "61.3"}, :practice {:totalExams "38", :totalApproval "52.6", :bExams "37", :bApproval "51.4"}}})