({:name "Volante do Neiva", :number "674", :address {:streetName nil, :raw "Rua da Columbofilia –Edifício S. Sebastião - Fracção A 4905-353 BARROSELAS", :city "Barroselas", :municipality "Viana Castelo", :longitude -8.7023336, :state "Viana do Castelo", :zipcode "4905-353", :streetNumber nil, :googlePlaceId "ChIJnYr75UqyJQ0R8_rSXeOQANc", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.6476061, :formattedAddress "4905-353 Barroselas, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "142", :totalApproval "78.9", :bExams "126", :bApproval "79.4"}, :practice {:totalExams "138", :totalApproval "83.3", :bExams "128", :bApproval "82.0"}}})