({:name "VIP", :number "951", :address {:streetName nil, :raw "Rua Combatentes do Ultramar 387, 4410-134 São Félix da Marinha", :city "São Félix da M.nha", :municipality "Vila Nova Gaia", :longitude -8.6295454, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.0392596, :formattedAddress "R. Combatentes do Ultramar 387, 4410-134 São Félix da M.nha, Portugal", :duplicatedAtGMaps nil, :district "Porto"}, :rating {:theory {:totalExams "103", :totalApproval "74.8", :bExams "97", :bApproval "75.3"}, :practice {:totalExams "105", :totalApproval "75.2", :bExams "98", :bApproval "74.5"}}})