({:name "Duarte", :number "842", :address {:streetName "Largo Professor Marcelo Caetano", :raw "Rua Prof. Marcelo Caetano nº 15 r/c 2550 -429 PAINHO", :city "Vermelha", :municipality "Cadaval", :longitude -9.0840689, :state "Lisboa", :zipcode "2550", :streetNumber "15", :googlePlaceId "EjtMYXJnbyBQcm9mZXNzb3IgTWFyY2VsbyBDYWV0YW5vIDE1LCAyNTUwIFZlcm1lbGhhLCBQb3J0dWdhbA", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.2771443, :formattedAddress "Largo Professor Marcelo Caetano 15, 2550 Vermelha, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "27", :totalApproval "85.2", :bExams "19", :bApproval "78.9"}, :practice {:totalExams "27", :totalApproval "85.2", :bExams "16", :bApproval "75.0"}}})