({:name "Pinheiro", :number "922", :address {:streetName "Rua do Bairro do Pinheiro", :raw "Rua da República, lote 23-Quinta do Pinheiro 6300-854 GUARDA", :city "Gonçalo", :municipality "Guarda", :longitude -7.3467434, :state "Guarda", :zipcode "6300-115", :streetNumber nil, :googlePlaceId "ChIJqSFfth7iPA0RGKcdaij8NP4", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.41774729999999, :formattedAddress "Rua do Bairro do Pinheiro, 6300-115 Gonçalo, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}})