({:name "Granvia", :number "1309", :address {:streetName nil, :raw "Rua Conselheiro Frederico Arouca, n.º 94 R/C ; 2065-016 Alcoentre", :city "Alcoentre", :municipality "Azambuja", :longitude -8.954439, :state "Lisboa", :zipcode "2065-016", :streetNumber nil, :googlePlaceId "ChIJQXK7c0fEGA0RHb4K5Z17sF4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.2028846, :formattedAddress "2065-016 Alcoentre, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "48", :totalApproval "83.3", :bExams "44", :bApproval "81.8"}, :practice {:totalExams "41", :totalApproval "61.0", :bExams "34", :bApproval "55.9"}}})