({:name "Damaia", :number "540", :address {:streetName "Rua Fontes Pereira de Melo", :raw "Rua Fontes Pereira de Melo, Nº 24-A Damaia 2720 -233 AMADORA", :city "Damaia", :municipality "Amadora", :longitude -9.214654099999999, :state "Lisboa", :zipcode "2720", :streetNumber "24A", :googlePlaceId "ChIJCfOdLeDMHg0R0F3rXKhSIqk", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.748367, :formattedAddress "Rua Fontes Pereira de Melo 24A, 2720 Damaia, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "109", :totalApproval "72.5", :bExams "103", :bApproval "70.9"}, :practice {:totalExams "98", :totalApproval "78.6", :bExams "91", :bApproval "76.9"}}})