({:name "Da Serra", :number "1162", :address {:streetName nil, :raw "Rua da Escola, N.º 15, R/C - Juncal, 2480-356 JUNCAL", :city "Juncal", :municipality "Porto de Mós", :longitude -8.8997636, :state "Leiria", :zipcode "2480-356", :streetNumber nil, :googlePlaceId "ChIJxYQT2OCgGA0RvYCfvBsONx0", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.6033416, :formattedAddress "2480-356 Juncal, Portugal", :duplicatedAtGMaps true, :district "Leiria"}, :rating {:theory {:totalExams "85", :totalApproval "67.1", :bExams "70", :bApproval "68.6"}, :practice {:totalExams "60", :totalApproval "71.7", :bExams "48", :bApproval "66.7"}}})