({:name "Penafiel", :number "1227", :address {:streetName nil, :raw "Lugar do Tapadinho 4560-162 Guilhufe", :city "Guilhufe", :municipality "Penafiel", :longitude -8.3152595, :state "Porto", :zipcode "4560", :streetNumber nil, :googlePlaceId "ChIJ-ai4xSWOJA0RU7J9NwYAvxI", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.192759, :formattedAddress "4560 Guilhufe, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "89", :totalApproval "70.8", :bExams "80", :bApproval "68.8"}, :practice {:totalExams "96", :totalApproval "57.3", :bExams "82", :bApproval "53.7"}}})