({:name "Montijo", :number "648", :address {:streetName nil, :raw "Avª das Forças Armadas - Cruzamento de Pegões 2985-216 PEGÕES", :city "Pegões", :municipality "Montijo", :longitude -8.5999875, :state "Setúbal", :zipcode "2985-216", :streetNumber nil, :googlePlaceId "ChIJv61c58UMGQ0RZ6c6Rjc6KOE", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6828984, :formattedAddress "2985-216 Pegões, Portugal", :duplicatedAtGMaps true, :district "Setúbal"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}})