({:name "Oliveira do Bairro", :number "147", :address {:streetName "Rua Misericórdia", :raw "Rua da Misericórdia, Nº 2 3770-215 OLIVEIRA DO BAIRRO", :city "Oliveira do Bairro", :municipality "Oliveira Bairro", :longitude -8.4930124, :state "Aveiro", :zipcode "3770", :streetNumber nil, :googlePlaceId "ChIJs7bCXY6nIw0R-NXiZjdSgtU", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.5111822, :formattedAddress "Rua Misericórdia, 3770-102 Oliveira do Bairro, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "151", :totalApproval "68.2", :bExams "139", :bApproval "67.6"}, :practice {:totalExams "144", :totalApproval "52.1", :bExams "130", :bApproval "48.5"}}})