({:name "De Alfragide", :number "770", :address {:streetName "Rua Manuel Lemos Peixoto", :raw "Rua Manuel Lemos Peixoto, 2 A 2610-110 AMADORA", :city "Buraca", :municipality "Amadora", :longitude -9.2120499, :state "Lisboa", :zipcode "2610", :streetNumber "2A", :googlePlaceId "ChIJjzgtKOjMHg0RRf94ElLAb4I", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7366558, :formattedAddress "Rua Manuel Lemos Peixoto 2A, 2610-110 Buraca, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "101", :totalApproval "78.2", :bExams "94", :bApproval "78.7"}, :practice {:totalExams "85", :totalApproval "70.6", :bExams "79", :bApproval "68.4"}}})