({:name "Beira Alta", :number "137", :address {:streetName nil, :raw "Rua De Camões 56, São Pedro do Sul, 3660-482 Viseu", :city "São Pedro do Sul", :municipality "S. Pedro do Sul", :longitude -8.0631019, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 40.7627512, :formattedAddress "R. Camões 56, 3660-482 São Pedro do Sul, Portugal", :duplicatedAtGMaps nil, :district "Viseu"}, :rating {:theory {:totalExams "103", :totalApproval "81.6", :bExams "72", :bApproval "80.6"}, :practice {:totalExams "130", :totalApproval "73.8", :bExams "80", :bApproval "73.8"}}})