({:name "Volante do Minho", :number "936", :address {:streetName nil, :raw "Lugar de Cerdeiras 4730-000 FREIRIZ", :city "Freiriz", :municipality "Vila Verde", :longitude -8.5086903, :state "Braga", :zipcode "4730", :streetNumber nil, :googlePlaceId "ChIJ0cjy9PSqJQ0RjYqN5q_Y67Q", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.6406445, :formattedAddress "4730-170 Freiriz, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "93", :totalApproval "59.1", :bExams "83", :bApproval "57.8"}, :practice {:totalExams "89", :totalApproval "67.4", :bExams "80", :bApproval "63.8"}}})