({:name "Miranda do Douro", :number "651", :address {:streetName nil, :raw "Edificio Buonas Bistas, Bloco 2, Loja de Trás, 5210-003 MIRANDA do DOURO", :city "Miranda do Douro Municipality", :municipality "Miranda Douro", :longitude -6.2712311, :state "Bragança District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJS0UQYmNmOQ0RCUdpzDlHbqs", :stateCode "Bragança District", :noEntriesAtGMaps false, :latitude 41.4995412, :formattedAddress "Miranda do Douro Municipality, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "85", :totalApproval "84.7", :bExams "58", :bApproval "82.8"}, :practice {:totalExams "95", :totalApproval "58.9", :bExams "58", :bApproval "50.0"}}})