({:name "Canedo", :number "1168", :address {:streetName "Rua Principal", :raw "Rua Principal, Nº 1025 4525-189 CANEDO", :city "Canedo", :municipality "Santa Maria da Feira", :longitude -8.4638793, :state "Aveiro", :zipcode "4525", :streetNumber "1025", :googlePlaceId "ChIJd-qF9WCAJA0Rzp1MnSjTqKM", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 41.0075589, :formattedAddress "Rua Principal 1025, 4525 Canedo, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "77", :totalApproval "74.0", :bExams "64", :bApproval "71.9"}, :practice {:totalExams "93", :totalApproval "78.5", :bExams "83", :bApproval "78.3"}}})