({:name "Ferreira do Zêzere", :number "437", :address {:streetName nil, :raw "Urb. Quinta do Adro 2240 FERREIRA DO ZÊZERE", :city "Ferreira do Zêzere", :municipality "Ferreira do Zêzere", :longitude -8.2905257, :state "Santarém", :zipcode "2240", :streetNumber nil, :googlePlaceId "ChIJJyrInVudIg0Rw-lzar0QooE", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.6932144, :formattedAddress "2240 Ferreira do Zêzere, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "60", :totalApproval "65.0", :bExams "47", :bApproval "63.8"}, :practice {:totalExams "58", :totalApproval "72.4", :bExams "48", :bApproval "68.8"}}})