({:name "Campelos", :number "758", :address {:streetName "Rua Francisco Antunes", :raw "Rua Francisco Antunes, Nº 1 2565 – 031 CAMPELOS", :city "Campelos", :municipality "Torres Vedras", :longitude -9.2368771, :state "Lisboa", :zipcode "2565-065", :streetNumber "1", :googlePlaceId "ChIJfwq8gYEzHw0RFT6M49RyW3Q", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.1975081, :formattedAddress "Rua Francisco Antunes 1, 2565-065 Campelos, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "51", :totalApproval "86.3", :bExams "44", :bApproval "84.1"}, :practice {:totalExams "65", :totalApproval "80.0", :bExams "56", :bApproval "76.8"}}})