({:name "Penelense", :number "482", :address {:streetName "Praceta São Jorge", :raw "Bairro de S. Jorge 3230-257 PENELA", :city "Penela", :municipality "Penela", :longitude -8.3855725, :state "Coimbra", :zipcode "3230", :streetNumber nil, :googlePlaceId "ChIJrXiY_2fzIg0RU1fapfgAcLw", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.0257323, :formattedAddress "Praceta São Jorge, 3230-255 Penela, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "238", :totalApproval "80.3", :bExams "179", :bApproval "81.0"}, :practice {:totalExams "234", :totalApproval "78.6", :bExams "153", :bApproval "70.6"}}})