({:name "Granja do Ulmeiro", :number "969", :address {:streetName "Rua Comércio", :raw "Rua do Comércio 3130-080 GRANJA DO ULMEIRO", :city "Granja do Ulmeiro", :municipality "Soure", :longitude -8.6345073, :state "Coimbra", :zipcode "3130", :streetNumber nil, :googlePlaceId "ChIJ0U08RWxQIg0RXgbwNourx_Q", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.163023, :formattedAddress "Rua Comércio, 3130-081 Granja do Ulmeiro, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "76", :totalApproval "73.7", :bExams "72", :bApproval "72.2"}, :practice {:totalExams "81", :totalApproval "80.2", :bExams "74", :bApproval "78.4"}}})