({:name "Silvino Lopes", :number "1204", :address {:streetName nil, :raw "EN 2 Venda da Pedra - Sertã 6100-707 SERTÃ", :city "Venda da Pedra", :municipality "Sertã", :longitude -8.1027392, :state "Castelo Branco", :zipcode "6100-707", :streetNumber nil, :googlePlaceId "ChIJuWzbQDqiIg0RKE-1FIGksFI", :stateCode "Castelo Branco", :noEntriesAtGMaps false, :latitude 39.7943281, :formattedAddress "6100-707 Venda da Pedra, Portugal", :duplicatedAtGMaps true, :district "CasteloBranco"}, :rating {:theory {:totalExams "47", :totalApproval "85.1", :bExams "44", :bApproval "86.4"}, :practice {:totalExams "51", :totalApproval "66.7", :bExams "46", :bApproval "65.2"}}})