({:name "Infante Santo", :number "957", :address {:streetName "Rua José Prudêncio Vieira", :raw "Rua José Prudêncio Vieira, Lote 17 - Loja C 8365-149 ARMAÇÃO DE PERA", :city "Armação de Pêra", :municipality "Silves", :longitude -8.359295, :state "Faro", :zipcode "8365-112", :streetNumber "17", :googlePlaceId "ChIJQV4FX3HRGg0RKMzZUv58RPc", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1037601, :formattedAddress "Rua José Prudêncio Vieira 17, 8365-112 Armação de Pêra, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "45", :totalApproval "68.9", :bExams "42", :bApproval "69.0"}, :practice {:totalExams "37", :totalApproval "62.2", :bExams "37", :bApproval "62.2"}}})