({:name "Automobilista do Carregal do Sal", :number "311", :address {:streetName nil, :raw "Estrada Nacional - Currelos 3430-000 CARREGAL DO SAL", :city "Currelos", :municipality "Carregal do Sal", :longitude -8.0018954, :state "Viseu", :zipcode "3430", :streetNumber nil, :googlePlaceId "ChIJJe6s9mEmIw0RRNt2p6QA69M", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.4233963, :formattedAddress "3430-211 Currelos, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}})