({:name "Da Vila de A-dos-Cunhados", :number "828", :address {:streetName nil, :raw "Rua Monsenhor José Jorge Fialho–Edf. Azenha- Fracção A, Lj R/C 2560-016 A DOS CUNHADOS", :city "A dos Cunhados", :municipality "Torres Vedras", :longitude -9.311828199999999, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJh7ev3p4xHw0RzUjgapWMuHY", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.1448796, :formattedAddress "A dos Cunhados, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "75", :totalApproval "80.0", :bExams "56", :bApproval "78.6"}, :practice {:totalExams "99", :totalApproval "72.7", :bExams "76", :bApproval "65.8"}}})