({:name "Bom Sucesso", :number "283", :address {:streetName nil, :raw "Tapada do Lago – Zona Industrial - Apt.36 7440-152 ALTER DO CHÃO", :city "Alter do Chão", :municipality "Alter do Chão", :longitude -7.660334, :state "Portalegre", :zipcode "7440", :streetNumber nil, :googlePlaceId "ChIJFScF3KuFFw0RQVSJ86fQhgI", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 39.201007, :formattedAddress "7440 Alter do Chão, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "25", :totalApproval "56.0", :bExams "25", :bApproval "56.0"}, :practice {:totalExams "27", :totalApproval "77.8", :bExams "27", :bApproval "77.8"}}})