({:name "Senhora D´ Aires", :number "524", :address {:streetName "Rua Doutor Julio Pereira Garrido", :raw "Rua Dr. Júlio Pereira Garrido, Nº 12 7090-270 VIANA DO ALENTEJO", :city "Viana do Alentejo", :municipality "Viana do Alentejo", :longitude -8.0065689, :state "Évora", :zipcode "7090", :streetNumber "12", :googlePlaceId "EklSdWEgRG91dG9yIEp1bGlvIFBlcmVpcmEgR2FycmlkbyAxMiwgNzA5MC0yNzAgVmlhbmEgZG8gQWxlbnRlam8sIFBvcnR1Z2Fs", :stateCode "Évora", :noEntriesAtGMaps false, :latitude 38.3353157, :formattedAddress "Rua Doutor Julio Pereira Garrido 12, 7090-270 Viana do Alentejo, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "44", :totalApproval "65.9", :bExams "37", :bApproval "62.2"}, :practice {:totalExams "41", :totalApproval "75.6", :bExams "24", :bApproval "58.3"}}})