({:name "S. Bartolomeu", :number "352", :address {:streetName nil, :raw "Avª de Alcanices, Nº 21-Bairro das Cruzes 5230-302 VIMIOSO", :city "Vimioso", :municipality "Vimioso", :longitude -6.529121099999999, :state "Bragança", :zipcode "5230", :streetNumber nil, :googlePlaceId "ChIJJfnFQI_QOw0RJNcHN9-0ecc", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.5844451, :formattedAddress "5230 Vimioso, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "61", :totalApproval "59.0", :bExams "47", :bApproval "59.6"}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}})