({:name "Alvaiázere", :number "239", :address {:streetName "Rua João Ferreira Borges da Gama", :raw "Rua Prof. José Maria Castelão 3250-115 ALVAIAZERE", :city "Alvaiázere", :municipality "Alvaiazere", :longitude -8.3836876, :state "Leiria", :zipcode "3250", :streetNumber nil, :googlePlaceId "ChIJo5wQ0OmFIg0RCCGekDZfvUU", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.8233609, :formattedAddress "Rua João Ferreira Borges da Gama, 3250 Alvaiázere, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "73", :totalApproval "74.0", :bExams "40", :bApproval "62.5"}, :practice {:totalExams "77", :totalApproval "83.1", :bExams "35", :bApproval "74.3"}}})