({:name "Auto Flor", :number "1007", :address {:streetName "Avenida Doutor João Carlos de Noronha", :raw "Avª João Carlos Noronha, Nº 20 5360-302 VILA FLOR", :city "Vila Flor", :municipality "Vila Flor", :longitude -7.150259699999999, :state "Bragança", :zipcode "5360-302", :streetNumber "20", :googlePlaceId "ChIJedLL6SR0Ow0Rq56V5L5NQ-4", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.3080361, :formattedAddress "Avenida Doutor João Carlos de Noronha 20, 5360-302 Vila Flor, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "50", :totalApproval "60.0", :bExams "45", :bApproval "62.2"}, :practice {:totalExams "56", :totalApproval "60.7", :bExams "49", :bApproval "59.2"}}})