({:name "Alentejana", :number "269", :address {:streetName nil, :raw "Bairro da Estrada do Clube Náutico nº 12 7480-107 AVIS", :city "Avis", :municipality "Avis", :longitude -7.895809799999999, :state "Portalegre", :zipcode "7480-107", :streetNumber nil, :googlePlaceId "ChIJuybiMjXTGQ0RujZ5_SU8jyw", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 39.05323, :formattedAddress "7480-107 Avis, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "36", :totalApproval "80.6", :bExams "36", :bApproval "80.6"}, :practice {:totalExams "29", :totalApproval "72.4", :bExams "29", :bApproval "72.4"}}})