({:name "O. Azul de Castro Marim", :number "446", :address {:streetName "Rua de São Sebastião", :raw "Rua de São Sebastião, Nº 4 8950-121 CASTRO MARIM", :city "Castro Marim", :municipality "Castro Marim", :longitude -7.443703, :state "Faro", :zipcode "8950-281", :streetNumber "4", :googlePlaceId "ChIJkcpVCAwYEA0RithZhuT7hOA", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.2174933, :formattedAddress "Rua de São Sebastião 4, 8950-281 Castro Marim, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "63", :totalApproval "73.0", :bExams "56", :bApproval "73.2"}, :practice {:totalExams "54", :totalApproval "68.5", :bExams "50", :bApproval "68.0"}}})