({:name "Idanhense", :number "556", :address {:streetName nil, :raw "Rua da Filarmónica Idanhense, Lote 69, R/C Dtº 6060-101 IDANHA-A-NOVA", :city "Idanha a Nova", :municipality "Idanha a Nova", :longitude -7.2415895, :state "Castelo Branco", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ9Uv6rXNwPQ0RfpybjroInDY", :stateCode "Castelo Branco", :noEntriesAtGMaps false, :latitude 39.924752, :formattedAddress "Idanha a Nova, Portugal", :duplicatedAtGMaps false, :district "CasteloBranco"}, :rating {:theory {:totalExams "24", :totalApproval "62.5", :bExams "22", :bApproval "59.1"}, :practice {:totalExams "27", :totalApproval "51.9", :bExams "26", :bApproval "50.0"}}})