({:name "Manteigas", :number "335", :address {:streetName "Rua da Escola", :raw "Rua do Colégio, nº 4 6260-000 MANTEIGAS", :city nil, :municipality "Manteigas", :longitude -7.4682391, :state "Castelo Branco", :zipcode "6200", :streetNumber "4", :googlePlaceId "Eh9SdWEgZGEgRXNjb2xhIDQsIDYyMDAsIFBvcnR1Z2Fs", :stateCode "Castelo Branco", :noEntriesAtGMaps false, :latitude 40.3749663, :formattedAddress "Rua da Escola 4, 6200, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "27", :totalApproval "74.1", :bExams "22", :bApproval "77.3"}, :practice {:totalExams "30", :totalApproval "63.3", :bExams "25", :bApproval "64.0"}}})