({:name "Américo e Pires", :number "892", :address {:streetName "Rua da Bela Vista", :raw "Bairro da Bela Vista 6355-201 VILAR FORMOSO", :city "Vilar Formoso", :municipality "Almeida", :longitude -6.8360616, :state "Guarda", :zipcode "6355", :streetNumber nil, :googlePlaceId "ChIJQbjp5d9FPA0RRTdeCyrc9LU", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.6157262, :formattedAddress "Rua da Bela Vista, 6355 Vilar Formoso, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "22", :totalApproval "59.1", :bExams "21", :bApproval "61.9"}, :practice {:totalExams "24", :totalApproval "50.0", :bExams "24", :bApproval "50.0"}}})