{:name "Norte", :number "1276", :address {:streetName "", :observations "", :raw "Rua Dona Inês de Castro, N.º 13 - Loja B Sintra, 2605-658 Lisboa", :city "Belas", :municipality "", :longitude -9.279664, :zipcode "", :streetNumber "", :latitude 38.764474, :formattedAddress "Rua Dona Inês de Castro, N.º 13 - Loja B Sintra, 2605-658 Lisboa", :district "Lisboa"}, :contacts {:phone 214053958, :mobile [961343436], :fax 214053958, :website "", :facebook "https://www.facebook.com/escoladeconducao.norte", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}