{:name "Automóvel de Macedo", :number "338", :address {:streetName "Rua Doutor Luís Olaio", :raw "Rua Dr. Luís Olaio, nº 15 - 1º 5340-262 MACEDO DE CAVALEIROS", :city "Macedo de Cavaleiros", :municipality "Macedo Cavaleiros", :longitude -6.959476599999999, :state "Bragança", :zipcode "5340", :streetNumber "15", :googlePlaceId "ChIJbU5n23alOw0RYeoy0VF56BM", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.5372616, :formattedAddress "Rua Doutor Luís Olaio 15, 5340-222 Macedo de Cavaleiros, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "73", :totalApproval "75.3", :bExams "61", :bApproval "73.8"}, :practice {:totalExams "68", :totalApproval "63.2", :bExams "55", :bApproval "63.6"}}}