{:name "Alcobacense", :number "179", :address {:streetName nil, :raw "Rua Costa Veiga, Nº 56-58 Apartado 179 2460 –028 ALCOBAÇA", :city "Alcobaça", :municipality "Alcobaça", :longitude -8.979649199999999, :state "Leiria", :zipcode "2460", :streetNumber nil, :googlePlaceId "ChIJDxLPS8qlGA0Rk5T5ZnW2A3w", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.54866699999999, :formattedAddress "2460 Alcobaça, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}