{:name "Ribeirense", :number "890", :address {:streetName nil, :raw "Avª 3 de Julho –Urbanização S.José –Loja 10 4760-713 RIBEIRÃO", :city "Ribeirão", :municipality "Vila Nova Famalicão", :longitude -8.5557273, :state "Braga", :zipcode "4760-713", :streetNumber nil, :googlePlaceId "ChIJ354U1bBeJA0R71sCazKH5XY", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.355194, :formattedAddress "4760-713 Ribeirão, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "145", :totalApproval "82.1", :bExams "137", :bApproval "81.8"}, :practice {:totalExams "132", :totalApproval "73.5", :bExams "123", :bApproval "74.0"}}}