{:name "Figueirinha FHR", :number "342", :address {:streetName nil, :raw "Rua da Figueira, Fracção A, Lote L, Caliços, 8200-131 ALBUFEIRA", :city "Albufeira", :municipality "Albufeira", :longitude -8.249816299999999, :state "Faro", :zipcode "8200", :streetNumber nil, :googlePlaceId "ChIJKSfnxpvOGg0RVwVGK8s6TyU", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1026799, :formattedAddress "Caliços, 8200 Albufeira, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "188", :totalApproval "74.5", :bExams "149", :bApproval "77.2"}, :practice {:totalExams "149", :totalApproval "65.1", :bExams "126", :bApproval "60.3"}}}