{:name "Stº André de Barcelinhos", :number "608", :address {:streetName nil, :raw "Lugar de Mereces 4755-065 BARCELINHOS", :city nil, :municipality "Barcelos", :longitude -8.6329272, :state "Braga", :zipcode "4755", :streetNumber nil, :googlePlaceId "ChIJ89RbSSFSJA0RGPvjpvbT1fM", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5199568, :formattedAddress "Mereces, 4755-065, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "43", :totalApproval "76.7", :bExams "36", :bApproval "77.8"}, :practice {:totalExams "60", :totalApproval "71.7", :bExams "46", :bApproval "69.6"}}}