{:name "Sentido Único", :number "1101", :address {:streetName nil, :raw "Rua de Santo Amaro n º 7 r/c 3090-401 FIGUEIRA DA FOZ", :city "Figueira da Foz", :municipality "Figueira da Foz", :longitude -8.857583, :state "Coimbra", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJQZzvPeA3Ig0R3vSp3Zgijoc", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1521398, :formattedAddress "Figueira da Foz, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "42", :totalApproval "69.0", :bExams "29", :bApproval "65.5"}, :practice {:totalExams "54", :totalApproval "72.2", :bExams "40", :bApproval "65.0"}}}