{:name "Bracarense Universitária", :number "774", :address {:streetName "Rua da Lameira", :raw "Rua da Lameira nº 16 4710-093 GUALTAR", :city "Braga", :municipality "Braga", :longitude -8.3878173, :state "Braga", :zipcode "4710", :streetNumber "16", :googlePlaceId "ChIJf2cRhy_8JA0RDOJDfxnjhSs", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5640442, :formattedAddress "Rua da Lameira 16, 4710-093 Braga, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "145", :totalApproval "76.6", :bExams "132", :bApproval "76.5"}, :practice {:totalExams "145", :totalApproval "97.2", :bExams "131", :bApproval "96.9"}}}