{:name "Fénix", :number "1032", :address {:streetName "Rua Dom Afonso Henriques", :raw "Rua D. Afonso Henriques nº 827 4435 -005 RIO TINTO", :city nil, :municipality "Gondomar", :longitude -8.5805151, :state "Porto", :zipcode "4435", :streetNumber "827", :googlePlaceId "EixSdWEgRG9tIEFmb25zbyBIZW5yaXF1ZXMgODI3LCA0NDM1LCBQb3J0dWdhbA", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1880689, :formattedAddress "Rua Dom Afonso Henriques 827, 4435, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "79", :totalApproval "74.7", :bExams "68", :bApproval "70.6"}, :practice {:totalExams "72", :totalApproval "70.8", :bExams "64", :bApproval "68.8"}}}