{:name "Vieira - Foz", :number "1000", :address {:streetName "Rua de Gondarém", :raw "Rua de Gondarém 926-928 4150-375 PORTO", :city "Porto", :municipality "Porto", :longitude -8.683131399999999, :state "Porto", :zipcode "4150", :streetNumber "926", :googlePlaceId "ChIJT0ea3AxvJA0R5SLzqAS3AkQ", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.160725, :formattedAddress "Rua de Gondarém 926, 4150-374 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "139", :totalApproval "69.1", :bExams "114", :bApproval "67.5"}, :practice {:totalExams "171", :totalApproval "64.9", :bExams "120", :bApproval "58.3"}}}