{:name "Amorense", :number "538", :address {:streetName "Rua Flores", :raw "Rua das Flores, 8 loja C 2845-367 AMORA", :city "Amora", :municipality "Seixal", :longitude -9.1128383, :state "Setúbal", :zipcode "2845", :streetNumber "8", :googlePlaceId "ChIJRyVCcRBKGQ0RMqRh90lR7ew", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.620164, :formattedAddress "Rua Flores 8, 2845-391 Amora, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "124", :totalApproval "67.7", :bExams "111", :bApproval "65.8"}, :practice {:totalExams "138", :totalApproval "55.8", :bExams "120", :bApproval "50.0"}}}