{:name "Seven", :number "1294", :address {:streetName nil, :raw "Travessa General Vitorino Laranjeiro, n.º 47; 4600-018 Amarante (São Gonçalo)", :city "Amarante", :municipality "Amarante", :longitude -8.0776022, :state "Porto", :zipcode "4600-018", :streetNumber nil, :googlePlaceId "ChIJyW-mluK-JA0R060-creDugU", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2769083, :formattedAddress "4600-018 Amarante, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "94", :totalApproval "77.7", :bExams "87", :bApproval "81.6"}, :practice {:totalExams "94", :totalApproval "45.7", :bExams "88", :bApproval "45.5"}}}