{:name "Rotações", :number "615", :address {:streetName "Rua Miguel Bombarda", :raw "Rua Miguel Bombarda, Nº 87 R/C 2830-354 BARREIRO", :city "Barreiro", :municipality "Barreiro", :longitude -9.073340199999999, :state "Setúbal", :zipcode "2830", :streetNumber "87", :googlePlaceId "ChIJt-JiyUY2GQ0Rb7KVeF5eWRQ", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6598299, :formattedAddress "Rua Miguel Bombarda 87, 2830-302 Barreiro, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "92", :totalApproval "75.0", :bExams "87", :bApproval "74.7"}, :practice {:totalExams "74", :totalApproval "70.3", :bExams "69", :bApproval "69.6"}}}