{:name "Santa Marinha - Autoagra", :number "944", :address {:streetName "Rua da Palheira", :raw "Lugar de Palheira 4575-011 ALPENDURADA e MATOS", :city nil, :municipality "Marco Canavezes", :longitude -8.246891699999999, :state "Porto", :zipcode "4575", :streetNumber nil, :googlePlaceId "ChIJiTZkJL6bJA0RLni60LgUOP4", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0863599, :formattedAddress "Rua da Palheira, 4575-052, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "94", :totalApproval "72.3", :bExams "84", :bApproval "69.0"}, :practice {:totalExams "106", :totalApproval "74.5", :bExams "96", :bApproval "72.9"}}}