{:name "Ermesindense", :number "875", :address {:streetName nil, :raw "Rua Rodrigues de Freitas, 1074 – 1º Esqº 4445-630 ERMESINDE", :city "Ermesinde", :municipality "Valongo", :longitude -8.544635999999999, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJXVm4EUFhJA0R4AILVhmw3gw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2090826, :formattedAddress "Ermesinde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "47", :totalApproval "72.3", :bExams "47", :bApproval "72.3"}, :practice {:totalExams "46", :totalApproval "69.6", :bExams "46", :bApproval "69.6"}}}