{:name "Zé Manel", :number "906", :address {:streetName nil, :raw "Lugar da Costa-Martim 4755-304 BARCELOS", :city "Martim", :municipality "Barcelos", :longitude -8.5156397, :state "Braga", :zipcode "4755", :streetNumber nil, :googlePlaceId "ChIJnZD16tpVJA0R0Dx9FSTWUB0", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5333449, :formattedAddress "4755 Martim, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "73", :totalApproval "78.1", :bExams "67", :bApproval "79.1"}, :practice {:totalExams "83", :totalApproval "89.2", :bExams "75", :bApproval "88.0"}}}