{:name "Novoensino", :number "803", :address {:streetName nil, :raw "Rua Pôr do Sol - Bloco 10, loja 1 e 2 7500-190 SANTIAGO do CACÉM", :city "Santiago do Cacém", :municipality "Santiago do Cacém", :longitude -8.7893302, :state "Setúbal", :zipcode "7500-190", :streetNumber nil, :googlePlaceId "ChIJP_xotXnBGw0RzlSjf2KEGV4", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.0626831, :formattedAddress "7500-190 Santiago do Cacém, Portugal", :duplicatedAtGMaps true, :district "Setúbal"}, :rating {:theory {:totalExams "17", :totalApproval "64.7", :bExams "17", :bApproval "64.7"}, :practice {:totalExams "12", :totalApproval "75.0", :bExams "12", :bApproval "75.0"}}}