{:name "Alhandra Rio", :number "726", :address {:streetName nil, :raw "Rua Doutor Augusto Assis 11 2600-416 Alhandra", :city "Alhandra", :municipality "Vila Franca Xira", :longitude -9.0105445, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 38.9260702, :formattedAddress "2600-416 Alhandra, Portugal", :duplicatedAtGMaps nil, :district "Lisboa"}, :rating {:theory {:totalExams "94", :totalApproval "75.5", :bExams "81", :bApproval "72.8"}, :practice {:totalExams "82", :totalApproval "69.5", :bExams "66", :bApproval "65.2"}}}