{:name "Estrela do Arda", :number "1026", :address {:streetName "Avenida Jean Tyssen", :raw "Avª Jean Tyssen-Oliveira do Arda-Raiva 4550-100 CASTELO DE PAIVA", :city nil, :municipality "Castelo de Paiva", :longitude -8.3570682, :state "Aveiro", :zipcode "4550", :streetNumber nil, :googlePlaceId "ChIJV-kHupiDJA0R-TUyRnoCrj8", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 41.0372352, :formattedAddress "Avenida Jean Tyssen, 4550, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "36", :totalApproval "69.4", :bExams "34", :bApproval "70.6"}, :practice {:totalExams "24", :totalApproval "58.3", :bExams "24", :bApproval "58.3"}}}