{:name "Cabeceirense", :number "299", :address {:streetName "Avenida General Humberto Delgado", :raw "Avª General Humberto Delgado, S/Nº 4860-351 REFOJOS de BASTO", :city "Cabeceiras de Basto", :municipality "Cabeiras Basto", :longitude -7.992096800000001, :state "Braga", :zipcode "4860", :streetNumber nil, :googlePlaceId "ChIJlTE0nfraJA0Rs8OVaCY4ikU", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5147201, :formattedAddress "Avenida General Humberto Delgado, 4860-351 Cabeceiras de Basto, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "108", :totalApproval "67.6", :bExams "85", :bApproval "65.9"}, :practice {:totalExams "121", :totalApproval "66.9", :bExams "90", :bApproval "65.6"}}}