{:name "Auto Dinâmica - Ribeira de Pena", :number "877", :address {:streetName nil, :raw "Estrada da Variante – Edifício Novo 4870-163 RIBEIRA DE PENA (SALVADOR)", :city "Ribeira de Pena", :municipality "Ribeira de Pena", :longitude -7.793851, :state "Vila Real", :zipcode "4870", :streetNumber nil, :googlePlaceId "ChIJ5TJDL8XSJA0RG-C-9TBM0Ns", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.5199011, :formattedAddress "4870 Ribeira de Pena, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "41", :totalApproval "68.3", :bExams "37", :bApproval "67.6"}, :practice {:totalExams "43", :totalApproval "44.2", :bExams "39", :bApproval "41.0"}}}