{:name "Areias Mar", :number "1261", :address {:streetName nil, :raw "Rua Camilo Castelo Branco, Nº 60 Edificio Areias do Mar, cave, Parte B, Loja 9 8200-276 Albufeira", :city "Albufeira", :municipality "Albufeira", :longitude -8.2478796, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJH8TdOK7OGg0RRRBEYqXnIu0", :stateCode nil, :noEntriesAtGMaps false, :latitude 37.0890719, :formattedAddress "Albufeira, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "111", :totalApproval "69.4", :bExams "98", :bApproval "69.4"}, :practice {:totalExams "111", :totalApproval "49.5", :bExams "86", :bApproval "44.2"}}}