{:name "Carlos Vaz", :number "595", :address {:streetName nil, :raw "Praça D. Dinis n º 61 r/c 5360-377 Vila Flor", :city "Vila Flor", :municipality nil, :longitude -7.1534675, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.3082814, :formattedAddress "5360 Vila Flor, Portugal", :duplicatedAtGMaps nil, :district "Bragança"}, :rating {:theory {:totalExams "22", :totalApproval "63.6", :bExams "21", :bApproval "66.7"}, :practice {:totalExams "18", :totalApproval "55.6", :bExams "17", :bApproval "52.9"}}}