{:name "Arões", :number "1194", :address {:raw "Lugar de Porinhos-Loteamento do Telhado, 1 4820-748 Arões ", :municipality "Fafe", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.44933, :longitude -8.211986999999999, :formattedAddress "Arões, 4820 Arões (São Romão), Portugal"}, :rating {:theory {:totalExams "95", :totalApproval "68.4", :bExams "83", :bApproval "68.7"}, :practice {:totalExams "109", :totalApproval "69.7", :bExams "94", :bApproval "69.1"}}}