{:name "Automóvel Clube de Portugal", :number "2", :address {:streetName "Estrada Exterior da Circunvalação", :raw "Estrada Exterior da Circunvalação, 8154 4200-163 PORTO", :city nil, :municipality "Porto", :longitude -8.5726847, :state "Porto", :zipcode nil, :streetNumber "8154", :googlePlaceId "EjJFc3RyYWRhIEV4dGVyaW9yIGRhIENpcmN1bnZhbGHDp8OjbyA4MTU0LCBQb3J0dWdhbA", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1794651, :formattedAddress "Estrada Exterior da Circunvalação 8154, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "270", :totalApproval "83.3", :bExams "264", :bApproval "83.3"}, :practice {:totalExams "273", :totalApproval "70.0", :bExams "267", :bApproval "69.3"}}}