{:name "Campo Grande", :number "1256", :address {:streetName "Avenida do Brasil", :raw "Avenida do Brasil, Nº 1-1º 1600-152 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.151127599999999, :state "Lisboa", :zipcode "1700", :streetNumber "1", :googlePlaceId "ChIJQ4abCv4yGQ0RmdA4MX26uVI", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7551612, :formattedAddress "Avenida do Brasil 1, 1700-162 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "641", :totalApproval "72.4", :bExams "615", :bApproval "72.7"}, :practice {:totalExams "642", :totalApproval "60.1", :bExams "622", :bApproval "59.3"}}}