{:name "G. Gomes - Guarda", :number "83", :address {:streetName "Largo General Humberto Delgado", :raw "Largo General Humberto Delgado, 39-1º 6300-712 GUARDA", :city "Guarda", :municipality "Guarda", :longitude -7.267634699999999, :state "Guarda", :zipcode "6300", :streetNumber "39", :googlePlaceId "EjxMYXJnbyBHZW5lcmFsIEh1bWJlcnRvIERlbGdhZG8gMzksIDYzMDAtMDM1IEd1YXJkYSwgUG9ydHVnYWw", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.5362224, :formattedAddress "Largo General Humberto Delgado 39, 6300-035 Guarda, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "124", :totalApproval "75.0", :bExams "92", :bApproval "72.8"}, :practice {:totalExams "125", :totalApproval "53.6", :bExams "81", :bApproval "44.4"}}}