{:name "Costa Azul", :number "1122", :address {:streetName "Rua da República", :raw "Rua da República, lote 344 r/c 2865-065 FERNÃO FERRO", :city "Fernão Ferro", :municipality "Seixal", :longitude -9.086577000000002, :state "Setúbal", :zipcode "2865", :streetNumber "344", :googlePlaceId "ChIJ6z8ijkVJGQ0RdgtxP27gDl0", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.5620634, :formattedAddress "Rua da República 344, 2865 Fernão Ferro, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "80", :totalApproval "68.8", :bExams "69", :bApproval "68.1"}, :practice {:totalExams "84", :totalApproval "79.8", :bExams "72", :bApproval "77.8"}}}