{:name "Novo Engenho", :number "1329", :address {:streetName "Avenida Monte de Cima", :raw "Avenida Monte de Cima, n.º10, 4535-268 PAÇOS DE BRANDÃO", :city nil, :municipality "Santa Maria da Feira", :longitude -8.5810055, :state "Aveiro", :zipcode "4535", :streetNumber "268", :googlePlaceId "EilBdmVuaWRhIE1vbnRlIGRlIENpbWEgMjY4LCA0NTM1LCBQb3J0dWdhbA", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.9744067, :formattedAddress "Avenida Monte de Cima 268, 4535, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}