{:name "Amarantina", :number "428", :address {:streetName "Rua João Pinto Ribeiro", :raw "Rua João Pinto Ribeiro, 39 4600-084 AMARANTE", :city "Amarante", :municipality "Amarante", :longitude -8.0830302, :state "Porto", :zipcode "4600", :streetNumber "39", :googlePlaceId "ChIJR2HZdfy-JA0RwBDzQGvyH-s", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2725597, :formattedAddress "Rua João Pinto Ribeiro 39, 4600-758 Amarante, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "45", :totalApproval "75.6", :bExams "36", :bApproval "75.0"}, :practice {:totalExams "50", :totalApproval "56.0", :bExams "37", :bApproval "48.6"}}}