{:name "Ebenézer", :number "1181", :address {:streetName "Rua Artur Bual", :raw "Rua Artur Bual, Nº 1 R/C Loja 2 2675-604 ODIVELAS", :city "Odivelas", :municipality "Odivelas", :longitude -9.178247599999999, :state "Lisboa", :zipcode "2675", :streetNumber "1", :googlePlaceId "ChIJW3eWD1otGQ0Rk58h5x52Is4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7992673, :formattedAddress "Rua Artur Bual 1, 2675-209 Odivelas, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "47", :totalApproval "72.3", :bExams "43", :bApproval "74.4"}, :practice {:totalExams "43", :totalApproval "48.8", :bExams "40", :bApproval "45.0"}}}