{:name "Colina do Sol", :number "791", :address {:streetName "Largo Poeta Ary dos Santos", :raw "Largo Poeta Ary dos Santos, lote 1, 1 B e 1 C 2700-662 AMADORA", :city "Amadora", :municipality "Amadora", :longitude -9.2075665, :state "Lisboa", :zipcode "2650", :streetNumber "1C", :googlePlaceId "ChIJI3AojDzNHg0RJ73Xaud0z7Y", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7620498, :formattedAddress "Largo Poeta Ary dos Santos 1C, 2650-188 Amadora, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "97", :totalApproval "59.8", :bExams "89", :bApproval "57.3"}, :practice {:totalExams "91", :totalApproval "59.3", :bExams "83", :bApproval "59.0"}}}