{:name "Instromóvel", :number "796", :address {:streetName nil, :raw "Várzea do Choupal -Edifício Choupal r/c Esqº -Corpo C 2560-230 TORRES VEDRAS", :city "Torres Vedras", :municipality "Torres Vedras", :longitude -9.2600341, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJUxs6LcItHw0RiKarfvzELMo", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.09177589999999, :formattedAddress "Torres Vedras, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "50", :totalApproval "66.0", :bExams "37", :bApproval "64.9"}, :practice {:totalExams "78", :totalApproval "88.5", :bExams "63", :bApproval "87.3"}}}