{:name "Campense", :number "986", :address {:streetName "Rua Trindade", :raw "Rua da Trindade nº 45 4795-489 CAMPO (SÃO MARTINHO)", :city nil, :municipality "Santo Tirso", :longitude -8.366420300000001, :state "Porto", :zipcode "4795", :streetNumber "45", :googlePlaceId "Eh9SdWEgVHJpbmRhZGUgNDUsIDQ3OTUsIFBvcnR1Z2Fs", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3581379, :formattedAddress "Rua Trindade 45, 4795, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "160", :totalApproval "81.3", :bExams "135", :bApproval "80.7"}, :practice {:totalExams "185", :totalApproval "56.2", :bExams "159", :bApproval "53.5"}}}