{:name "Nossa Senhora da Saúde", :number "703", :address {:streetName nil, :raw "Rua Maria do Carmo Carmona-Edificio Terra Quente, Nº 10 5430-469 VALPAÇOS", :city "Valpaços", :municipality "Valpaços", :longitude -7.3109056, :state "Vila Real", :zipcode "5430", :streetNumber nil, :googlePlaceId "ChIJeRu5MHsbOw0RexOPDEyGIDE", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.608716, :formattedAddress "5430 Valpaços, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "89", :totalApproval "68.5", :bExams "70", :bApproval "65.7"}, :practice {:totalExams "105", :totalApproval "62.9", :bExams "71", :bApproval "59.2"}}}