{:name "Almansor", :number "815", :address {:streetName nil, :raw "Av. Miguel Bombarda, Nº24 2745-172 QUELUZ", :city "Queluz", :municipality "Sintra", :longitude -9.2568785, :state "Lisbon", :zipcode "2745-172", :streetNumber nil, :googlePlaceId "ChIJ1zd6UcfNHg0RmTscsD06NMM", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7608237, :formattedAddress "2745-172 Queluz, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "269", :totalApproval "63.6", :bExams "263", :bApproval "62.7"}, :practice {:totalExams "207", :totalApproval "52.2", :bExams "201", :bApproval "50.7"}}}