{:name "Briosa", :number "1112", :address {:streetName "Rua Carlos Seixas", :raw "Rua Carlos Seixas nº 163 3030-177 COIMBRA", :city "Coimbra", :municipality "Coimbra", :longitude -8.4167773, :state "Coimbra", :zipcode "3030-177", :streetNumber "163", :googlePlaceId "ChIJrT63vpf5Ig0RYRm6FitaiG4", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1948395, :formattedAddress "Rua Carlos Seixas 163, 3030-177 Coimbra, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "246", :totalApproval "89.8", :bExams "226", :bApproval "89.8"}, :practice {:totalExams "238", :totalApproval "67.6", :bExams "218", :bApproval "65.1"}}}