{:name "Estrada Real", :number "1109", :address {:streetName "Avenida Doutor Moreira Sousa", :raw "Avª Dr. Moreira de Sousa nº 3997 R/C 4415-386 PEDROSO", :city "Pedroso", :municipality "Vila Nova Gaia", :longitude -8.562661, :state "Porto", :zipcode "4415", :streetNumber "3997", :googlePlaceId "ChIJwyyIIKh-JA0R6cOqP9q-rGo", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0427699, :formattedAddress "Avenida Doutor Moreira Sousa 3997, 4415 Pedroso, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "105", :totalApproval "70.5", :bExams "98", :bApproval "68.4"}, :practice {:totalExams "104", :totalApproval "82.7", :bExams "99", :bApproval "82.8"}}}