{:name "Sorraia", :number "641", :address {:streetName "Rua do Comercio", :raw "Rua do Comércio, nº 18 a 24 2100-330 COUÇO", :city "Couço", :municipality "Coruche", :longitude -8.287417699999999, :state "Santarém", :zipcode "2100", :streetNumber "18", :googlePlaceId "EilSdWEgZG8gQ29tZXJjaW8gMTgsIDIxMDAgQ291w6dvLCBQb3J0dWdhbA", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 38.9879888, :formattedAddress "Rua do Comercio 18, 2100 Couço, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "49", :totalApproval "55.1", :bExams "41", :bApproval "51.2"}, :practice {:totalExams "50", :totalApproval "80.0", :bExams "36", :bApproval "77.8"}}}