{:name "Saldanha", :number "44", :address {:streetName nil, :raw "Av.ª Fontes Pereira de Melo, n.º 31 – Galeria Esquerda ; 1050-117 Lisboa", :city "Lisboa", :municipality "Lisboa", :longitude -9.146963399999999, :state "Lisbon", :zipcode "1050-117", :streetNumber nil, :googlePlaceId "ChIJazsNmHUzGQ0RWZDwWoCtVkA", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7303613, :formattedAddress "1050-117 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "640", :totalApproval "70.3", :bExams "604", :bApproval "69.5"}, :practice {:totalExams "591", :totalApproval "60.6", :bExams "560", :bApproval "58.9"}}}