{:name "Pioneira", :number "50", :address {:streetName nil, :raw "Prª Olegário Mariano,Nº  6-2º 1170-278 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1333203, :state "Lisbon", :zipcode "1170-278", :streetNumber nil, :googlePlaceId "ChIJaUCGbJczGQ0RZExITNrFLKY", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7310656, :formattedAddress "1170-278 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}