{:name "M. R. Ascenção", :number "235", :address {:streetName "Avenida Primeiro de Maio", :raw "Avª 1º de Maio, Lote 1-2º 6270-479 SEIA", :city "Seia", :municipality "Seia", :longitude -7.7036783999999, :state "Guarda", :zipcode "6270-221", :streetNumber "1", :googlePlaceId "ChIJCba_lMDWPA0RUpaTmHI_QJg", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.4184585, :formattedAddress "Avª 1º de Maio, Lote 1-2º 6270-479 SEIA", :duplicatedAtGMaps true, :district "Guarda"}, :contacts {:phone 238311686, :fax 238311686, :website "", :facebook "https://www.facebook.com/MRAscensao"}, :rating {:theory {:totalExams "143", :totalApproval "84.6", :bExams "129", :bApproval "83.7"}, :practice {:totalExams "167", :totalApproval "84.4", :bExams "138", :bApproval "81.9"}}}