{:name "Santa Luzia", :number "516", :address {:streetName nil, :raw "Rua de Aveiro 61, 4900-495 Viana do Castelo", :city "Viana do Castelo", :municipality "Viana Castelo", :longitude -8.8251376, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.6966886, :formattedAddress "R. do Aveiro 61, 4900-560 Viana do Castelo, Portugal", :duplicatedAtGMaps nil, :district "Viana do Castelo"}, :rating {:theory {:totalExams "340", :totalApproval "86.8", :bExams "260", :bApproval "86.5"}, :practice {:totalExams "380", :totalApproval "75.5", :bExams "271", :bApproval "68.6"}}}