{:name "Bateira", :number "1062", :address {:streetName nil, :raw "Lugar de Santa Eulália - Edificio Multirefional r/c - Souselo 4690-666 SOUSELO", :city "Souselo", :municipality "Cinfães", :longitude -8.228494399999999, :state "Viseu", :zipcode "4690", :streetNumber nil, :googlePlaceId "ChIJm1epbPmbJA0RkstdS-LWrxk", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 41.0710187, :formattedAddress "4690-629 Souselo, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "58", :totalApproval "65.5", :bExams "52", :bApproval "67.3"}, :practice {:totalExams "61", :totalApproval "86.9", :bExams "53", :bApproval "84.9"}}}