{:name "Nova Via", :number "1190", :address {:streetName nil, :raw "Rua Teófilo Braga, Nº 814, 5370-198 MIRANDELA", :city "Mirandela", :municipality "Mirandela", :longitude -7.180871100000001, :state "Bragança", :zipcode "5370", :streetNumber nil, :googlePlaceId "ChIJgSGFNM0OOw0RP7WRmCCEMu4", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.4853545, :formattedAddress "5370 Mirandela, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "15", :totalApproval "66.7", :bExams "15", :bApproval "66.7"}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}