{:name "Mondego", :number "713", :address {:streetName "Rua das Escadinhas", :raw "Escadinhas 3140 MONTEMOR-O-VELHO", :city "Montemor-o-Velho", :municipality "Montemor o Velho", :longitude -8.670231099999999, :state "Coimbra", :zipcode "3140", :streetNumber nil, :googlePlaceId "ChIJfe0hKM9PIg0R9KGhduVA14o", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1817009, :formattedAddress "Rua das Escadinhas, 3140 Montemor-o-Velho, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "98", :totalApproval "84.7", :bExams "70", :bApproval "82.9"}, :practice {:totalExams "142", :totalApproval "87.3", :bExams "76", :bApproval "78.9"}}}