{:name "Monte Redondo", :number "880", :address {:streetName nil, :raw "N109 4A, 2425-603 Leiria", :city "Lavegadas do Meio", :municipality "Leiria", :longitude -8.8354159, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 39.8905415, :formattedAddress "N109 4A, 2425-623, Portugal", :duplicatedAtGMaps nil, :district "Leiria"}, :rating {:theory {:totalExams "91", :totalApproval "65.9", :bExams "66", :bApproval "59.1"}, :practice {:totalExams "102", :totalApproval "73.5", :bExams "64", :bApproval "62.5"}}}