{:name "Nova de Aveiro", :number "1322", :address {:streetName nil, :raw "Av. 5 de Outubro, n.º 21, R/C Dtº, 3800 - 428 AVEIRO", :city "Aveiro", :municipality "Aveiro", :longitude -8.6537539, :state "Aveiro District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJjeey1Q6YIw0RBx88Ac3hQjA", :stateCode "Aveiro District", :noEntriesAtGMaps false, :latitude 40.6405055, :formattedAddress "Aveiro, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "272", :totalApproval "77.6", :bExams "232", :bApproval "78.0"}, :practice {:totalExams "178", :totalApproval "64.6", :bExams "151", :bApproval "60.3"}}}