{:name "Estremocense", :number "423", :address {:streetName nil, :raw "Av. 9 de Abril, n.º 72, 7100-500 ESTREMOZ", :city "Estremoz", :municipality "Estremoz", :longitude -7.588837799999999, :state "Évora District", :zipcode "7100", :streetNumber nil, :googlePlaceId "ChIJ21mj6kBvFw0R_RDEecWRv_U", :stateCode "Évora District", :noEntriesAtGMaps false, :latitude 38.8425123, :formattedAddress "7100 Estremoz, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "90", :totalApproval "68.9", :bExams "77", :bApproval "66.2"}, :practice {:totalExams "86", :totalApproval "86.0", :bExams "72", :bApproval "83.3"}}}