{:name "Nova Moita", :number "915", :address {:streetName nil, :raw "Urbanização Nova Moita, lote 7 r/c Esqº 2860 MOITA", :city "Moita", :municipality "Moita", :longitude -8.9902047, :state "Setúbal", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ-cQZqIFHGQ0RQAiR5L3rAAU", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6527329, :formattedAddress "Moita, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "106", :totalApproval "80.2", :bExams "106", :bApproval "80.2"}, :practice {:totalExams "119", :totalApproval "77.3", :bExams "118", :bApproval "77.1"}}}