{:name "Stop Real", :number "1130", :address {:streetName nil, :raw "Quinta da Arancária, Lote 1 – Bloco A – loja 1 5000-000 VILA REAL (SÃO PEDRO)", :city nil, :municipality "Vila Real", :longitude -7.733522599999999, :state "Vila Real", :zipcode "5000", :streetNumber nil, :googlePlaceId "ChIJxb2QqK5LOw0REL-Q5L3rAAU", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.294033, :formattedAddress "São Pedro, 5000, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "62", :totalApproval "71.0", :bExams "57", :bApproval "71.9"}, :practice {:totalExams "94", :totalApproval "54.3", :bExams "86", :bApproval "52.3"}}}