{:name "Nelmar", :number "527", :address {:streetName "Rua Gil Vicente", :raw "Rua Gil Vicente, Nº 40-A 5340-271 MACEDO CAVALEIROS", :city "Macedo de Cavaleiros", :municipality "Macedo Cavaleiros", :longitude -6.9661781, :state "Bragança", :zipcode "5340-271", :streetNumber "40", :googlePlaceId "ChIJ6a-vBJ2lOw0RtI0JkZpIHBQ", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.5379868, :formattedAddress "Rua Gil Vicente 40, 5340-271 Macedo de Cavaleiros, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "33", :totalApproval "51.5", :bExams "28", :bApproval "50.0"}, :practice {:totalExams "29", :totalApproval "48.3", :bExams "23", :bApproval "39.1"}}}