{:name "Babilónia", :number "1187", :address {:streetName nil, :raw "Rua José D' Esaguy, n.º 8, 1750-091 LISBOA", :city nil, :municipality "Lisboa", :longitude -9.1511502, :state "Lisbon", :zipcode "1750", :streetNumber nil, :googlePlaceId "ChIJjc91UIwyGQ0RwJs7DsHrABw", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7799246, :formattedAddress "1750, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "145", :totalApproval "63.4", :bExams "145", :bApproval "63.4"}, :practice {:totalExams "85", :totalApproval "64.7", :bExams "85", :bApproval "64.7"}}}