{:name "Universia", :number "1305", :address {:streetName nil, :raw "Rua António Jesus André, n.º 10, Loja   2825-146 CAPARICA", :city "Monte de Caparica", :municipality "Almada", :longitude -9.1974128, :state "Setúbal", :zipcode "2825-146", :streetNumber nil, :googlePlaceId "ChIJwSt0RtbKHg0RUmDMPyWm7Sw", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6655914, :formattedAddress "2825-146 Monte de Caparica, Portugal", :duplicatedAtGMaps true, :district "Setúbal"}, :rating {:theory {:totalExams "139", :totalApproval "66.9", :bExams "133", :bApproval "66.2"}, :practice {:totalExams "154", :totalApproval "44.8", :bExams "149", :bApproval "43.6"}}}