{:name "Quinta das Fontes", :number "1054", :address {:streetName "Rua Adelino Arantes", :raw "Rua Adelino Arantes nº 22 4700-357 BRAGA (S. VICENTE)", :city "Braga", :municipality "Braga", :longitude -8.4190049, :state "Braga", :zipcode "4700", :streetNumber "22", :googlePlaceId "ChIJb1xByOz-JA0RC_Q1Vt3lJCs", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5580337, :formattedAddress "Rua Adelino Arantes 22, 4700-357 Braga, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "106", :totalApproval "69.8", :bExams "97", :bApproval "69.1"}, :practice {:totalExams "98", :totalApproval "61.2", :bExams "88", :bApproval "59.1"}}}