{:name "Infante de Sagres –Tavira", :number "609", :address {:streetName "Rua 4 de Outubro", :raw "Rua 4 de Outubro,20 r/c 8800-362 TAVIRA", :city "Tavira", :municipality "Tavira", :longitude -7.6463318, :state "Faro", :zipcode "8800", :streetNumber "20", :googlePlaceId "ChIJi081UXADEA0Rv_N2ok_zXzc", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1232347, :formattedAddress "Rua 4 de Outubro 20, 8800-337 Tavira, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "73", :totalApproval "57.5", :bExams "55", :bApproval "50.9"}, :practice {:totalExams "66", :totalApproval "69.7", :bExams "44", :bApproval "63.6"}}}