{:name "Lusitânea de Automobilismo", :number "10", :address {:streetName "Avenida Rovisco Pais", :raw "Avª Rovisco Pais, 14 e 14 C 1000-268 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.138889299999999, :state "Lisboa", :zipcode "1000", :streetNumber "14", :googlePlaceId "ChIJYXJ8FKIzGQ0RNAtjalN2_gw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7351637, :formattedAddress "Avenida Rovisco Pais 14, 1000-005 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "144", :totalApproval "81.3", :bExams "124", :bApproval "83.1"}, :practice {:totalExams "156", :totalApproval "57.7", :bExams "131", :bApproval "51.1"}}}