{:name "Assunção", :number "1038", :address {:streetName nil, :raw "Rua do Barreiro, Nº 19 R/C, Fracção N/Bloco 1 4780-406 SANTO TIRSO", :city "Santo Tirso", :municipality "Santo Tirso", :longitude -8.4738078, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJeVoMe2FfJA0RZ1lFOuyeFKc", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3431376, :formattedAddress "Santo Tirso, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "118", :totalApproval "72.0", :bExams "100", :bApproval "71.0"}, :practice {:totalExams "119", :totalApproval "78.2", :bExams "105", :bApproval "76.2"}}}