{:name "Opção", :number "702", :address {:raw "Avª de França, 975 A 4760-282 CALENDÁRIO", :municipality "Vila Nova Famalicão", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.4033191, :longitude -8.525284899999999, :formattedAddress "Av. de França 975, 4760-412, Portugal"}, :rating {:theory {:totalExams "201", :totalApproval "73.1", :bExams "166", :bApproval "72.9"}, :practice {:totalExams "247", :totalApproval "62.3", :bExams "194", :bApproval "57.7"}}}