{:name "Victória", :number "8", :address {:streetName nil, :raw "Rua Palmira, 64 – 1º Esqº 1170 -286 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1262461, :state "Lisbon", :zipcode "1170", :streetNumber nil, :googlePlaceId "ChIJZc75hI0zGQ0R0Jw7DsHrABw", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.72217089999999, :formattedAddress "1170 Lisbon, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "152", :totalApproval "66.4", :bExams "139", :bApproval "67.6"}, :practice {:totalExams "153", :totalApproval "59.5", :bExams "136", :bApproval "57.4"}}}