{:name "Dois Volantes", :number "1172", :address {:raw "Rua do Estádio, N 162 R/C 4590-571 FRAZÃO", :municipality "Paços de Ferreira", :district "Porto", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.2697243, :longitude -8.384600599999999, :formattedAddress "R. do Estádio 162, 4590 Paços de Ferreira, Portugal"}, :rating {:theory {:totalExams "91", :totalApproval "78.0", :bExams "77", :bApproval "80.5"}, :practice {:totalExams "86", :totalApproval "44.2", :bExams "73", :bApproval "35.6"}}}