{:name "Bom Jesus - Lomar", :number "926", :address {:streetName "Rua José Lopes Silva Granja", :raw "Rua José Lopes da Silva Granja, 50, Lomar, 4715-234 Braga", :city "Braga", :municipality "Braga", :longitude -8.4279958, :state "Braga", :zipcode "4705", :streetNumber "50", :googlePlaceId "EjVSdWEgSm9zw6kgTG9wZXMgU2lsdmEgR3JhbmphIDUwLCA0NzA1IEJyYWdhLCBQb3J0dWdhbA", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5266008, :formattedAddress "Rua José Lopes Silva Granja 50, 4705 Braga, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "23", :totalApproval "78.3", :bExams "10", :bApproval "80.0"}, :practice {:totalExams "18", :totalApproval "83.3", :bExams "9", :bApproval "66.7"}}}