{:name "Redondo", :number "301", :address {:streetName "Rua do Lagar", :raw "Rua do Lagar, 4 7170-079 REDONDO", :city "Redondo", :municipality "Redondo", :longitude -7.546652000000001, :state "Évora", :zipcode "7170-079", :streetNumber "4", :googlePlaceId "ChIJ9fzAU21EFw0RnZppwbqmLEQ", :stateCode "Évora", :noEntriesAtGMaps false, :latitude 38.64994340000001, :formattedAddress "Rua do Lagar 4, 7170-079 Redondo, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "45", :totalApproval "75.6", :bExams "45", :bApproval "75.6"}, :practice {:totalExams "52", :totalApproval "65.4", :bExams "52", :bApproval "65.4"}}}