{:name "S. Jorge", :number "1043", :address {:raw "Travessa da Igreja, 4835-060 Guimarães", :municipality "Guimarães", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.438211, :longitude -8.310598, :formattedAddress "Travessa da Igreja, Bloco 10, Loja 8, 4835-060 Guimarães"}, :rating {:theory {:totalExams "75", :totalApproval "65.3", :bExams "72", :bApproval "63.9"}, :practice {:totalExams "73", :totalApproval "71.2", :bExams "66", :bApproval "68.2"}}}