{:name "Auto Esperança", :number "742", :address {:streetName nil, :raw "Urbanização Amendoeiras, Lote 15, R/C H, 8900-282 VILA REAL de SANTO ANTÓNIO", :city "Vila Real de Santo António", :municipality "V. R. Stº António", :longitude -7.4209255, :state "Faro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJNXz7_GMiEA0Rmh8-yQAVANw", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1937172, :formattedAddress "Vila Real de Santo António, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "48", :totalApproval "60.4", :bExams "42", :bApproval "54.8"}, :practice {:totalExams "38", :totalApproval "73.7", :bExams "34", :bApproval "76.5"}}}