{:name "Colinas do Cruzeiro", :number "563", :address {:streetName "Praça Cidade de Odivelas", :raw "Praça Cidade de Odivelas, Loja B, Lote 3- Colinas do Cruzeiro 2675-223 Odivelas", :city "Odivelas", :municipality "Odivelas", :longitude -9.1904488, :state "Lisboa", :zipcode "2675-639", :streetNumber "9", :googlePlaceId "ChIJB5RIuVTNHg0RcOpItyN822Y", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.78758089999999, :formattedAddress "Escola de Condução Colinas do Cruzeiro, Praça Cidade de Odivelas 9, 2675-639 Odivelas, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "402", :totalApproval "64.4", :bExams "335", :bApproval "62.4"}, :practice {:totalExams "328", :totalApproval "67.1", :bExams "264", :bApproval "60.6"}}}