{:name "Taveiro", :number "1318", :address {:streetName nil, :raw "Rua Soldado José dos Santos Calhau, n.º 14 ; 3045-481 Taveiro", :city "Taveiro", :municipality "Coimbra", :longitude -8.5056659, :state "Coimbra", :zipcode "3045-481", :streetNumber nil, :googlePlaceId "ChIJowbUejVWIg0R8iKng6n5CjI", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.2019549, :formattedAddress "3045-481 Taveiro, Portugal", :duplicatedAtGMaps true, :district "Coimbra"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "47", :totalApproval "87.2", :bExams "43", :bApproval "88.4"}}}