{:name "Actual", :number "1218", :address {:raw "Cimo Da Inha-Escariz, 4540-299 Arouca, Aveiro", :municipality "Arouca", :district "Aveiro", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 40.9451918, :longitude -8.4204935, :formattedAddress "Cimo Da Inha-Escariz, 4540-299 Arouça, Aveiro"}, :rating {:theory {:totalExams "43", :totalApproval "76.7", :bExams "33", :bApproval "75.8"}, :practice {:totalExams "51", :totalApproval "78.4", :bExams "39", :bApproval "82.1"}}}