{:name "Eficiência", :number "1299", :address {:streetName nil, :raw "Av.ª da Indústria Têxtil, n.º 330 ; 4795-548 São Tomé Negrelos", :city "São Tomé", :municipality "Santo Tirso", :longitude -8.4049065, :state "Porto", :zipcode "4795", :streetNumber nil, :googlePlaceId "ChIJw_fd0nb0JA0RafriKUPtY1o", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3470405, :formattedAddress "São Tomé Negrelos, 4795 São Tomé, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "106", :totalApproval "77.4", :bExams "98", :bApproval "76.5"}, :practice {:totalExams "85", :totalApproval "67.1", :bExams "76", :bApproval "67.1"}}}