{:name "Moderna - Castro Daire", :number "312", :address {:streetName "Avenida General Humberto Delgado", :raw "Avª General Humberto Delgado 3600-187 CASTRO DAIRE", :city "Castro Daire", :municipality "Castro Daire", :longitude -7.9325899, :state "Viseu", :zipcode "3600", :streetNumber nil, :googlePlaceId "ChIJ9TmpG-xQIw0RkPpJkFpiRlI", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.9019953, :formattedAddress "Avenida General Humberto Delgado, 3600 Castro Daire, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "101", :totalApproval "72.3", :bExams "78", :bApproval "70.5"}, :practice {:totalExams "95", :totalApproval "64.2", :bExams "74", :bApproval "60.8"}}}