{:name "Ovarense", :number "172", :address {:streetName nil, :raw "Rotunda S. Cristóvão, Nº 179-1º Dt 3880-070 OVAR", :city "Ovar", :municipality "Ovar", :longitude -8.6253313, :state "Aveiro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJb9QJhY6FIw0R9ldMxsEpU74", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.8596399, :formattedAddress "Ovar, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "190", :totalApproval "76.3", :bExams "163", :bApproval "76.1"}, :practice {:totalExams "196", :totalApproval "83.2", :bExams "155", :bApproval "79.4"}}}