{:name "Andrade", :number "419", :address {:streetName "Rua 5 de Outubro", :raw "Rua 5 de Outubro, 6 –1º C 2100 CORUCHE", :city "Coruche", :municipality "Coruche", :longitude -8.5235738, :state "Santarém", :zipcode "2100", :streetNumber "6", :googlePlaceId "Ei5SdWEgNSBkZSBPdXR1YnJvIDYsIDIxMDAtMjI4IENvcnVjaGUsIFBvcnR1Z2Fs", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 38.9588409, :formattedAddress "Rua 5 de Outubro 6, 2100-228 Coruche, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "112", :totalApproval "62.5", :bExams "89", :bApproval "60.7"}, :practice {:totalExams "110", :totalApproval "73.6", :bExams "80", :bApproval "63.8"}}}