{:name "Auto Portalegre", :number "633", :address {:streetName "Rua dos Muros de Baixo", :raw "Rua dos Muros de Baixo, 2 - 1º 7300-172 PORTALEGRE", :city "Portalegre", :municipality "Portalegre", :longitude -7.431437600000001, :state "Portalegre", :zipcode "7300", :streetNumber "2", :googlePlaceId "ChIJR3duNYK9Fw0R1QtC62qYuL0", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 39.29323309999999, :formattedAddress "Rua dos Muros de Baixo 2, 7300-126 Portalegre, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "85", :totalApproval "83.5", :bExams "78", :bApproval "84.6"}, :practice {:totalExams "89", :totalApproval "93.3", :bExams "81", :bApproval "92.6"}}}