{:name "Malhoa", :number "1314", :address {:streetName nil, :raw "Rua General Amílcar Mota, n.º 21 ; 2500-209 Caldas da Rainha", :city "Caldas da Rainha", :municipality "Caldas da Rainha", :longitude -9.135404, :state "Leiria", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ0aKCoFCyGA0RnPyOjo0ZmrM", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.4048977, :formattedAddress "Caldas da Rainha, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "113", :totalApproval "74.3", :bExams "101", :bApproval "72.3"}, :practice {:totalExams "118", :totalApproval "67.8", :bExams "107", :bApproval "64.5"}}}