{:name "Patais", :number "1147", :address {:streetName nil, :raw "Rua Costa Veiga, n.º 56 ; 2460-028 Alcobaça", :city "Alcobaça", :municipality "Alcobaça", :longitude -8.979649199999999, :state "Leiria", :zipcode "2460", :streetNumber nil, :googlePlaceId "ChIJDxLPS8qlGA0Rk5T5ZnW2A3w", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.54866699999999, :formattedAddress "2460 Alcobaça, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "88", :totalApproval "68.2", :bExams "70", :bApproval "65.7"}, :practice {:totalExams "91", :totalApproval "78.0", :bExams "76", :bApproval "73.7"}}}