{:name "Bela Vista - Braga", :number "748", :address {:raw "Rua Nova de St Cruz 26, Loja 7 4710-409 BRAGA", :municipality "Braga", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.5549793, :longitude -8.405327, :formattedAddress "R. Nova de Santa Cruz 26, 4710-409 Braga, Portugal"}, :rating {:theory {:totalExams "221", :totalApproval "70.1", :bExams "206", :bApproval "69.4"}, :practice {:totalExams "237", :totalApproval "60.3", :bExams "226", :bApproval "59.7"}}}