{:name "Samuel Alves Pinto", :number "541", :address {:streetName nil, :raw "Largo Soares dos Reis, n º 42 4400-309 MAFAMUDE", :city "Mafamude", :municipality "Vila Nova Gaia", :longitude -8.601839499999999, :state "Porto", :zipcode "4430", :streetNumber nil, :googlePlaceId "ChIJT2NnhM5kJA0RP8Lcad9Q83g", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1252976, :formattedAddress "4430-999 Mafamude, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "191", :totalApproval "72.3", :bExams "171", :bApproval "73.7"}, :practice {:totalExams "162", :totalApproval "64.8", :bExams "149", :bApproval "63.1"}}}