{:name "Trofense", :number "417", :address {:streetName nil, :raw "Rua Gil Vicente 1, 4785 Trofa", :city "Trofa", :municipality "Trofa", :longitude -8.5530967, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.3373943, :formattedAddress "R. Gil Vicente 1, 4785 Trofa, Portugal", :duplicatedAtGMaps nil, :district "Porto"}, :rating {:theory {:totalExams "293", :totalApproval "84.0", :bExams "260", :bApproval "83.8"}, :practice {:totalExams "268", :totalApproval "90.3", :bExams "236", :bApproval "90.3"}}}