{:name "Santarém", :number "201", :address {:streetName nil, :raw "Av Marquês de Pombal n 117, S.Domingos 2005-170 SANTARÉM", :city "Santarém", :municipality "Santarém", :longitude -8.7004921, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 39.2341572, :formattedAddress "Av. Marquês de Pombal 117, 2005 Santarém, Portugal", :duplicatedAtGMaps nil, :district "Santarém"}, :rating {:theory {:totalExams "113", :totalApproval "73.5", :bExams "88", :bApproval "70.5"}, :practice {:totalExams "120", :totalApproval "73.3", :bExams "87", :bApproval "64.4"}}}