{:name "Bejense", :number "812", :address {:streetName "Rua Sousa Porto", :raw "Rua Sousa Porto 49 r/c 7800 BEJA", :city "Beja", :municipality "Beja", :longitude -7.8533552, :state "Beja", :zipcode "7800-071", :streetNumber "49", :googlePlaceId "ChIJLyNGrGF0Gg0RE4kZKUgzvbA", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 38.0099608, :formattedAddress "Rua Sousa Porto 49, 7800-071 Beja, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "146", :totalApproval "75.3", :bExams "131", :bApproval "74.8"}, :practice {:totalExams "164", :totalApproval "77.4", :bExams "140", :bApproval "74.3"}}}