{:name "Pais Neto", :number "788", :address {:streetName "Avenida Central de Oldrões", :raw "Avenida Central 4575-262 OLDRÕES", :city nil, :municipality "Penafiel", :longitude -8.2956444, :state "Porto", :zipcode "4575", :streetNumber nil, :googlePlaceId "ChIJB4aqMAiQJA0RlJc69AAi_0o", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1437838, :formattedAddress "Avenida Central de Oldrões, 4575, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "100", :totalApproval "66.0", :bExams "87", :bApproval "66.7"}, :practice {:totalExams "104", :totalApproval "80.8", :bExams "91", :bApproval "79.1"}}}