{:name "Castêlo da Maia", :number "1049", :address {:streetName "Rua da Igreja", :raw "Rua da Igreja nº 18 – Sala 2 4475-641 AVIOSO (SANTA MARIA)", :city "Maia", :municipality "Maia", :longitude -8.611543, :state "Porto", :zipcode "4475", :streetNumber "18", :googlePlaceId "ChIJcxmnJndnJA0RVyHj6Ifgpb8", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.266727, :formattedAddress "Rua da Igreja 18, 4475 Maia, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "67", :totalApproval "74.6", :bExams "61", :bApproval "77.0"}, :practice {:totalExams "59", :totalApproval "93.2", :bExams "56", :bApproval "92.9"}}}