{:name "Viriato", :number "71", :address {:streetName "Praça Goa", :raw "Praça de Gôa –Lote 14 r/c 3510-069 VISEU", :city "Viseu", :municipality "Viseu", :longitude -7.9188642, :state "Viseu", :zipcode "3510", :streetNumber "14", :googlePlaceId "ChIJWwznUKw3Iw0RFg9AAUoFwQc", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.6538311, :formattedAddress "Praça Goa 14, 3510-069 Viseu, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "251", :totalApproval "63.3", :bExams "179", :bApproval "55.9"}}}