{:name "Freixieiro", :number "1164", :address {:streetName nil, :raw "Rua das Oliveiras, Nº 171 R/C Dtº 4455-515 PERAFITA", :city "Perafita", :municipality "Matosinhos", :longitude -8.6859047, :state "Porto", :zipcode "4455-515", :streetNumber nil, :googlePlaceId "ChIJ0csWiu1oJA0RTJEIKO9Sbio", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.22336, :formattedAddress "4455-515 Perafita, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "56", :totalApproval "73.2", :bExams "45", :bApproval "75.6"}, :practice {:totalExams "60", :totalApproval "90.0", :bExams "48", :bApproval "87.5"}}}