{:name "Portuense", :number "58", :address {:streetName "Rua Alexandre Herculano", :raw "Rua Alexandre Herculano, 311 - 1º 4000-055 PORTO", :city "Porto", :municipality "Porto", :longitude -8.605418199999999, :state "Porto", :zipcode "4000", :streetNumber "311", :googlePlaceId "ChIJudSBBOZkJA0RMfPsmrcCs0s", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1441473, :formattedAddress "Rua Alexandre Herculano 311, 4000-053 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "150", :totalApproval "84.0", :bExams "149", :bApproval "83.9"}, :practice {:totalExams "147", :totalApproval "51.7", :bExams "146", :bApproval "52.1"}}}