{:name "Auto Dão", :number "1075", :address {:streetName "Rua Santo António", :raw "Rua Stº António nº 55 A-Bairro de Stª Eulália 3500-693 REFESES", :city "Repeses", :municipality "Viseu", :longitude -7.925541399999999, :state "Viseu", :zipcode "3500-693", :streetNumber "55A", :googlePlaceId "ChIJx1t75gU3Iw0RLKUwB1ci9z0", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.6407669, :formattedAddress "Rua Santo António 55A, 3500-693 Repeses, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "42", :totalApproval "76.2", :bExams "41", :bApproval "75.6"}, :practice {:totalExams "53", :totalApproval "71.7", :bExams "51", :bApproval "70.6"}}}