{:name "Aguçadourense", :number "660", :address {:streetName "Rua da Codixeira", :raw "Rua da Codixeira, Nº 66, 4495-025 PÓVOA DE VARZIM", :city "Póvoa de Varzim", :municipality "Póvoa de Varzim", :longitude -8.7768559, :state "Porto", :zipcode "4495", :streetNumber "66", :googlePlaceId "EjRSdWEgZGEgQ29kaXhlaXJhIDY2LCA0NDk1IFDDs3ZvYSBkZSBWYXJ6aW0sIFBvcnR1Z2Fs", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.4303458, :formattedAddress "Rua da Codixeira 66, 4495 Póvoa de Varzim, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "60", :totalApproval "70.0", :bExams "50", :bApproval "68.0"}, :practice {:totalExams "64", :totalApproval "79.7", :bExams "52", :bApproval "76.9"}}}