{:name "Conduza Mais", :number "1290", :address {:streetName "", :observations "", :raw "Avenida da Liberdade, N.º 480 Lousada 4620-176 Porto", :city "Lousada", :municipality "", :longitude -8.25541, :zipcode "", :streetNumber "", :latitude 41.285353, :formattedAddress "Avenida da Liberdade, N.º 480 Lousada 4620-176 Porto", :district "Porto"}, :contacts {:phone 255821476, :mobile [965331186], :fax 255821476, :website "http://www.conduzamais.com", :facebook "https://www.facebook.com/Escola-de-Condu%C3%A7%C3%A3o-Conduza-Mais-167963783232909", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}