{:name "Miraflores", :number "1131", :address {:streetName nil, :raw "Rua General Ferreira Martins, n.º 30 - R/C Loja, 2795-152 MIRAFLORES", :city "Linda-a-Velha", :municipality "Oeiras", :longitude -9.2350551, :state "Lisboa", :zipcode "2795", :streetNumber nil, :googlePlaceId "ChIJD0_kcH3MHg0RDUd4BwqB3d8", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7140216, :formattedAddress "Miraflores, 2795 Linda-a-Velha, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "416", :totalApproval "72.8", :bExams "347", :bApproval "67.7"}}}