{:name "Montemorense", :number "11", :address {:streetName "Rua de São Miguel", :raw "Rua de S. Miguel, Nº 10 7050-205 MONTEMOR O NOVO", :city "Montemor-o-Novo", :municipality "Montemor o Novo", :longitude -8.214747899999999, :state "Évora", :zipcode "7050-205", :streetNumber "10", :googlePlaceId "ChIJV-huQy-UGQ0R1gWDHugOgoY", :stateCode "Évora", :noEntriesAtGMaps false, :latitude 38.6477042, :formattedAddress "Rua de São Miguel 10, 7050-205 Montemor-o-Novo, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "94", :totalApproval "67.0", :bExams "86", :bApproval "64.0"}, :practice {:totalExams "93", :totalApproval "77.4", :bExams "84", :bApproval "75.0"}}}