{:name "Automobilista - Moura", :number "267", :address {:streetName "Rua da República", :raw "Rua da República, 6 7860-244 MOURA", :city "Moura", :municipality "Moura", :longitude -7.4502361, :state "Beja", :zipcode "7860", :streetNumber "6", :googlePlaceId "ChIJ1bRrZ2i_EA0RfRMrcMnTtO0", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 38.1413855, :formattedAddress "Rua da República 6, 7860-013 Moura, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "126", :totalApproval "72.2", :bExams "107", :bApproval "70.1"}, :practice {:totalExams "122", :totalApproval "78.7", :bExams "90", :bApproval "72.2"}}}