{:name "Quatro Rodas", :number "849", :address {:streetName "Rua Dom Gomes D Aciegas", :raw "Rua Dr. Gomes Aciegas, Nº 165 R/C 4610-171 MARGARIDE (SANTA EULÁLIA)", :city "Felgueiras", :municipality "Felgueiras", :longitude -8.2005661, :state "Porto", :zipcode "4610", :streetNumber nil, :googlePlaceId "ChIJaUgmppfrJA0RM4HvMA4QCNA", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3617157, :formattedAddress "Rua Dom Gomes D Aciegas, 4610 Felgueiras, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "109", :totalApproval "64.2", :bExams "100", :bApproval "64.0"}, :practice {:totalExams "105", :totalApproval "35.2", :bExams "95", :bApproval "33.7"}}}