{:name "Salinas", :number "1324", :address {:streetName nil, :raw "Rua das Taipas, n.º 9, 2040-339 RIO MAIOR", :city "Rio Maior", :municipality "Rio Maior", :longitude -8.942707600000002, :state "Santarém", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJLa14p8S4GA0REYpNRUb3CFg", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.3384417, :formattedAddress "Rio Maior, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "12", :totalApproval "75.0", :bExams "12", :bApproval "75.0"}, :practice {:totalExams "6", :totalApproval "50.0", :bExams "6", :bApproval "50.0"}}}