{:name "A Modelo - Lobão", :number "399", :address {:streetName nil, :raw "Rua do Comércio,Nº 1094 - 1ºA 4505-473 SANTA MARIA  FEIRA", :city nil, :municipality "Santa Maria da Feira", :longitude -8.5116903, :state nil, :zipcode "4505", :streetNumber nil, :googlePlaceId "ChIJHceIb7t_JA0RcL87DsHrABw", :stateCode nil, :noEntriesAtGMaps false, :latitude 40.9915266, :formattedAddress "4505, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "142", :totalApproval "73.2", :bExams "129", :bApproval "73.6"}, :practice {:totalExams "133", :totalApproval "69.9", :bExams "120", :bApproval "70.8"}}}