{:name "Riachense de I. Lopes", :number "1163", :address {:streetName nil, :raw "Urbanização da Cancela do Leão, Lote 4, Loja D - Santa Maria 2350-346 RIACHOS", :city "Riachos", :municipality "Torres Novas", :longitude -8.5116903, :state "Santarém", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJrfnJ9r2JGA0RlEW82zpX2is", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.4381452, :formattedAddress "Riachos, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "7", :totalApproval "42.9", :bExams "7", :bApproval "42.9"}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}