{:name "Rainha D. Leonor", :number "1079", :address {:streetName "Avenida Engenheiro Luís Paiva e Sousa", :raw "Avª Engº Luis Paiva e Sousa, Nº 22-B 2500-329 CALDAS DA RAINHA", :city "Caldas da Rainha", :municipality "Caldas da Rainha", :longitude -9.1432825, :state "Leiria", :zipcode "2500", :streetNumber "22", :googlePlaceId "ChIJe66YrqmzGA0RnUpoKw4tWnA", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.4083626, :formattedAddress "Avenida Engenheiro Luís Paiva e Sousa 22, 2500-852 Caldas da Rainha, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "44", :totalApproval "63.6", :bExams "34", :bApproval "64.7"}, :practice {:totalExams "45", :totalApproval "73.3", :bExams "29", :bApproval "58.6"}}}