{:name "Auto Caldense", :number "126", :address {:streetName nil, :raw "Rua General Queirós,Nº 83-1º Esqº 2500-211 CALDAS DA RAINHA", :city "Caldas da Rainha", :municipality "Caldas da Rainha", :longitude -9.135404, :state "Leiria", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ0aKCoFCyGA0RnPyOjo0ZmrM", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.4048977, :formattedAddress "Caldas da Rainha, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "157", :totalApproval "69.4", :bExams "143", :bApproval "67.8"}, :practice {:totalExams "178", :totalApproval "60.7", :bExams "159", :bApproval "57.2"}}}