{:name "A Mudança", :number "1217", :address {:streetName nil, :raw "Estrada Nacional 18, Cruz de Montalvo, Nº 51, Loja Esq 6000-050 CASTELO BRANCO", :city "Castelo Branco", :municipality "Castelo Branco", :longitude -7.506264000000001, :state "Castelo Branco District", :zipcode "6000-050", :streetNumber nil, :googlePlaceId "ChIJX5EGB6NePQ0RcEBiwXcur4c", :stateCode "Castelo Branco District", :noEntriesAtGMaps false, :latitude 39.8127786, :formattedAddress "6000-050 Castelo Branco, Portugal", :duplicatedAtGMaps true, :district "CasteloBranco"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}