{:name "Automobilística D. Nuno Álvares Pereira", :number "229", :address {:streetName "Rua Mouzinho de Albuquerque", :raw "Rua Mouzinho de Albuquerque, 32 7200-390 REGUENGOS DE MONSARAZ", :city "Reguengos de Monsaraz", :municipality "Reguengos Monsaraz", :longitude -7.5373331, :state "Évora", :zipcode "7200", :streetNumber "32", :googlePlaceId "ChIJcYYVbbtMFw0R0FHSx3e2ls0", :stateCode "Évora", :noEntriesAtGMaps false, :latitude 38.4251722, :formattedAddress "Rua Mouzinho de Albuquerque 32, 7200-347 Reguengos de Monsaraz, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "104", :totalApproval "62.5", :bExams "98", :bApproval "62.2"}, :practice {:totalExams "89", :totalApproval "68.5", :bExams "85", :bApproval "67.1"}}}