{:name "Marialvas", :number "564", :address {:streetName "Rua Luís de Camões", :raw "Rua Luís de Camões, Nº 26, Loja 2 3060-183 CANTANHEDE", :city "Cantanhede", :municipality "Cantanhede", :longitude -8.5848462, :state "Coimbra", :zipcode "3060", :streetNumber "26", :googlePlaceId "ChIJJ-tl6ZCsIw0Rnp-kqCb6kww", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.3427319, :formattedAddress "Rua Luís de Camões 26, 3060-145 Cantanhede, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "150", :totalApproval "76.0", :bExams "118", :bApproval "75.4"}, :practice {:totalExams "161", :totalApproval "61.5", :bExams "123", :bApproval "57.7"}}}