{:name "Espiral", :number "1258", :address {:streetName "Avenida São Miguel", :raw "Avª São Miguel, Loja Nº 230-H 2775-749 CARCAVELOS", :city "São Domingos de Rana", :municipality "Cascais", :longitude -9.335061399999999, :state "Lisboa", :zipcode "2775", :streetNumber "230", :googlePlaceId "ChIJfzX1azLPHg0RALXF7_1IIpg", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7014704, :formattedAddress "Avenida São Miguel 230, 2775-750 São Domingos de Rana, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "24", :totalApproval "33.3", :bExams "20", :bApproval "30.0"}, :practice {:totalExams "26", :totalApproval "76.9", :bExams "22", :bApproval "72.7"}}}