{:name "Alta Roda", :number "883", :address {:streetName "Rua Amadeu Rodrigues Ferreira Matias", :raw "Rua Amadeu Rodrigues Matias lote 16 Loja 2 2560-253 TORRES VEDRAS", :city "Torres Vedras", :municipality "Torres Vedras", :longitude -9.2587119, :state "Lisboa", :zipcode "2560", :streetNumber "2", :googlePlaceId "EkhSdWEgQW1hZGV1IFJvZHJpZ3VlcyBGZXJyZWlyYSBNYXRpYXMgMiwgMjU2MC0yNTMgVG9ycmVzIFZlZHJhcywgUG9ydHVnYWw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.0808408, :formattedAddress "Rua Amadeu Rodrigues Ferreira Matias 2, 2560-253 Torres Vedras, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "98", :totalApproval "71.4", :bExams "85", :bApproval "68.2"}, :practice {:totalExams "133", :totalApproval "74.4", :bExams "118", :bApproval "72.0"}}}