{:name "De Sernancelhe", :number "860", :address {:streetName nil, :raw "Urbanização Camarária de Lage Nova nº3 r/c 3640-201 SERNANCELHE", :city "Sernancelhe", :municipality "Sernancelhe", :longitude -7.4900188, :state "Viseu", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJu8Bj8iyjPA0REm8aH_dSL2I", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.8998417, :formattedAddress "Sernancelhe, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}