{:name "Santa Eugénia", :number "1175", :address {:streetName nil, :raw "Estrada Nacional n.º 2-Edificio Campilho, Piso 2, Loja 7 R/C 5400 VIDAGO", :city "Vidago", :municipality "Chaves", :longitude -7.573478299999999, :state "Vila Real", :zipcode "5425", :streetNumber nil, :googlePlaceId "ChIJ6fj_oKgnOw0Rm2IUY0qfVks", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.6454266, :formattedAddress "5425 Vidago, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "40", :totalApproval "85.0", :bExams "37", :bApproval "83.8"}, :practice {:totalExams "31", :totalApproval "80.6", :bExams "28", :bApproval "78.6"}}}