{:name "Via S", :number "1087", :address {:streetName nil, :raw "Rua da República - Edifício Pires Faria, n.º 17 R/c; 3050-428 Pampilhosa", :city "Pampilhosa do Botão", :municipality "Mealhada", :longitude -8.4300567, :state "Aveiro", :zipcode "3050-428", :streetNumber nil, :googlePlaceId "ChIJ5TAs_c8BIw0RRcKwC5Z8epE", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.337608, :formattedAddress "3050-428 Pampilhosa do Botão, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "56", :totalApproval "71.4", :bExams "50", :bApproval "68.0"}, :practice {:totalExams "56", :totalApproval "66.1", :bExams "51", :bApproval "64.7"}}}