{:name "Elvense", :number "245", :address {:streetName "Rua de São Francisco", :raw "Rua de S. Francisco, 30 – 1º 7350-404 ELVAS", :city "Elvas", :municipality "Elvas", :longitude -7.1656667, :state "Portalegre", :zipcode "7350", :streetNumber "30", :googlePlaceId "ChIJnya5VW4cFw0Ruw--siGJKZg", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 38.8797839, :formattedAddress "Rua de São Francisco 30, 7350-002 Elvas, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "85", :totalApproval "72.9", :bExams "82", :bApproval "73.2"}, :practice {:totalExams "86", :totalApproval "61.6", :bExams "81", :bApproval "59.3"}}}