{:name "Baptista", :number "1073", :address {:raw "Avenida Sá Carneiro, n 891, 3660-428 S. PEDRO DO SUL", :municipality "S. Pedro do Sul", :district "Viseu", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 40.7565433, :longitude -8.0699902, :formattedAddress "Av. Dr. Sá Carneiro 891, 3660-428 São Pedro do Sul, Portugal"}, :rating {:theory {:totalExams "146", :totalApproval "76.7", :bExams "111", :bApproval "77.5"}, :practice {:totalExams "168", :totalApproval "66.1", :bExams "135", :bApproval "60.0"}}}