{:name "Abadias", :number "673", :address {:streetName nil, :raw "Rua Dr. Joaquim Sotto Mayor, n.º 101, 3080-300 FIGUEIRA DA FOZ", :city "Figueira da Foz", :municipality "Figueira da Foz", :longitude -8.864559, :state "Coimbra", :zipcode "3080-300", :streetNumber nil, :googlePlaceId "ChIJFzBR9703Ig0Rxw_hjkgVOBM", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1529833, :formattedAddress "3080-300 Figueira da Foz, Portugal", :duplicatedAtGMaps true, :district "Coimbra"}, :rating {:theory {:totalExams "140", :totalApproval "70.7", :bExams "97", :bApproval "72.2"}, :practice {:totalExams "164", :totalApproval "72.0", :bExams "123", :bApproval "67.5"}}}