{:name "Campo", :number "852", :address {:streetName nil, :raw "Rua Central do Campo n º 1320-R/C 4440-038 CAMPO", :city "Campo", :municipality "Valongo", :longitude -8.460758300000002, :state "Porto", :zipcode "4440-038", :streetNumber nil, :googlePlaceId "ChIJSQOA7LiJJA0RiDt5mGaUlgs", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1837856, :formattedAddress "4440-038 Campo, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "97", :totalApproval "72.2", :bExams "89", :bApproval "71.9"}, :practice {:totalExams "93", :totalApproval "86.0", :bExams "85", :bApproval "88.2"}}}