{:name "Oiã", :number "1029", :address {:streetName "Rua Engenheiro Agnelo Prazeres", :raw "Rua Agnelo Prazeres nº 45 R/C 3770-059 OIÃ", :city "Oiã", :municipality "Oliveira Bairro", :longitude -8.545210899999999, :state "Aveiro", :zipcode "3770", :streetNumber "45", :googlePlaceId "ChIJixSkjcGmIw0R7f-cUYeLleI", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.5428748, :formattedAddress "Rua Engenheiro Agnelo Prazeres 45, 3770-059 Oiã, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "64", :totalApproval "79.7", :bExams "60", :bApproval "80.0"}, :practice {:totalExams "69", :totalApproval "60.9", :bExams "65", :bApproval "58.5"}}}