{:name "Rio Minho", :number "454", :address {:streetName "Rua Cidade de Bissau", :raw "Rua Cidade de Lisboa, Bloco C - 1.º Esq.  2685 Camarate", :city "Lisboa", :municipality "Loures", :longitude -9.1145268, :state "Lisboa", :zipcode "1800", :streetNumber nil, :googlePlaceId "ChIJ14kPzTMyGQ0RCRYSEod8MZg", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7630811, :formattedAddress "Rua Cidade de Bissau, 1800 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "102", :totalApproval "61.8", :bExams "97", :bApproval "62.9"}, :practice {:totalExams "104", :totalApproval "82.7", :bExams "99", :bApproval "81.8"}}}