{:name "Milfontes", :number "597", :address {:streetName nil, :raw "Urbanização Arneiro do Gregório 54-B 7645-223 VILA NOVA DE MILFONTES", :city "Vila Nova de Milfontes", :municipality "Odemira", :longitude -8.7817552, :state "Beja", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJxYQwEXChGw0RgCH890QVU24", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 37.7240021, :formattedAddress "Vila Nova de Milfontes, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "15", :totalApproval "66.7", :bExams "14", :bApproval "64.3"}, :practice {:totalExams "11", :totalApproval "72.7", :bExams "11", :bApproval "72.7"}}}