{:name "Figueiroense", :number "473", :address {:streetName "Rua Major Neutel de Abreu", :raw "Rua Major Neutel de Abreu 3260-427 FIGUEIRÓ DOS VINHOS", :city "Figueiró dos Vinhos", :municipality "Figueiró dos Vinhos", :longitude -8.281971799999999, :state "Leiria", :zipcode "3260", :streetNumber nil, :googlePlaceId "ChIJFSjR7rmRIg0RdKXnlZF-_sU", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.9008929, :formattedAddress "Rua Major Neutel de Abreu, 3260 Figueiró dos Vinhos, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "28", :totalApproval "89.3", :bExams "18", :bApproval "88.9"}, :practice {:totalExams "25", :totalApproval "72.0", :bExams "17", :bApproval "64.7"}}}