{:name "Elite", :number "916", :address {:streetName nil, :raw "Praça de Alvalade, n.º 17, D, 1700-038 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1436976, :state "Lisbon", :zipcode "1700-038", :streetNumber nil, :googlePlaceId "ChIJdcMr76ozGQ0RI6WfMzYL1rU", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7529171, :formattedAddress "1700-038 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "526", :totalApproval "81.6", :bExams "415", :bApproval "80.5"}, :practice {:totalExams "334", :totalApproval "79.3", :bExams "256", :bApproval "75.4"}}}