{:name "A Desportiva- Santo Tirso", :number "467", :address {:streetName "Rua São João de Brito", :raw "Rua S. João de Brito 4780-548 SANTO TIRSO", :city "Santo Tirso", :municipality "Santo Tirso", :longitude -8.47724, :state "Porto", :zipcode "4780", :streetNumber nil, :googlePlaceId "ChIJoZGwn471JA0RZinxm1dxm-g", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3435642, :formattedAddress "Rua São João de Brito, 4780 Santo Tirso, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "56", :totalApproval "69.6", :bExams "52", :bApproval "67.3"}, :practice {:totalExams "53", :totalApproval "69.8", :bExams "48", :bApproval "70.8"}}}