{:name "Rio Vizela", :number "1011", :address {:streetName "Rua Manuel de Sousa Oliveira", :raw "Rua Manuel Sousa Oliveira nº 846 4795-476 CAMPO (SÃO MARTINHO)", :city nil, :municipality "Santo Tirso", :longitude -8.3612887, :state "Porto", :zipcode "4795", :streetNumber "846", :googlePlaceId "ChIJlSTD5sjzJA0Rh5bbiLvsp4k", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3607092, :formattedAddress "Rua Manuel de Sousa Oliveira 846, 4795-476, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "56", :totalApproval "92.9", :bExams "55", :bApproval "92.7"}, :practice {:totalExams "51", :totalApproval "51.0", :bExams "50", :bApproval "50.0"}}}