{:name "Montejunto", :number "1287", :address {:raw "Estrada Nacional 115, n 42, 2550-355 CASAL CABREIRO", :municipality "Cadaval", :district "Lisboa", :duplicatedAtGMaps false, :noEntriesAtGMaps true}, :rating {:theory {:totalExams "57", :totalApproval "63.2", :bExams "52", :bApproval "63.5"}, :practice {:totalExams "55", :totalApproval "63.6", :bExams "47", :bApproval "61.7"}}}