{:name "Florbela", :number "450", :address {:streetName "Rua Doutor José Jardim", :raw "Rua Dr. José Jardim, nº 22-1º 3080-008 FIGUEIRA DA FOZ", :city "Figueira da Foz", :municipality "Figueira da Foz", :longitude -8.856850200000002, :state "Coimbra", :zipcode "3080", :streetNumber "22", :googlePlaceId "Ej5SdWEgRG91dG9yIEpvc8OpIEphcmRpbSAyMiwgMzA4MC0xMTIgRmlndWVpcmEgZGEgRm96LCBQb3J0dWdhbA", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1496222, :formattedAddress "Rua Doutor José Jardim 22, 3080-112 Figueira da Foz, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "105", :totalApproval "79.0", :bExams "94", :bApproval "78.7"}, :practice {:totalExams "84", :totalApproval "67.9", :bExams "75", :bApproval "65.3"}}}