{:name "Pombal", :number "441", :address {:streetName nil, :raw "Rua Dr. José dos Santos Alves, Nº 10-1º 3100-480 POMBAL", :city "Pombal", :municipality "Pombal", :longitude -8.6321415, :state "Leiria District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ0wvWadRlIg0RLgu6gtLE914", :stateCode "Leiria District", :noEntriesAtGMaps false, :latitude 39.9167748, :formattedAddress "Pombal, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "155", :totalApproval "71.6", :bExams "114", :bApproval "71.9"}, :practice {:totalExams "211", :totalApproval "78.7", :bExams "145", :bApproval "69.7"}}}