{:name "Marvila", :number "1080", :address {:streetName "Rua Luís Cristino da Silva", :raw "Rua Luis Cristino da Silva, Lote 238, Loja D 1950-178 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1232606, :state "Lisboa", :zipcode "1950", :streetNumber "238", :googlePlaceId "ChIJdQjufjUyGQ0RbUilOfLxT40", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7585339, :formattedAddress "Rua Luís Cristino da Silva 238, 1950-162 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "38", :totalApproval "47.4", :bExams "35", :bApproval "48.6"}, :practice {:totalExams "40", :totalApproval "85.0", :bExams "37", :bApproval "83.8"}}}