{:name "Terceiro Milénio", :number "943", :address {:streetName "Praceta da Malata", :raw "Urbanização S. Sebastião lote 1 Loja A - Quinta da Malata 8500 PORTIMÃO", :city "Portimão", :municipality "Portimão", :longitude -8.5414078, :state "Faro", :zipcode "8500", :streetNumber nil, :googlePlaceId "ChIJ89xosu0oGw0RKoCS6U1mmTA", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.135306, :formattedAddress "Praceta da Malata, 8500-510 Portimão, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "120", :totalApproval "66.7", :bExams "105", :bApproval "67.6"}, :practice {:totalExams "143", :totalApproval "67.1", :bExams "127", :bApproval "65.4"}}}