{:name "Ala Arriba", :number "390", :address {:streetName "Avenida Mouzinho de Albuquerque", :raw "Avª Mouzinho de Albuquerque, nº 149 4490-409 PÓVOA DE VARZIM", :city "Póvoa de Varzim", :municipality "Póvoa de Varzim", :longitude -8.766567199999999, :state "Porto", :zipcode "4490", :streetNumber "149", :googlePlaceId "EkhBdmVuaWRhIE1vdXppbmhvIGRlIEFsYnVxdWVycXVlIDE0OSwgNDQ5MC00MDkgUMOzdm9hIGRlIFZhcnppbSwgUG9ydHVnYWw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3805756, :formattedAddress "Avenida Mouzinho de Albuquerque 149, 4490-409 Póvoa de Varzim, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "247", :totalApproval "78.9", :bExams "222", :bApproval "79.7"}, :practice {:totalExams "234", :totalApproval "75.6", :bExams "199", :bApproval "72.4"}}}