{:name "Terrugem", :number "837", :address {:streetName nil, :raw "Praceta de S. Cristóvão, 4/5 2705-830 TERRUGEM", :city "Terrugem", :municipality "Sintra", :longitude -9.3781947, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 38.8462581, :formattedAddress "Praceta de São Cristovão 4, 2715 Terrugem, Portugal", :duplicatedAtGMaps nil, :district "Lisboa"}, :rating {:theory {:totalExams "114", :totalApproval "66.7", :bExams "101", :bApproval "65.3"}, :practice {:totalExams "107", :totalApproval "64.5", :bExams "93", :bApproval "60.2"}}}