{:name "Ti-Ta", :number "427", :address {:streetName "Rua Costa Pinto", :raw "Rua Costa Pinto, Nº 152 - Pai do Vento-Amoreira 2645-183 ALCABIDECHE", :city "Alcabideche", :municipality "Cascais", :longitude -9.4141973, :state "Lisboa", :zipcode "2755", :streetNumber "152", :googlePlaceId "ChIJ0WdlgUrEHg0RksFeE7R2RU4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7124237, :formattedAddress "Rua Costa Pinto 152, 2755 Alcabideche, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "126", :totalApproval "58.7", :bExams "117", :bApproval "59.8"}, :practice {:totalExams "130", :totalApproval "78.5", :bExams "114", :bApproval "76.3"}}}