{:name "Alcacerense", :number "122", :address {:streetName nil, :raw "Rua Bernardino Ribeiro, s/nª R/c 7580-033 ALCÁCER DO SAL", :city "Alcácer do Sal", :municipality "Alcacer do Sal", :longitude -8.5110695, :state "Setubal", :zipcode "7580", :streetNumber nil, :googlePlaceId "ChIJqSKnhQh_GQ0RCnMpm2VUWVA", :stateCode "Setubal", :noEntriesAtGMaps false, :latitude 38.3725756, :formattedAddress "7580 Alcácer do Sal, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "26", :totalApproval "73.1", :bExams "20", :bApproval "70.0"}, :practice {:totalExams "24", :totalApproval "87.5", :bExams "21", :bApproval "85.7"}}}