{:name "Sertaginense", :number "142", :address {:streetName "Rua Proença-a-Nova", :raw "Rua Proença – A - Nova 6100-751 SERTÃ", :city "Sertã", :municipality "Sertã", :longitude -8.0924529, :state "Castelo Branco", :zipcode "6100", :streetNumber nil, :googlePlaceId "ChIJX6VhBjWiIg0RknknrLwZijk", :stateCode "Castelo Branco", :noEntriesAtGMaps false, :latitude 39.7995185, :formattedAddress "Rua Proença-a-Nova, 6100-751 Sertã, Portugal", :duplicatedAtGMaps false, :district "CasteloBranco"}, :rating {:theory {:totalExams "54", :totalApproval "63.0", :bExams "42", :bApproval "54.8"}, :practice {:totalExams "49", :totalApproval "59.2", :bExams "34", :bApproval "50.0"}}}