{:name "S. Cristóvão do Freixo", :number "952", :address {:streetName nil, :raw "Lugar do Gadunho Freixo EN 308 4990-450 FREIXO", :city "Freixo", :municipality "Ponte de Lima", :longitude -8.5851942, :state "Viana do Castelo", :zipcode "4990-450", :streetNumber nil, :googlePlaceId "ChIJIQBwmm-sJQ0RGZmoi_DetFQ", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.6492419, :formattedAddress "4990-450 Freixo, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "87", :totalApproval "78.2", :bExams "75", :bApproval "77.3"}, :practice {:totalExams "105", :totalApproval "74.3", :bExams "91", :bApproval "74.7"}}}