{:name "De Longra", :number "698", :address {:streetName nil, :raw "Lugar da Piedade (Longra) 4650-464 SERNANDE", :city "Sernande", :municipality "Felgueiras", :longitude -8.2302043, :state "Porto", :zipcode "4650", :streetNumber nil, :googlePlaceId "ChIJjS4fxoXsJA0RTaJ0ppyKWzo", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3407492, :formattedAddress "4650 Sernande, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "153", :totalApproval "72.5", :bExams "132", :bApproval "72.0"}, :practice {:totalExams "149", :totalApproval "75.8", :bExams "130", :bApproval "74.6"}}}