{:name "Neuropa", :number "35", :address {:streetName nil, :raw "Rua Tenente Ferreira Durão, Nº 2 r/c Dtº 1350-314 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1671254, :state "Lisbon", :zipcode "1350-314", :streetNumber nil, :googlePlaceId "ChIJt0uTrWAzGQ0Rx548c3KbA4Y", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7161188, :formattedAddress "1350-314 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "136", :totalApproval "77.2", :bExams "80", :bApproval "72.5"}, :practice {:totalExams "154", :totalApproval "74.0", :bExams "87", :bApproval "57.5"}}}