{:name "Mar Azul", :number "1295", :address {:streetName nil, :raw "Quinta de Betunes, Lote 17 - B, R/C Esq.º, 8100-121 LOULÉ", :city "Loulé", :municipality "Loulé", :longitude -8.020216, :state "Faro District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJkTRI3SmxGg0RY14FaR4uG6c", :stateCode "Faro District", :noEntriesAtGMaps false, :latitude 37.1379187, :formattedAddress "Loulé, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}