{:name "Triangular", :number "537", :address {:streetName "Avenida Arquitecto Rosado Correia", :raw "Avª Arquitecto Rosado Correia, Lote 3 3100-532 POMBAL", :city "Pombal", :municipality "Pombal", :longitude -8.6316507, :state "Leiria", :zipcode "3100", :streetNumber "3", :googlePlaceId "Ej5BdmVuaWRhIEFycXVpdGVjdG8gUm9zYWRvIENvcnJlaWEgMywgMzEwMC00MjggUG9tYmFsLCBQb3J0dWdhbA", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.9143705, :formattedAddress "Avenida Arquitecto Rosado Correia 3, 3100-428 Pombal, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "145", :totalApproval "79.3", :bExams "99", :bApproval "79.8"}, :practice {:totalExams "157", :totalApproval "72.6", :bExams "100", :bApproval "66.0"}}}