{:name "Batalhense de Alcobaça", :number "961", :address {:streetName "Rua Mercedes e Carlos Campeão", :raw "Rua Mercedes Carlos Campeão , Nº 12 R/C 2460-067 ALCOBAÇA", :city "Alcobaça", :municipality "Alcobaça", :longitude -8.973671, :state "Leiria", :zipcode "2460", :streetNumber "12", :googlePlaceId "ChIJVwOD3NWlGA0Rkdl3kCJkdVI", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.5506105, :formattedAddress "Rua Mercedes e Carlos Campeão 12, 2460 Alcobaça, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "129", :totalApproval "76.7", :bExams "120", :bApproval "76.7"}, :practice {:totalExams "135", :totalApproval "71.1", :bExams "126", :bApproval "69.8"}}}