{:name "Infante de Sagres -Gambelas", :number "575", :address {:streetName "Rua das Hortências", :raw "Rua das Hortências, Bloco D, Loja 1 -Gambelas 8005-194 FARO", :city "Faro", :municipality "Faro", :longitude -7.970853199999999, :state "Faro", :zipcode "8005", :streetNumber "1", :googlePlaceId "Ei5SdWEgZGFzIEhvcnTDqm5jaWFzIDEsIDgwMDUtMTk0IEZhcm8sIFBvcnR1Z2Fs", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.0415843, :formattedAddress "Rua das Hortências 1, 8005-194 Faro, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "49", :totalApproval "73.5", :bExams "41", :bApproval "73.2"}, :practice {:totalExams "21", :totalApproval "71.4", :bExams "14", :bApproval "64.3"}}}