{:name "Mariana", :number "734", :address {:streetName nil, :raw "Urbanização Quinta do Monte, lote 3, Loja 76 4805-158 CALDELAS", :city "Caldelas", :municipality "Guimarães", :longitude -8.3452252, :state "Braga", :zipcode "4805-158", :streetNumber nil, :googlePlaceId "ChIJcT4Uvfv6JA0RhNt9CgshUvo", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4912703, :formattedAddress "4805-158 Caldelas, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "52", :totalApproval "61.5", :bExams "45", :bApproval "60.0"}, :practice {:totalExams "49", :totalApproval "53.1", :bExams "43", :bApproval "51.2"}}}