{:name "Prova Real - Rio Tinto", :number "787", :address {:streetName "Rua Padre Joaquim das Neves", :raw "Rua Padre Joaquim das Neves, Nº 1084 4435-374 RIO TINTO", :city "Baguim do Monte", :municipality "Gondomar", :longitude -8.5527085, :state "Porto", :zipcode "4435", :streetNumber "1084", :googlePlaceId "ChIJg8d4NepjJA0Rl1eOeTl5BHw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.18729090000001, :formattedAddress "Rua Padre Joaquim das Neves 1084, 4435-079 Baguim do Monte, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "45", :totalApproval "68.9", :bExams "42", :bApproval "66.7"}, :practice {:totalExams "47", :totalApproval "74.5", :bExams "41", :bApproval "70.7"}}}