{:name "Santos e Gamelas", :number "108", :address {:streetName nil, :raw "Rua do Magistério Primário, Nº 20/22 3800-212 AVEIRO", :city "Aveiro", :municipality "Aveiro", :longitude -8.6537539, :state "Aveiro District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJjeey1Q6YIw0RBx88Ac3hQjA", :stateCode "Aveiro District", :noEntriesAtGMaps false, :latitude 40.6405055, :formattedAddress "Aveiro, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "96", :totalApproval "82.3", :bExams "83", :bApproval "83.1"}, :practice {:totalExams "98", :totalApproval "59.2", :bExams "86", :bApproval "54.7"}}}