{:name "Albertino", :number "64", :address {:streetName "Praça da República", :raw "Praça da República,17-1º 3000-343 COIMBRA", :city "Coimbra", :municipality "Coimbra", :longitude -8.4196755, :state "Coimbra", :zipcode "3000", :streetNumber "17", :googlePlaceId "ChIJJ8uzPwv5Ig0Rjp-eDbYnDbo", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.21000540000001, :formattedAddress "Praça da República 17, 3000-019 Coimbra, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "87", :totalApproval "81.6", :bExams "83", :bApproval "80.7"}, :practice {:totalExams "82", :totalApproval "56.1", :bExams "79", :bApproval "54.4"}}}