{:name "Terra Nova", :number "544", :address {:streetName nil, :raw "Urbanização da Quinta da Oliveira-Lote 4 r/c Esqº 4950-425 MONÇÃO", :city "Monção", :municipality "Monção", :longitude -8.4819441, :state "Viana do Castelo", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJd-EaWft3JQ0RpVKUcLAc5-E", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 42.0771855, :formattedAddress "Monção, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "99", :totalApproval "72.7", :bExams "91", :bApproval "73.6"}, :practice {:totalExams "108", :totalApproval "88.0", :bExams "95", :bApproval "88.4"}}}