{:name "Jevi", :number "799", :address {:streetName "Avenida João Paulo II", :raw "Avª João Paulo II, 42 B e 42 F 2970-649 SESIMBRA", :city nil, :municipality "Sesimbra", :longitude -9.100724, :state "Setúbal", :zipcode "2970", :streetNumber "42", :googlePlaceId "ChIJXdQ-fQBOGQ0RmexEVkFa9Co", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.4690455, :formattedAddress "Avenida João Paulo II 42, 2970-835, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "84", :totalApproval "73.8", :bExams "77", :bApproval "74.0"}, :practice {:totalExams "90", :totalApproval "77.8", :bExams "84", :bApproval "78.6"}}}