{:name "Vouga", :number "976", :address {:streetName nil, :raw "Rua Marquês de Pombal -Edificio Sol Mar, Nº 3 3850-115 ALBERGARIA A VELHA", :city "Albergaria-a-Velha", :municipality "Albergaria a Velha", :longitude -8.4796655, :state "Aveiro District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJjzrBdDOeIw0R7NUmtS8KH1k", :stateCode "Aveiro District", :noEntriesAtGMaps false, :latitude 40.6894236, :formattedAddress "Albergaria-a-Velha, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "123", :totalApproval "69.9", :bExams "109", :bApproval "72.5"}, :practice {:totalExams "124", :totalApproval "67.7", :bExams "115", :bApproval "65.2"}}}