{:name "Pincor", :number "36", :address {:streetName "Praça da República", :raw "Praça da República, 64 4050-496 PORTO", :city "Porto", :municipality "Porto", :longitude -8.6134284, :state "Porto", :zipcode "4000", :streetNumber "64", :googlePlaceId "ChIJ262Of_5kJA0R8KyhVe6p05M", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1540354, :formattedAddress "Praça da República 64, 4000 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "75", :totalApproval "74.7", :bExams "73", :bApproval "74.0"}, :practice {:totalExams "79", :totalApproval "75.9", :bExams "75", :bApproval "74.7"}}}