{:name "Verde Minho", :number "599", :address {:streetName "Praceta da Botica", :raw "Lugar Pontido - Quinta da Botica 4730-470 VILA de PRADO", :city "Vila de Prado", :municipality "Vila Verde", :longitude -8.4671568, :state "Braga", :zipcode "4730", :streetNumber nil, :googlePlaceId "ChIJ_wVDpej_JA0Ro4WTlyOXS4o", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5970447, :formattedAddress "Praceta da Botica, 4730-454 Vila de Prado, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "218", :totalApproval "83.0", :bExams "101", :bApproval "78.2"}, :practice {:totalExams "432", :totalApproval "97.5", :bExams "107", :bApproval "93.5"}}}