{:name "Santa Maria -Arrifana", :number "1046", :address {:streetName "Avenida 5 de Outubro", :raw "Avª 5 de Outubro, Nº 257 3700-445 ARRIFANA", :city "Arrifana", :municipality "Santa Maria da Feira", :longitude -8.497099, :state "Aveiro", :zipcode "3700", :streetNumber "257", :googlePlaceId "EjVBdmVuaWRhIDUgZGUgT3V0dWJybyAyNTcsIDM3MDAtNDU3IEFycmlmYW5hLCBQb3J0dWdhbA", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.911357, :formattedAddress "Avenida 5 de Outubro 257, 3700-457 Arrifana, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "179", :totalApproval "69.8", :bExams "159", :bApproval "68.6"}, :practice {:totalExams "164", :totalApproval "85.4", :bExams "146", :bApproval "84.9"}}}