{:name "Vila Lusitano", :number "1174", :address {:streetName nil, :raw "Rua Sebastião do Couto, Nº 1-A vila Lusitano 7005-610 ÉVORA", :city "Evora", :municipality "Évora", :longitude -7.920457300000001, :state "Évora District", :zipcode "7005-610", :streetNumber nil, :googlePlaceId "ChIJb3EhbiblGQ0RsCYv7wr-hU8", :stateCode "Évora District", :noEntriesAtGMaps false, :latitude 38.56474490000001, :formattedAddress "7005-610 Evora, Portugal", :duplicatedAtGMaps true, :district "Évora"}, :rating {:theory {:totalExams "159", :totalApproval "84.3", :bExams "143", :bApproval "83.9"}, :practice {:totalExams "160", :totalApproval "78.1", :bExams "142", :bApproval "75.4"}}}