{:name "Francipaulo", :number "1241", :address {:streetName nil, :raw "Rua Almeida Garrett 19, 2785 Cascais", :city "São Domingos de Rana", :municipality "Cascais", :longitude -9.3498292, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 38.7177576, :formattedAddress "R. Almeida Garrett 19, 2785-338 São Domingos de Rana, Portugal", :duplicatedAtGMaps nil, :district "Lisboa"}, :rating {:theory {:totalExams "124", :totalApproval "68.5", :bExams "110", :bApproval "68.2"}, :practice {:totalExams "127", :totalApproval "77.2", :bExams "109", :bApproval "75.2"}}}