{:name "Galo", :number "818", :address {:streetName nil, :raw "Rua Santa Clara,Edificio Santa Clara,  Loja 1 e 2 4750 -132 ARCOZELO", :city "Arcozelo", :municipality "Barcelos", :longitude -8.6124835, :state "Braga", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJL9sqZa9TJA0RENiR3o_0T_I", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5410747, :formattedAddress "Arcozelo, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "201", :totalApproval "74.6", :bExams "182", :bApproval "74.2"}, :practice {:totalExams "205", :totalApproval "81.5", :bExams "179", :bApproval "81.6"}}}