{:name "Gondomar Jovem", :number "935", :address {:streetName nil, :raw "Avenida General Humberto Delgado, N 405 Gondomar, 4420-155 Porto", :city "Gondomar", :municipality "Gondomar", :longitude -8.5317972, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.1474068, :formattedAddress "Av. Gen. Humberto Delgado 405, 4420 Gondomar, Portugal", :duplicatedAtGMaps nil, :district "Porto"}, :rating {:theory {:totalExams "125", :totalApproval "81.6", :bExams "117", :bApproval "82.1"}, :practice {:totalExams "114", :totalApproval "72.8", :bExams "105", :bApproval "73.3"}}}