{:name "Auto Vilaverdense", :number "929", :address {:streetName nil, :raw "Rua do Professor, n º 47- Largo da Feira 4730-072 BARBUDO", :city "Barbudo", :municipality "Vila Verde", :longitude -8.4366114, :state "Braga", :zipcode "4730-072", :streetNumber nil, :googlePlaceId "ChIJG2UMbAEBJQ0RrUAa2bWbkfI", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.6535257, :formattedAddress "4730-072 Barbudo, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "226", :totalApproval "80.5", :bExams "208", :bApproval "79.8"}, :practice {:totalExams "231", :totalApproval "69.7", :bExams "201", :bApproval "66.7"}}}