{:name "Aljustrelense", :number "260", :address {:streetName nil, :raw "Rua D. Sancho II , 6 A 7600-088 ALJUSTREL", :city "Aljustrel", :municipality "Aljustrel", :longitude -8.1649833, :state "Beja", :zipcode "7600", :streetNumber nil, :googlePlaceId "ChIJ0yWVecVCGg0RG2Pnv6T_SfM", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 37.8760582, :formattedAddress "7600 Aljustrel, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "58", :totalApproval "67.2", :bExams "51", :bApproval "66.7"}, :practice {:totalExams "62", :totalApproval "90.3", :bExams "57", :bApproval "89.5"}}}