{:name "Cercal do Alentejo", :number "1088", :address {:streetName nil, :raw "Avenida Centenario da Independência, Nº 18, 7555-101 CERCAL DO ALENTEJO", :city nil, :municipality "Santiago do Cacém", :longitude -8.673753699999999, :state "Setúbal", :zipcode "7555-101", :streetNumber nil, :googlePlaceId "ChIJ22mcJ2-lGw0R3kYGzCee7U0", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 37.8008647, :formattedAddress "7555-101, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "26", :totalApproval "65.4", :bExams "20", :bApproval "65.0"}, :practice {:totalExams "27", :totalApproval "66.7", :bExams "23", :bApproval "65.2"}}}