{:name "Brilhante", :number "500", :address {:streetName nil, :raw "Avª do Conde, nº 6263 – 1º Dtº 4465-099 SÃO MAMEDE DE INFESTA", :city "São Mamede de Infesta", :municipality "Matosinhos", :longitude -8.6133188, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJqQrjESZkJA0RPSXMwg08cXw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1914703, :formattedAddress "São Mamede de Infesta, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "187", :totalApproval "78.1", :bExams "131", :bApproval "74.8"}, :practice {:totalExams "198", :totalApproval "78.3", :bExams "125", :bApproval "71.2"}}}