{:name "Armando Victor", :number "215", :address {:streetName "Alameda Conde Oeiras", :raw "Alameda Conde de Oeiras, 95 2780-139 OEIRAS", :city "Oeiras", :municipality "Oeiras", :longitude -9.3239161, :state "Lisboa", :zipcode "2780", :streetNumber "95", :googlePlaceId "ChIJMXgrM9bIHg0Rvn1NN9iLG-U", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.6909113, :formattedAddress "Alameda Conde Oeiras 95, 2780 Oeiras, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "187", :totalApproval "77.5", :bExams "155", :bApproval "76.1"}, :practice {:totalExams "173", :totalApproval "87.9", :bExams "143", :bApproval "85.3"}}}