{:name "A Gruta", :number "958", :address {:raw "Rua das Mangas, 2485-075 MIRA D'AIRE", :municipality "Porto de Mós", :district "Leiria", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 39.5443351, :longitude -8.7126875, :formattedAddress "R. das Mangas, 2485 Mira de Aire, Portugal"}, :rating {:theory {:totalExams "75", :totalApproval "86.7", :bExams "64", :bApproval "84.4"}, :practice {:totalExams "86", :totalApproval "70.9", :bExams "76", :bApproval "68.4"}}}