{:name "Atlas", :number "871", :address {:streetName nil, :raw "Rua Prof. Egas Moniz, 2680-602 Camarate", :city "Camarate", :municipality nil, :longitude -9.1328192, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 38.8018945, :formattedAddress "R. Prof. Egas Moniz, 2680-602 Camarate, Portugal", :duplicatedAtGMaps nil, :district "Lisboa"}, :rating {:theory {:totalExams "13", :totalApproval "23.1", :bExams "12", :bApproval "25.0"}, :practice {:totalExams "18", :totalApproval "50.0", :bExams "17", :bApproval "52.9"}}}