{:name "Atlântida", :number "490", :address {:streetName "Avenida Dom Nuno Álvares Pereira", :raw "Avª D. Nuno Álvares Pereira nº 76 A 2735 CACÉM", :city nil, :municipality "Sintra", :longitude -9.2924882, :state "Lisboa", :zipcode "2735", :streetNumber "76", :googlePlaceId "ChIJ98GLChHOHg0RlFSb6cCVPeY", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7701654, :formattedAddress "Avenida Dom Nuno Álvares Pereira 76, 2735-521, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "136", :totalApproval "61.8", :bExams "135", :bApproval "61.5"}, :practice {:totalExams "144", :totalApproval "56.9", :bExams "143", :bApproval "56.6"}}}