{:name "Gaiense", :number "406", :address {:streetName "Rua 14 Outubro", :raw "Rua 14 de Outubro, 524 4430-047 MAFAMUDE", :city "Vila Nova de Gaia", :municipality "Vila Nova Gaia", :longitude -8.6047769, :state "Porto", :zipcode "4430", :streetNumber "524", :googlePlaceId "ChIJKVk9VMVkJA0RGNpfhUFTneg", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1299187, :formattedAddress "Rua 14 Outubro 524, 4430-999 Vila Nova de Gaia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "107", :totalApproval "77.6", :bExams "107", :bApproval "77.6"}, :practice {:totalExams "98", :totalApproval "71.4", :bExams "98", :bApproval "71.4"}}}