{:name "Visiense", :number "1068", :address {:streetName "Avenida Cidade de Aveiro", :raw "Av. Cidade de Aveiro, Lote 7 r/c 3510-720 VISEU", :city "Viseu", :municipality "Viseu", :longitude -7.926435799999998, :state "Viseu", :zipcode "3510", :streetNumber "7", :googlePlaceId "EjBBdmVuaWRhIENpZGFkZSBkZSBBdmVpcm8gNywgMzUxMCBWaXNldSwgUG9ydHVnYWw", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.6598074, :formattedAddress "Avenida Cidade de Aveiro 7, 3510 Viseu, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "135", :totalApproval "46.7", :bExams "97", :bApproval "38.1"}}}