{:name "José Luís Cunha", :number "1316", :address {:streetName nil, :raw "Rua da Mouta, n.º 45 ; 4620-433 Nevogilde", :city "Nevogilde", :municipality "Lousada", :longitude -8.3197563, :state "Porto", :zipcode "4620", :streetNumber nil, :googlePlaceId "ChIJz75QTYONJA0Rjr9DduaBPWY", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2561888, :formattedAddress "4620 Nevogilde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "40", :totalApproval "65.0", :bExams "39", :bApproval "64.1"}, :practice {:totalExams "42", :totalApproval "66.7", :bExams "40", :bApproval "65.0"}}}