{:name "Monte da Virgem", :number "700", :address {:streetName "Rua do Agueiro", :raw "Rua do Agueiro, Nº 347, 4400-004 VILA NOVA DE GAIA", :city "Vila Nova de Gaia", :municipality "Vila Nova Gaia", :longitude -8.606545200000001, :state "Porto", :zipcode "4430", :streetNumber "347", :googlePlaceId "ChIJxauLQdJkJA0R4CSLI7RQ_9k", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1230046, :formattedAddress "Rua do Agueiro 347, 4430-999 Vila Nova de Gaia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "194", :totalApproval "81.4", :bExams "109", :bApproval "76.1"}, :practice {:totalExams "238", :totalApproval "67.6", :bExams "122", :bApproval "54.1"}}}