{:name "Auto-Azeméis", :number "1132", :address {:streetName "Rua de Aveiro", :raw "Rua Club Desportivo De Cucujães, Freguesia de Cucujães, 3720-385 Oliveira De Azeméis, Aveiro", :city "Aveiro", :municipality "Aveiro", :longitude -8.501875899999959, :zipcode "3720-385", :latitude 40.8715766, :formattedAddress "Rua Club Desportivo De Cucujães, Freguesia de Cucujães, 3720-385 Oliveira De Azeméis, Aveiro", :district "Aveiro"}, :contacts {:phone 256892491, :mobile [], :fax 256892491, :website "", :facebook "https://www.facebook.com/Escola-de-Condu%C3%A7%C3%A3o-Auto-Azem%C3%A9is-1481786668720469", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}