{:name "M. Silva", :number "25", :address {:streetName "Rua Doutor Carlos França", :raw "Rua Dr. Carlos França nº 27 A 2560 TORRES VEDRAS", :city "Torres Vedras", :municipality "Torres Vedras", :longitude -9.260232, :state "Lisboa", :zipcode "2560", :streetNumber "27A", :googlePlaceId "ChIJx9BS8sYtHw0Ru3v8pIDeAws", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.0899263, :formattedAddress "Rua Doutor Carlos França 27A, 2560-326 Torres Vedras, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "77", :totalApproval "84.4", :bExams "62", :bApproval "82.3"}, :practice {:totalExams "100", :totalApproval "84.0", :bExams "72", :bApproval "79.2"}}}