{:name "Freamundense", :number "856", :address {:streetName "Rua de Gaia", :raw "Rua de Gaia nº 7 4590-336 FREAMUNDE", :city "Freamunde", :municipality "Paços de Ferreira", :longitude -8.3427606, :state "Porto", :zipcode "4590", :streetNumber "7", :googlePlaceId "EidSdWEgZGUgR2FpYSA3LCA0NTkwIEZyZWFtdW5kZSwgUG9ydHVnYWw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2897229, :formattedAddress "Rua de Gaia 7, 4590 Freamunde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "70", :totalApproval "75.7", :bExams "67", :bApproval "74.6"}, :practice {:totalExams "66", :totalApproval "40.9", :bExams "63", :bApproval "39.7"}}}