{:name "Um", :number "1197", :address {:streetName "Rua da Universidade", :raw "Rua da Universidade, Nº 46 4710 - 057 BRAGA", :city "Braga", :municipality "Braga", :longitude -8.3932345, :state "Braga", :zipcode "4710", :streetNumber "46", :googlePlaceId "ChIJDx_YMCb8JA0R9MkXvpRXBZU", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5626584, :formattedAddress "Rua da Universidade 46, 4710-057 Braga, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "94", :totalApproval "85.1", :bExams "85", :bApproval "85.9"}, :practice {:totalExams "87", :totalApproval "55.2", :bExams "78", :bApproval "52.6"}}}