{:name "Valpacense", :number "353", :address {:streetName "Rua Nadir Afonso", :raw "Rua Nadir Afonso, Nº 8, Santa Maria Maior,5400-416 CHAVES", :city "Chaves", :municipality "Chaves", :longitude -7.472999300000001, :state "Vila Real", :zipcode "5400-416", :streetNumber "8", :googlePlaceId "ChIJ-cUP_HreOg0RWC3xxij3pqE", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.74827560000001, :formattedAddress "Rua Nadir Afonso 8, 5400-416 Chaves, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}