{:name "Senhora da Graça", :number "685", :address {:streetName nil, :raw "Rua José Maria Alpoim 4880-253 MONDIM DE BASTO", :city "Mondim de Basto", :municipality "Mondim Basto", :longitude -7.9526065, :state "Vila Real", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJi84o9K3IJA0RMN3mozsbSdo", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.4112348, :formattedAddress "Mondim de Basto, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "8", :totalApproval "62.5", :bExams "6", :bApproval "83.3"}, :practice {:totalExams "16", :totalApproval "50.0", :bExams "16", :bApproval "50.0"}}}