{:name "Couto", :number "489", :address {:streetName "Avenida Doutor Moreira Sousa", :raw "Avª Dr. Moreira de Sousa nº 2251 4415-385 PEDROSO", :city "Pedroso", :municipality "Vila Nova Gaia", :longitude -8.5666718, :state "Porto", :zipcode "4415", :streetNumber "2251", :googlePlaceId "ChIJYWI7Uwl8JA0RBoqFG9eib6M", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0571087, :formattedAddress "Avenida Doutor Moreira Sousa 2251, 4415 Pedroso, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "200", :totalApproval "76.5", :bExams "179", :bApproval "76.0"}, :practice {:totalExams "181", :totalApproval "77.9", :bExams "161", :bApproval "76.4"}}}