{:name "Via Principal", :number "1191", :address {:streetName "Largo do Coreto", :raw "Largo do Coreto, Nº 1 - Ribaldeira 2565-262 DOIS PORTOS", :city nil, :municipality "Torres Vedras", :longitude -9.1934764, :state "Lisboa", :zipcode "2565", :streetNumber "1", :googlePlaceId "ChIJK39LQqosHw0RNB7DlfELcyw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.0421719, :formattedAddress "Largo do Coreto 1, 2565, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "21", :totalApproval "85.7", :bExams "16", :bApproval "87.5"}, :practice {:totalExams "18", :totalApproval "94.4", :bExams "8", :bApproval "87.5"}}}