{:name "Flaviense", :number "89", :address {:streetName "Rua Aliança", :raw "Bairro Aliança, 7 5400-040 SANTA MARIA MAIOR", :city "Chaves", :municipality "Chaves", :longitude -7.470563899999999, :state "Vila Real", :zipcode "5400", :streetNumber "7", :googlePlaceId "ChIJrQ-HYm_eOg0RWpnU6JrZVq4", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.7430723, :formattedAddress "Rua Aliança 7, 5400-039 Chaves, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "221", :totalApproval "74.2", :bExams "177", :bApproval "72.3"}, :practice {:totalExams "218", :totalApproval "67.0", :bExams "169", :bApproval "63.9"}}}