{:name "Azambuja", :number "233", :address {:streetName "Rua Engenheiro Moniz da Maia", :raw "Rua Engº Moniz da Maia, Nº 68 Loja 30 2050-356 AZAMBUJA", :city "Azambuja", :municipality "Lisboa", :longitude -8.8702825, :state "Lisboa", :zipcode "2050", :streetNumber "68", :googlePlaceId "EjxSdWEgRW5nZW5oZWlybyBNb25peiBkYSBNYWlhIDY4LCAyMDUwLTM1NiBBemFtYnVqYSwgUG9ydHVnYWw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.0682453, :formattedAddress "Rua Engenheiro Moniz da Maia 68, 2050-356 Azambuja, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "158", :totalApproval "71.5", :bExams "122", :bApproval "68.0"}, :practice {:totalExams "152", :totalApproval "72.4", :bExams "102", :bApproval "63.7"}}}