{:name "Mem Martins-Algueirão", :number "318", :address {:streetName "Rua Zambujal", :raw "Rua do Zambujal, nº 10 A 2725-472 MEM MARTINS", :city "Algueirão-Mem Martins", :municipality "Sintra", :longitude -9.341908000000002, :state "Lisboa", :zipcode "2725", :streetNumber "10", :googlePlaceId "ChIJa26fKTzQHg0RTD8iNvUD1SI", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.79574059999999, :formattedAddress "Rua Zambujal 10, 2725-397 Algueirão-Mem Martins, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "722", :totalApproval "70.6", :bExams "558", :bApproval "67.6"}, :practice {:totalExams "707", :totalApproval "67.5", :bExams "493", :bApproval "56.2"}}}