{:name "Nova Expo", :number "1254", :address {:streetName nil, :raw "Avª D. João II, Edificio Gil Eanes, Lote 1,13,03, Fracção H 1900-123 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1331586, :state "Lisbon", :zipcode "1900-123", :streetNumber nil, :googlePlaceId "ChIJRTQAaL0zGQ0RNwIVswkHhHo", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7352722, :formattedAddress "1900-123 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "618", :totalApproval "69.6", :bExams "541", :bApproval "68.6"}, :practice {:totalExams "621", :totalApproval "66.8", :bExams "556", :bApproval "64.4"}}}