{:name "Alameda", :number "1105", :address {:streetName "Alameda Linhas de Torres", :raw "Alameda das Linhas de Torres, Nº 122, Loja A 1769-020 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1571993, :state "Lisboa", :zipcode "1750", :streetNumber "122", :googlePlaceId "ChIJk7iA0O8yGQ0Rooe-8X8BFBQ", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7658412, :formattedAddress "Alameda Linhas de Torres 122, 1750-148 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "72", :totalApproval "63.9", :bExams "67", :bApproval "65.7"}, :practice {:totalExams "96", :totalApproval "58.3", :bExams "92", :bApproval "56.5"}}}