{:name "Rainha Santa", :number "376", :address {:streetName "Avenida Fernão de Magalhães", :raw "Avª Fernão de Magalhães, 160 –1º 3000-171 COIMBRA", :city "Coimbra", :municipality "Coimbra", :longitude -8.4322024, :state "Coimbra", :zipcode "3000", :streetNumber "160", :googlePlaceId "ChIJxem8MgT5Ig0RBYIX8XWV0U8", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.2111828, :formattedAddress "Avenida Fernão de Magalhães 160, 3000-176 Coimbra, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "330", :totalApproval "83.6", :bExams "289", :bApproval "84.4"}, :practice {:totalExams "343", :totalApproval "65.9", :bExams "291", :bApproval "60.8"}}}