{:name "Mafrense", :number "109", :address {:streetName "Rua Doutor Carlos Galrão", :raw "Rua Dr.Carlos Galrão, Nº 5 2640-467 MAFRA", :city "Mafra", :municipality "Mafra", :longitude -9.3303657, :state "Lisboa", :zipcode "2640", :streetNumber "5", :googlePlaceId "ChIJ96HXFtHXHg0RXPqeS19-VMw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.9402981, :formattedAddress "Rua Doutor Carlos Galrão 5, 2640-456 Mafra, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "88", :totalApproval "77.3", :bExams "53", :bApproval "79.2"}, :practice {:totalExams "97", :totalApproval "90.7", :bExams "58", :bApproval "86.2"}}}