{:name "Nova de Peniche", :number "1323", :address {:streetName nil, :raw "Rua Arquiteto Paulino Montez, Nº 94, R/C Dtº, 2520-295 PENICHE", :city "Peniche", :municipality "Peniche", :longitude -9.387622, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJRaEFmMRFHw0R82uVoJb1yiY", :stateCode nil, :noEntriesAtGMaps false, :latitude 39.3603291, :formattedAddress "Peniche, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "126", :totalApproval "79.4", :bExams "117", :bApproval "80.3"}, :practice {:totalExams "98", :totalApproval "62.2", :bExams "93", :bApproval "61.3"}}}