{:name "Alto dos Moinhos", :number "1245", :address {:streetName "Rua João de Freitas Branco", :raw "Rua João de Freitas Branco,Nº 37-Loja A 1500-359 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.180322, :state "Lisboa", :zipcode "1500", :streetNumber "37", :googlePlaceId "EjlSdWEgSm_Do28gZGUgRnJlaXRhcyBCcmFuY28gMzcsIDE1MDAtNjI3IExpc2JvYSwgUG9ydHVnYWw", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7538169, :formattedAddress "Rua João de Freitas Branco 37, 1500-627 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "64", :totalApproval "79.7", :bExams "61", :bApproval "82.0"}, :practice {:totalExams "53", :totalApproval "62.3", :bExams "50", :bApproval "60.0"}}}