{:name "Princesa", :number "865", :address {:streetName nil, :raw "Lugar do Campelo-Bairro do Pinhal, Lote 2 A-R/C 5300-167 BRAGANÇA (SÉ)", :city "Bragança", :municipality "Bragança", :longitude -6.7649202, :state "Bragança", :zipcode "5300-167", :streetNumber nil, :googlePlaceId "ChIJN75Q8vFJOg0RAV0qOCngPyE", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.80883499999999, :formattedAddress "5300-167 Bragança, Portugal", :duplicatedAtGMaps false, :district "Bragança"}, :rating {:theory {:totalExams "90", :totalApproval "71.1", :bExams "67", :bApproval "70.1"}, :practice {:totalExams "148", :totalApproval "67.6", :bExams "91", :bApproval "60.4"}}}