{:name "Carreira", :number "1108", :address {:streetName nil, :raw "Rua Alfredo da Maia Pereira nº 6 r/c  Esqº 2300-449 TOMAR", :city "Tomar", :municipality "Tomar", :longitude -8.4043125, :state "Santarém District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJK8leGat-GA0R6uUjP8gMizY", :stateCode "Santarém District", :noEntriesAtGMaps false, :latitude 39.6053819, :formattedAddress "Tomar, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "138", :totalApproval "77.5", :bExams "113", :bApproval "78.8"}, :practice {:totalExams "167", :totalApproval "73.1", :bExams "143", :bApproval "70.6"}}}