{:name "Império", :number "325", :address {:streetName "Rua do Amial", :raw "Rua do Amial, Nº 928 4200-056 PORTO", :city "Porto", :municipality "Porto", :longitude -8.613527, :state "Porto", :zipcode "4200", :streetNumber "928", :googlePlaceId "ChIJRWnbBjVkJA0RwLOWbIGpHko", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1811041, :formattedAddress "Rua do Amial 928, 4200-056 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "196", :totalApproval "81.6", :bExams "159", :bApproval "82.4"}, :practice {:totalExams "210", :totalApproval "80.5", :bExams "156", :bApproval "75.6"}}}