{:name "Ariz", :number "1154", :address {:raw "Lugar de Lamoso-Urbanizaçâo Lameu 4625-110 S.PAIO de FAVÕES", :municipality "Marco Canavezes", :district "Porto", :duplicatedAtGMaps false, :noEntriesAtGMaps true}, :rating {:theory {:totalExams "71", :totalApproval "71.8", :bExams "59", :bApproval "72.9"}, :practice {:totalExams "81", :totalApproval "50.6", :bExams "72", :bApproval "48.6"}}}