{:name "Novo Milénio", :number "946", :address {:raw "Lugar da Senra 4765-458 GUARDIZELA", :municipality "Guimarães", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.3899483, :longitude -8.3685941, :formattedAddress "4765 Guardizela, Portugal"}, :rating {:theory {:totalExams "21", :totalApproval "71.4", :bExams "21", :bApproval "71.4"}, :practice {:totalExams "22", :totalApproval "68.2", :bExams "21", :bApproval "66.7"}}}