{:name "FRC-Lixa", :number "1246", :address {:streetName "Avenida Alto da Lixa", :raw "Alto da Lixa 4615-301 BORBA de GODIM", :city "Borba de Godim", :municipality "Felgueiras", :longitude -8.141280199999999, :state "Porto", :zipcode "4615", :streetNumber nil, :googlePlaceId "ChIJo2cVWKzqJA0Rb-ciM3V3Uis", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3158258, :formattedAddress "Avenida Alto da Lixa, 4615 Borba de Godim, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "135", :totalApproval "63.7", :bExams "126", :bApproval "64.3"}, :practice {:totalExams "113", :totalApproval "63.7", :bExams "101", :bApproval "63.4"}}}