{:name "Triunfo", :number "56", :address {:streetName "Rua Alves Redol", :raw "Rua Alves Redol, 115 e 117 2600 -100 VILA FRANCA XIRA", :city "Vila Franca de Xira", :municipality "Vila Franca Xira", :longitude -8.9869716, :state "Lisboa", :zipcode "2600", :streetNumber "115", :googlePlaceId "ChIJl80jcpQnGQ0R_r3Xx0AJmZ4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.9580398, :formattedAddress "Rua Alves Redol 115, 2600-100 Vila Franca de Xira, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "131", :totalApproval "77.9", :bExams "106", :bApproval "78.3"}, :practice {:totalExams "128", :totalApproval "84.4", :bExams "97", :bApproval "79.4"}}}