{:name "O & S", :number "689", :address {:streetName "Rua Coronel Albino Rodrigues", :raw "Rua Coronel Albino Rodrigues nº 176 r/c 4715-559 FRAIÃO", :city "Braga", :municipality "Braga", :longitude -8.408944, :state "Braga", :zipcode "4715", :streetNumber "176", :googlePlaceId "ChIJoXgalbH-JA0RI6oaz3q_JaA", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.53871640000001, :formattedAddress "Rua Coronel Albino Rodrigues 176, 4715-213 Braga, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}