{:name "Egitaniense", :number "1024", :address {:streetName "Rua Francisco Piçarra de Matos", :raw "Rua Dr. Francisco Pissara de Matos-Lote 7 r/c 6300-693 GUARDA", :city "Guarda", :municipality "Guarda", :longitude -7.262403099999999, :state "Guarda", :zipcode "6300", :streetNumber "7", :googlePlaceId "ChIJod4AWdT6PA0RkiJgveBtSSM", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.5316429, :formattedAddress "Rua Francisco Piçarra de Matos 7, 6300-673 Guarda, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "38", :totalApproval "76.3", :bExams "38", :bApproval "76.3"}, :practice {:totalExams "49", :totalApproval "46.9", :bExams "49", :bApproval "46.9"}}}