{:name "M 7", :number "1160", :address {:streetName "Avenida Hans Isler", :raw "AV. Hans Isler, Nº 216 4620-268 CRISTELOS", :city "Lousada", :municipality "Lousada", :longitude -8.2858328, :state "Porto", :zipcode "4620", :streetNumber "216", :googlePlaceId "ChIJHU01I_OSJA0RPVzbnYWMfzY", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2698421, :formattedAddress "Avenida Hans Isler 216, 4620-649 Lousada, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}