{:name "Net Rodas", :number "1273", :address {:streetName nil, :raw "Rua António Fortunato de Sousa, n.º 71, 2870-059 MONTIJO", :city "Montijo", :municipality "Montijo", :longitude -8.974118299999999, :state "Setúbal", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ1y3AOus5GQ0RBuQb0aeUzEI", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.7055652, :formattedAddress "Montijo, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "153", :totalApproval "76.5", :bExams "146", :bApproval "75.3"}, :practice {:totalExams "156", :totalApproval "72.4", :bExams "149", :bApproval "71.1"}}}