{:name "Ronfense", :number "701", :address {:streetName "Rua São Tiago", :raw "Rua de S. Tiago, Nº 784 4805-437 RONFE", :city "Ronfe", :municipality "Guimarães", :longitude -8.3806956, :state "Braga", :zipcode "4805", :streetNumber "784", :googlePlaceId "EixSdWEgU8OjbyBUaWFnbyA3ODQsIDQ4MDUtNDM3IFJvbmZlLCBQb3J0dWdhbA", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4417335, :formattedAddress "Rua São Tiago 784, 4805-437 Ronfe, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "138", :totalApproval "71.0", :bExams "116", :bApproval "70.7"}, :practice {:totalExams "145", :totalApproval "86.9", :bExams "130", :bApproval "85.4"}}}