{:name "Volante de Cristal", :number "682", :address {:streetName nil, :raw "Rampa Alta, Amarante, Porto, 4600, Portugal", :city "Amarante", :municipality "Amarante", :longitude -8.0826488, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.26963569999999, :formattedAddress "4600 Amarante, Portugal", :duplicatedAtGMaps nil, :district "Porto"}, :rating {:theory {:totalExams "36", :totalApproval "75.0", :bExams "34", :bApproval "79.4"}, :practice {:totalExams "41", :totalApproval "48.8", :bExams "41", :bApproval "48.8"}}}