{:name "Pátria", :number "193", :address {:streetName nil, :raw "Rua Ferreira da Silva nº 1 r/c Esqº 1900-228 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.133557699999999, :state "Lisbon", :zipcode "1900-228", :streetNumber nil, :googlePlaceId "ChIJg0DGRr0zGQ0RNanO5h1nMbo", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7356518, :formattedAddress "1900-228 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "7", :totalApproval "100.0", :bExams "7", :bApproval "100.0"}}}