{:name "Nova Atitude", :number "1200", :address {:streetName nil, :raw "Rua José Rocha, n.º 266 ; 4430-121 Vila Nova de Gaia", :city "Vila Nova de Gaia", :municipality "Vila Nova Gaia", :longitude -8.6003226, :state "Porto District", :zipcode "4430-121", :streetNumber nil, :googlePlaceId "ChIJIetuEsxkJA0RpOviETqD_n8", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.1239821, :formattedAddress "4430-121 Vila Nova de Gaia, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "53", :totalApproval "71.7", :bExams "50", :bApproval "70.0"}, :practice {:totalExams "39", :totalApproval "51.3", :bExams "33", :bApproval "45.5"}}}