{:name "Cucujães", :number "1212", :address {:streetName "Rua Do Mosteiro", :raw "Rua Do Mosteiro, Oliveira de Azeméis, 3720-350 Aveiro", :city "Aveiro", :municipality "Aveiro", :longitude -8.513685, :zipcode "3720-350", :latitude 40.886131, :formattedAddress "Rua Do Mosteiro, Oliveira de Azeméis, 3720-350 Aveiro", :district "Aveiro"}, :contacts {:phone 256185676, :mobile [962002718 964929244], :fax 256185677, :website ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}