{:name "Rolante de Famalicão", :number "385", :address {:streetName "Avenida Narciso Ferreira", :raw "Rua Narciso Ferreira, 21-25 4760-105 VILA NOVA DE FAMALICÃO", :city "Vila Nova de Famalicão", :municipality "Vila Nova Famalicão", :longitude -8.5189892, :state "Braga", :zipcode "4760", :streetNumber "21", :googlePlaceId "EkdBdmVuaWRhIE5hcmNpc28gRmVycmVpcmEgMjEsIDQ3NjAtMTExIFZpbGEgTm92YSBkZSBGYW1hbGljw6NvLCBQb3J0dWdhbA", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4088662, :formattedAddress "Avenida Narciso Ferreira 21, 4760-111 Vila Nova de Famalicão, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "172", :totalApproval "76.7", :bExams "151", :bApproval "75.5"}, :practice {:totalExams "167", :totalApproval "70.7", :bExams "129", :bApproval "64.3"}}}