{:name "Euro Boavista", :number "1072", :address {:streetName nil, :raw "Av. João Paulo II, n.º 646; 4410-406 Arcozelo - Vila Nova de Gaia", :city "Arcozelo", :municipality "Vila Nova Gaia", :longitude -8.639438300000002, :state "Porto", :zipcode "4410-406", :streetNumber nil, :googlePlaceId "ChIJC-IHImp6JA0RvgrIzX33h_M", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0617339, :formattedAddress "4410-406 Arcozelo, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "125", :totalApproval "77.6", :bExams "114", :bApproval "76.3"}, :practice {:totalExams "97", :totalApproval "71.1", :bExams "88", :bApproval "70.5"}}}