{:name "A Coroa de Vinhais", :number "352", :address {:streetName nil, :raw "Rua de São Francisco N 9, Vinhais, 5320-321 Bragança", :city "Vinhais", :municipality nil, :longitude -7.009300499999999, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 41.8307225, :formattedAddress "5320 Vinhais, Portugal", :duplicatedAtGMaps nil, :district "Bragança"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "69", :totalApproval "69.6", :bExams "53", :bApproval "60.4"}}}