{:name "O Grande Prémio", :number "571", :address {:streetName "Avenida Dom João i", :raw "Avª D. João I, Nº 877 4435-208 RIO TINTO", :city "Rio Tinto", :municipality "Gondomar", :longitude -8.5593349, :state "Porto", :zipcode "4435", :streetNumber "877", :googlePlaceId "ChIJ6-bDZZtjJA0R8g4rS66jCKU", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1685812, :formattedAddress "Avenida Dom João i 877, 4435-233 Rio Tinto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "67", :totalApproval "79.1", :bExams "63", :bApproval "77.8"}, :practice {:totalExams "74", :totalApproval "64.9", :bExams "70", :bApproval "62.9"}}}