{:name "A Fazendense", :number "1131", :address {:streetName "Rua João de Deus", :raw "Rua João de Deus – Fazendas de Almeirim 2080 ALMEIRIM", :city "Fazendas de Almeirim", :municipality "Almeirim", :longitude -8.592332599999999, :state "Santarém", :zipcode "2080", :streetNumber nil, :googlePlaceId "ChIJa6sDipjwGA0Rrm_a9bQImzk", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.179089, :formattedAddress "Rua João de Deus, 2080 Fazendas de Almeirim, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "410", :totalApproval "68.5", :bExams "353", :bApproval "68.3"}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}