{:name "Auto Dinâmica", :number "220", :address {:streetName nil, :raw "Avª Fernando Pessoa, Nº 8 R/C Dtº 6420-018 TRANCOSO", :city "Trancoso", :municipality "Trancoso", :longitude -7.3491442, :state "Guarda District", :zipcode "6420", :streetNumber nil, :googlePlaceId "ChIJ_V9t8IuTPA0REdqgpe56zA0", :stateCode "Guarda District", :noEntriesAtGMaps false, :latitude 40.7787604, :formattedAddress "6420 Trancoso, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "45", :totalApproval "57.8", :bExams "43", :bApproval "55.8"}, :practice {:totalExams "30", :totalApproval "50.0", :bExams "30", :bApproval "50.0"}}}