{:name "Auto - Carta", :number "129", :address {:streetName "Rua Alexandre Herculano", :raw "Rua Alexandre Herculano, 62-1º Andar 2520-273 PENICHE", :city "Peniche", :municipality "Peniche", :longitude -9.378944299999999, :state "Leiria", :zipcode "2520", :streetNumber "62", :googlePlaceId "ChIJNV8cN-NFHw0R0hoekUTxGUE", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.3594093, :formattedAddress "Rua Alexandre Herculano 62, 2520-276 Peniche, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "82", :totalApproval "79.3", :bExams "76", :bApproval "80.3"}, :practice {:totalExams "77", :totalApproval "64.9", :bExams "72", :bApproval "65.3"}}}