{:name "100 %", :number "910", :address {:streetName "", :observations "", :raw "R. Prof. Agostinho da Silva 20, 2725 Sintra, Portugal", :city "Algueirão-Mem Martins", :municipality "", :longitude -9.332903, :zipcode "", :streetNumber "", :latitude 38.79802, :formattedAddress "R. Prof. Agostinho da Silva 20, 2725 Sintra, Portugal", :district "Lisboa"}, :contacts {:phone 219218879, :mobile [], :fax nil, :website "", :facebook "https://www.facebook.com/Escola-de-Condu%C3%A7%C3%A3o-100-262551500484487", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}