{:name "Centro de Portugal", :number "84", :address {:streetName "Rua do Brasil", :raw "Rua do Brasil, Nº 274 –A 3030-775 COIMBRA", :city "Coimbra", :municipality "Coimbra", :longitude -8.4119949, :state "Coimbra", :zipcode "3000", :streetNumber "274A", :googlePlaceId "ChIJv3rgCZz5Ig0RFf_x2K84fRc", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.2018289, :formattedAddress "Rua do Brasil 274A, 3000 Coimbra, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "160", :totalApproval "80.0", :bExams "146", :bApproval "78.8"}, :practice {:totalExams "149", :totalApproval "65.8", :bExams "135", :bApproval "64.4"}}}