{:name "J. L.", :number "1253", :address {:streetName nil, :raw "Rua Major António Fernandes Varão, Lote 15-Loja A-3 5000-414 VILA REAL", :city "Vila Real", :municipality "Vila Real", :longitude -7.7422354, :state "Vila Real", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJL_SzFKlLOw0RA3aSE13pF0w", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.3010351, :formattedAddress "Vila Real, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "108", :totalApproval "72.2", :bExams "86", :bApproval "70.9"}, :practice {:totalExams "121", :totalApproval "66.1", :bExams "93", :bApproval "62.4"}}}