{:name "Linha de Sintra", :number "1081", :address {:streetName "Estr. Nacional 270", :raw "Estrada Nacional 125, Fonte de Boliqueime, Nº 66, 8100-069 BOLIQUEIME", :city "Loulé", :municipality "Loulé", :longitude -8.148334, :state "Faro", :zipcode "8100-908", :streetNumber "Ed Nascente da Fonte", :googlePlaceId "ChIJhzKET8LJGg0RGkokCc5eWPE", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.125957, :formattedAddress "Loja de Rega CUDELL - Outdoor Solutions (Boliqueime), Estr. Nacional 270 Ed Nascente da Fonte, 8100-908 Loulé, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "51", :totalApproval "60.8", :bExams "42", :bApproval "59.5"}, :practice {:totalExams "43", :totalApproval "44.2", :bExams "35", :bApproval "48.6"}}}