{:name "Grancoop", :number "370", :address {:streetName nil, :raw "Avª João Crisóstomo,Nº  66 –1º Dtª 1050-028 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.151795, :state "Lisbon", :zipcode "1050-028", :streetNumber nil, :googlePlaceId "ChIJ42klW3MzGQ0ReHW76MES720", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7323029, :formattedAddress "1050-028 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "123", :totalApproval "79.7", :bExams "92", :bApproval "75.0"}, :practice {:totalExams "132", :totalApproval "68.2", :bExams "102", :bApproval "60.8"}}}