{:name "Guiante de Gonçalves e Antunes", :number "654", :address {:streetName "Rua Padre Silva Gonçalves", :raw "Rua Padre da Silva Gonçalves nº 206 4805-161 CALDAS das TAIPAS", :city "Caldelas", :municipality "Guimarães", :longitude -8.3450551, :state "Braga", :zipcode "4805", :streetNumber "206", :googlePlaceId "EjdSdWEgUGFkcmUgU2lsdmEgR29uw6dhbHZlcyAyMDYsIDQ4MDUgQ2FsZGVsYXMsIFBvcnR1Z2Fs", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.48716539999999, :formattedAddress "Rua Padre Silva Gonçalves 206, 4805 Caldelas, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "222", :totalApproval "80.2", :bExams "196", :bApproval "80.1"}, :practice {:totalExams "257", :totalApproval "96.1", :bExams "207", :bApproval "95.2"}}}