{:name "Mira-Lima", :number "754", :address {:streetName "", :observations "", :raw "Paço Vedro de Magalhães - Painçais Ponte da Barca, 4980-554 Viana do Castelo", :city "Ponte da Barca", :municipality "", :longitude -8.4144089, :zipcode "", :streetNumber "", :latitude 41.7958757, :formattedAddress "Paço Vedro de Magalhães - Painçais Ponte da Barca, 4980-554 Viana do Castelo", :district "Viana do Castelo"}, :contacts {:phone 258455123, :mobile [], :fax "", :website "http://escolamiralima.blogspot.co.uk", :facebook "", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}