{:name "Aléu", :number "1260", :address {:streetName nil, :raw "Rua Actor Rui de Carvalho, Lote 5, Loja R/C 5000-262 VILA REAL", :city "Vila Real", :municipality "Vila Real", :longitude -7.7422354, :state "Vila Real", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJL_SzFKlLOw0RA3aSE13pF0w", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.3010351, :formattedAddress "Vila Real, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "67", :totalApproval "73.1", :bExams "65", :bApproval "72.3"}, :practice {:totalExams "76", :totalApproval "69.7", :bExams "72", :bApproval "68.1"}}}