{:name "Malvarosa", :number "1272", :address {:streetName nil, :raw "Urbanização Malva Rosa, Lote 43, Verdelha, 2615-150 ALVERCA DO RIBATEJO", :city "Alverca do Ribatejo", :municipality "Vila Franca Xira", :longitude -9.0489885, :state "Lisboa", :zipcode "2615", :streetNumber nil, :googlePlaceId "ChIJqdNMKtMoGQ0Rdz9LdKTO2B0", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8866646, :formattedAddress "Verdelha, 2615-034 Alverca do Ribatejo, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}