{:name "Máxima", :number "983", :address {:raw "Rua Dr. António Augusto Pires de Lima, N 327 4785-313 S. MARTINHO", :municipality "Trofa", :district "Porto", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.33414, :longitude -8.562797800000002, :formattedAddress "R. Dr. António Augusto Pires de Lima 327, 4785-308 Trofa, Portugal"}, :rating {:theory {:totalExams "68", :totalApproval "64.7", :bExams "54", :bApproval "59.3"}, :practice {:totalExams "58", :totalApproval "70.7", :bExams "40", :bApproval "65.0"}}}