{:name "Murtosa", :number "458", :address {:streetName "Rua Guerra Junqueiro", :raw "Rua Guerra Junqueira - Monte 3870-133 MURTOSA", :city nil, :municipality "Murtosa", :longitude -8.6349804, :state "Aveiro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJI0iosl2aIw0RziOlNAKuHVc", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.7491821, :formattedAddress "Rua Guerra Junqueiro, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "138", :totalApproval "73.2", :bExams "112", :bApproval "68.8"}, :practice {:totalExams "143", :totalApproval "72.0", :bExams "110", :bApproval "69.1"}}}