{:name "A Sul Parque", :number "1238", :address {:raw "Estrada Nacional 1, 4520-602 S. JOÃO de VER", :municipality "Santa Maria da Feira", :district "Aveiro", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 40.9157471, :longitude -8.5783799, :formattedAddress "R. Estr. Nacional 1, 4520, Portugal"}, :rating {:theory {:totalExams "99", :totalApproval "76.8", :bExams "92", :bApproval "75.0"}, :practice {:totalExams "100", :totalApproval "86.0", :bExams "92", :bApproval "84.8"}}}