{:name "Leão", :number "46", :address {:streetName "Rua António Pereira Carrilho", :raw "Rua António Pereira Carrilho, 9 - 1º 1000-046 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1357046, :state "Lisboa", :zipcode "1000", :streetNumber "9", :googlePlaceId "ChIJpc5NDJgzGQ0RaZtLQy5icyI", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7339437, :formattedAddress "Rua António Pereira Carrilho 9, 1000-098 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}