{:name "Guedes Vieira - Póvoa do Varzim", :number "479", :address {:streetName nil, :raw "Av. Vasco da Gama n.º 76 r/c, 4490-410, PÓVOA de VARZIM", :city "Povoa de Varzim", :municipality "Póvoa de Varzim", :longitude -8.7683258, :state "Porto District", :zipcode "4490-410", :streetNumber nil, :googlePlaceId "ChIJFWOXOGBGJA0RObs11QQ11Ig", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.3876784, :formattedAddress "4490-410 Povoa de Varzim, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "139", :totalApproval "72.7", :bExams "110", :bApproval "71.8"}, :practice {:totalExams "181", :totalApproval "76.8", :bExams "135", :bApproval "74.1"}}}