{:name "Extra", :number "614", :address {:streetName nil, :raw "Praceta Manuel Fialho, Torre 1, Loja Dtª 2660-460 SANTO ANTÓNIO dos CAVALEIROS", :city "Santo António dos Cavaleiros", :municipality "Loures", :longitude -9.1640362, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJz55hFmstGQ0R9nPygLV3P9A", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8137476, :formattedAddress "Santo António dos Cavaleiros, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "43", :totalApproval "62.8", :bExams "43", :bApproval "62.8"}, :practice {:totalExams "35", :totalApproval "62.9", :bExams "35", :bApproval "62.9"}}}