{:name "Santa Maria", :number "520", :address {:streetName "Avenida Alcaides de Faria", :raw "Avª Alcaides de Faria, 425 - 1º-Sala 3 4750-106 BARCELOS", :city "Barcelos", :municipality "Barcelos", :longitude -8.614413899999999, :state "Braga", :zipcode "4750", :streetNumber "425", :googlePlaceId "ChIJfYcTHstTJA0RTgPCw31GVpY", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5346666, :formattedAddress "Avenida Alcaides de Faria 425, 4750-106 Barcelos, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "88", :totalApproval "71.6", :bExams "80", :bApproval "71.3"}, :practice {:totalExams "80", :totalApproval "67.5", :bExams "74", :bApproval "64.9"}}}