{:name "Morais", :number "336", :address {:streetName nil, :raw "Avª dos Combatentes da Grande Guerra, Edf. Lena, 2ºPiso 2400-123 LEIRIA", :city "Leiria", :municipality "Leiria", :longitude -8.807682999999999, :state "Leiria District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJubLJNBVzIg0RbDzUOSeDr00", :stateCode "Leiria District", :noEntriesAtGMaps false, :latitude 39.74953310000001, :formattedAddress "Leiria, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "189", :totalApproval "77.8", :bExams "159", :bApproval "76.7"}, :practice {:totalExams "187", :totalApproval "78.6", :bExams "148", :bApproval "75.0"}}}