{:name "D. Dinis", :number "869", :address {:streetName "Avenida General Humberto Delgado", :raw "Rua General Humberto Delgado nº 274/276 2400-250 LEIRIA", :city "Leiria", :municipality "Leiria", :longitude -8.8024301, :state "Leiria", :zipcode "2400", :streetNumber "274", :googlePlaceId "EjtBdmVuaWRhIEdlbmVyYWwgSHVtYmVydG8gRGVsZ2FkbyAyNzQsIDI0MDAgTGVpcmlhLCBQb3J0dWdhbA", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.7381302, :formattedAddress "Avenida General Humberto Delgado 274, 2400 Leiria, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "104", :totalApproval "77.9", :bExams "92", :bApproval "81.5"}, :practice {:totalExams "126", :totalApproval "59.5", :bExams "113", :bApproval "56.6"}}}