{:name "Século XXI", :number "802", :address {:streetName nil, :raw "Rua Envolvente à Praça de Touros 14 A 2860-293 MOITA", :city "Moita", :municipality "Moita", :longitude -8.9902047, :state "Setúbal", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ-cQZqIFHGQ0RQAiR5L3rAAU", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6527329, :formattedAddress "Moita, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "96", :totalApproval "79.2", :bExams "85", :bApproval "77.6"}, :practice {:totalExams "73", :totalApproval "79.5", :bExams "63", :bApproval "76.2"}}}