{:name "Sargaço e Sargaço", :number "848", :address {:streetName "Rua João de Deus", :raw "Rua João de Deus, 13 A 7920-54 BEJA", :city "Vila Nova da Baronia", :municipality "Alvito", :longitude -8.0362647, :state "Beja", :zipcode "7920-379", :streetNumber "13", :googlePlaceId "ChIJxTQiDvobGg0RJpmwe9aLcGo", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 38.2875947, :formattedAddress "Rua João de Deus 13, 7920-379 Vila Nova da Baronia, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "7", :totalApproval "57.1", :bExams "6", :bApproval "50.0"}, :practice {:totalExams "10", :totalApproval "50.0", :bExams "7", :bApproval "28.6"}}}