{:name "Santa Combadense", :number "443", :address {:streetName nil, :raw "Avª das Laranjeiras, Edificio Panorama, Bloco B 3780-202 ANADIA", :city "Anadia", :municipality "Anadia", :longitude -8.4354306, :state "Aveiro", :zipcode "3780", :streetNumber nil, :googlePlaceId "ChIJcca20PUGIw0RnnDzcQEywNs", :stateCode "Aveiro", :noEntriesAtGMaps false, :latitude 40.4409572, :formattedAddress "3780 Anadia, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}