{:name "Cortes de Setúbal", :number "547", :address {:streetName nil, :raw "Av. Luísa Todi, n.º 289, Loja; 2900-964 Setúbal", :city nil, :municipality "Setúbal", :longitude -8.9300538, :state nil, :zipcode "2900", :streetNumber nil, :googlePlaceId "ChIJH4ESFIFEGQ0RsJ87DsHrABw", :stateCode nil, :noEntriesAtGMaps false, :latitude 38.5162187, :formattedAddress "2900, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "298", :totalApproval "71.1", :bExams "198", :bApproval "65.2"}, :practice {:totalExams "326", :totalApproval "71.2", :bExams "218", :bApproval "60.6"}}}