{:name "Queluz", :number "210", :address {:streetName nil, :raw "Rua D.Pedro IV nº 37 – 1º Dtº 2745-201 QUELUZ", :city "Queluz", :municipality "Sintra", :longitude -9.2510482, :state "Lisbon", :zipcode "2745-201", :streetNumber nil, :googlePlaceId "ChIJhfmGVbfNHg0RTWqXlKbKytQ", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7564417, :formattedAddress "2745-201 Queluz, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "150", :totalApproval "64.7", :bExams "141", :bApproval "63.8"}, :practice {:totalExams "151", :totalApproval "70.2", :bExams "145", :bApproval "69.0"}}}