{:name "Fatimense", :number "1158", :address {:streetName nil, :raw "Estrada Principal de Fátima (Edifício Fátima) Loja 2 R/C 2495-552 FÁTIMA", :city "Fátima", :municipality "Ourém", :longitude -8.6520361, :state "Santarém", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJaUoq0imDGA0RIbzSNYjeWtw", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.6169407, :formattedAddress "Fátima, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "41", :totalApproval "87.8", :bExams "35", :bApproval "85.7"}, :practice {:totalExams "54", :totalApproval "77.8", :bExams "47", :bApproval "76.6"}}}