{:name "Maia e Ferreira", :number "921", :address {:raw "Rua dos Pinheiros, lote 2 - Apartado 50 6100-266 CERNACHE BONJARDIM", :municipality "Sertã", :district "CasteloBranco", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 39.8169193, :longitude -8.184938299999999, :formattedAddress "Rua dos Pinheiros, lote 2, 6100-266 Cernache do Bonjardim, Portugal"}, :rating {:theory {:totalExams "23", :totalApproval "87.0", :bExams "18", :bApproval "83.3"}, :practice {:totalExams "22", :totalApproval "72.7", :bExams "18", :bApproval "66.7"}}}