{:name "Auto Real", :number "95", :address {:streetName "Rua da Misericórdia", :raw "Rua da Misericórdia, nº 2 5000-653 VILA REAL", :city "Vila Real", :municipality "Vila Real", :longitude -7.745480799999999, :state "Vila Real", :zipcode "5000", :streetNumber "2", :googlePlaceId "ChIJXXneyAZLOw0R594EtYmqIuY", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.2952356, :formattedAddress "Rua da Misericórdia 2, 5000-651 Vila Real, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "105", :totalApproval "72.4", :bExams "73", :bApproval "67.1"}, :practice {:totalExams "132", :totalApproval "73.5", :bExams "83", :bApproval "59.0"}}}