{:name "S. Miguel", :number "680", :address {:raw "Largo das Teixugueiras, 284, Bloco 4 A - R/C Esq 4815-474 CALDAS de VIZELA", :municipality "Vizela", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.3823202, :longitude -8.3151809, :formattedAddress "Largo das Teixugueiras, N. 284, Bloco 4 A - R/C Esq, 4815-474 Vizela, Portugal"}, :rating {:theory {:totalExams "208", :totalApproval "81.7", :bExams "194", :bApproval "81.4"}, :practice {:totalExams "185", :totalApproval "60.5", :bExams "172", :bApproval "58.7"}}}