{:name "Eduardo Pereira de Campos", :number "19", :address {:streetName "Avenida Álvares Cabral", :raw "Avª Álvares Cabral, 24 1250-018 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1561478, :state "Lisboa", :zipcode "1250", :streetNumber "24", :googlePlaceId "ChIJ50PXKHszGQ0RW_i_SedA7uA", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.719531, :formattedAddress "Avenida Álvares Cabral 24, 1250-096 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "105", :totalApproval "61.0", :bExams "94", :bApproval "59.6"}, :practice {:totalExams "129", :totalApproval "65.1", :bExams "117", :bApproval "63.2"}}}