{:name "Sucesso do Lima", :number "675", :address {:streetName nil, :raw "Edificio de Merim - Fracção H, R/C 4990-343 FEITOSA", :city nil, :municipality "Ponte de Lima", :longitude -8.5858382, :state "Viana do Castelo", :zipcode "4990", :streetNumber nil, :googlePlaceId "ChIJuZnDcv-lJQ0RUBaR5L3rAAU", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.749776, :formattedAddress "Feitosa, 4990, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "84", :totalApproval "65.5", :bExams "74", :bApproval "64.9"}, :practice {:totalExams "73", :totalApproval "64.4", :bExams "65", :bApproval "63.1"}}}