{:name "Gueifães", :number "1304", :address {:streetName nil, :raw "Rua de Gueimaia, n.º 407; 4470-054 Gueifães", :city "Maia", :municipality "Maia", :longitude -8.601874, :state "Porto District", :zipcode "4470-054", :streetNumber nil, :googlePlaceId "ChIJA0tHrpNmJA0Rl1xuZiTJuWg", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.2167385, :formattedAddress "4470-054 Maia, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "41", :totalApproval "78.0", :bExams "41", :bApproval "78.0"}, :practice {:totalExams "36", :totalApproval "72.2", :bExams "36", :bApproval "72.2"}}}