{:name "Arcos de Valdevez", :number "862", :address {:streetName "Praça Dom Manuel I", :raw "Praça D. Manuel I, Nº 72 4970-595 ARCOS DE VALDEVEZ (SÃO PAIO)", :city "Arcos de Valdevez", :municipality "Arcos Valdevez", :longitude -8.4173426, :state "Viana do Castelo", :zipcode "4970", :streetNumber "72", :googlePlaceId "EjhQcmHDp2EgRG9tIE1hbnVlbCBJIDcyLCA0OTcwIEFyY29zIGRlIFZhbGRldmV6LCBQb3J0dWdhbA", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.838255, :formattedAddress "Praça Dom Manuel I 72, 4970 Arcos de Valdevez, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "28", :totalApproval "71.4", :bExams "17", :bApproval "88.2"}, :practice {:totalExams "23", :totalApproval "100.0", :bExams "16", :bApproval "100.0"}}}