{:name "Damaia", :number "420", :address {:streetName nil, :raw "Rua Padre António, 81 – 1º Dtº 4470-136 MAIA", :city "Maia", :municipality "Maia", :longitude -8.621049, :state "Porto District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ4zGTOfhmJA0RfmcqcLKlVKk", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.2278891, :formattedAddress "Maia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "150", :totalApproval "74.0", :bExams "136", :bApproval "74.3"}, :practice {:totalExams "126", :totalApproval "75.4", :bExams "113", :bApproval "73.5"}}}