{:name "De Livração", :number "1167", :address {:streetName "Rua Nossa Senhora Livração", :raw "Lugar da Livração 4635-518 TOUTOSA", :city nil, :municipality "Marco Canavezes", :longitude -8.143071299999999, :state "Porto", :zipcode "4635", :streetNumber "518", :googlePlaceId "EjBSdWEgTm9zc2EgU2VuaG9yYSBMaXZyYcOnw6NvIDUxOCwgNDYzNSwgUG9ydHVnYWw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2198385, :formattedAddress "Rua Nossa Senhora Livração 518, 4635, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "47", :totalApproval "76.6", :bExams "35", :bApproval "77.1"}, :practice {:totalExams "54", :totalApproval "64.8", :bExams "41", :bApproval "61.0"}}}