{:name "Nova em Gulpilhares", :number "1021", :address {:streetName nil, :raw "Rua Padre Cid n º 390 r/c 4405-677 GULPILHARES", :city "Gulpilhares", :municipality "Vila Nova Gaia", :longitude -8.6343923, :state "Porto", :zipcode "4405", :streetNumber nil, :googlePlaceId "ChIJe7-9nV56JA0RhKQyK7WLTyY", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0725532, :formattedAddress "4405-624 Gulpilhares, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "76", :totalApproval "69.7", :bExams "69", :bApproval "66.7"}, :practice {:totalExams "83", :totalApproval "57.8", :bExams "73", :bApproval "56.2"}}}