{:name "Bracarense", :number "97", :address {:streetName nil, :raw "Avª da Liberdade, 666 – 2º Dtº 4710-249 BRAGA", :city "Braga", :municipality "Braga", :longitude -8.420821199999999, :state "Braga", :zipcode "4710-249", :streetNumber nil, :googlePlaceId "ChIJM0GSqMH-JA0RiCFKGqQeJ7s", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.5488139, :formattedAddress "4710-249 Braga, Portugal", :duplicatedAtGMaps true, :district "Braga"}, :rating {:theory {:totalExams "200", :totalApproval "83.5", :bExams "168", :bApproval "83.3"}, :practice {:totalExams "202", :totalApproval "60.9", :bExams "161", :bApproval "54.7"}}}