{:name "Nossa Senhora da Paz", :number "932", :address {:streetName nil, :raw "Rua Joaquim Rodrigues Parracho, Lote 25 r/c Dtº 2130-060 BENAVENTE", :city "Benavente", :municipality "Benavente", :longitude -8.8037802, :state "Santarém", :zipcode "2130-060", :streetNumber nil, :googlePlaceId "ChIJj5iTXMUfGQ0RYDYSoMevWT0", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 38.9767517, :formattedAddress "2130-060 Benavente, Portugal", :duplicatedAtGMaps true, :district "Santarém"}, :rating {:theory {:totalExams "92", :totalApproval "72.8", :bExams "75", :bApproval "72.0"}, :practice {:totalExams "136", :totalApproval "75.7", :bExams "88", :bApproval "69.3"}}}