{:name "Infantado", :number "686", :address {:streetName nil, :raw "Rua Vasco da Gama, n.º 5 B, Urbanização do Infantado, 2670-395 LOURES", :city "Loures", :municipality "Loures", :longitude -9.1616161, :state "Lisboa", :zipcode "2670", :streetNumber nil, :googlePlaceId "ChIJzyDoIuQsGQ0RR91KloxSCHA", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8427586, :formattedAddress "Urbanização do Infantado, 2670-457 Loures, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "183", :totalApproval "67.2", :bExams "161", :bApproval "68.3"}, :practice {:totalExams "141", :totalApproval "68.1", :bExams "121", :bApproval "64.5"}}}