{:name "Lamego", :number "363", :address {:streetName "Rua Bernardo Pinheiro de Aragão", :raw "Rua Dr. Bernardo Pinheiro de Aragão 5100-118 LAMEGO", :city "Lamego", :municipality "Lamego", :longitude -7.8115763, :state "Viseu", :zipcode "5100", :streetNumber nil, :googlePlaceId "ChIJ-Uw-E56sJA0RD3Gp26Bq5eI", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 41.0973497, :formattedAddress "Rua Bernardo Pinheiro de Aragão, 5100 Lamego, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "91", :totalApproval "53.8", :bExams "86", :bApproval "54.7"}}}