{:name "Reguense", :number "568", :address {:streetName nil, :raw "Avª de Ovar - Edificio Santa Rita I 5050-223 PESO DA RÉGUA", :city "Peso da Régua", :municipality "Peso da Régua", :longitude -7.7884809, :state "Vila Real", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ6U8QerJSOw0RmLxdlqH2QcQ", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.1655901, :formattedAddress "Peso da Régua, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "50", :totalApproval "72.0", :bExams "46", :bApproval "71.7"}, :practice {:totalExams "44", :totalApproval "54.5", :bExams "39", :bApproval "48.7"}}}