{:name "Carta - Auto", :number "555", :address {:streetName nil, :raw "Avª Dr.Francisco Sá Carneiro, Lote 29 r/c Dtº (Prédio S. Lucas) 5300-252 BRAGANÇA (SÉ)", :city "Bragança", :municipality "Bragança", :longitude -6.7653265, :state "Bragança", :zipcode "5300-252", :streetNumber nil, :googlePlaceId "ChIJy8_S4h1KOg0RyCyWfDdYaNU", :stateCode "Bragança", :noEntriesAtGMaps false, :latitude 41.7993493, :formattedAddress "5300-252 Bragança, Portugal", :duplicatedAtGMaps true, :district "Bragança"}, :rating {:theory {:totalExams "88", :totalApproval "78.4", :bExams "79", :bApproval "78.5"}, :practice {:totalExams "75", :totalApproval "56.0", :bExams "71", :bApproval "54.9"}}}