{:name "Estoril", :number "623", :address {:streetName nil, :raw "Rua Damião de Góis, Lote 12 c/v Esqº - Alapraia 2765-087 ESTORIL", :city "Estoril", :municipality "Cascais", :longitude -9.379446, :state "Lisboa", :zipcode "2765-087", :streetNumber nil, :googlePlaceId "ChIJt-x98e_FHg0RQhpNonWpXYI", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7050995, :formattedAddress "2765-087 Estoril, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "171", :totalApproval "69.0", :bExams "164", :bApproval "68.3"}, :practice {:totalExams "174", :totalApproval "78.2", :bExams "155", :bApproval "76.8"}}}