{:name "Bela Vista", :number "519", :address {:streetName "Avenida António Sérgio", :raw "Avª António Sérgio, 709 4730-711 VILA VERDE", :city "Vila Verde", :municipality "Vila Verde", :longitude -8.4362689, :state "Braga", :zipcode "4730", :streetNumber "709", :googlePlaceId "ChIJj1jRt6sBJQ0R-fMo0wouevc", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.6466337, :formattedAddress "Avenida António Sérgio 709, 4730-700 Vila Verde, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "120", :totalApproval "69.2", :bExams "77", :bApproval "62.3"}, :practice {:totalExams "137", :totalApproval "72.3", :bExams "61", :bApproval "60.7"}}}