{:name "Sambrasense", :number "259", :address {:streetName "Rua Doutor José Dias Sancho", :observations "", :raw "Rua Doutor José Dias Sancho, N.º 111 São Brás de Alportel 8150-141 Faro", :city "São Brás de Alportel", :municipality "", :longitude -7.883131, :zipcode "8150-141", :streetNumber "111", :latitude 37.152738, :formattedAddress "Rua Doutor José Dias Sancho, N.º 111 São Brás de Alportel 8150-141 Faro", :district "Faro"}, :contacts {:phone 289842364, :mobile [], :fax "", :website "", :facebook "https://www.facebook.com/escoladeconducao.sambrasense", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}