{:name "Baixa de Lisboa", :number "924", :address {:streetName nil, :raw "Rua dos Fanqueiros, N.º 277 - 2.º Dto, 1100-230 Lisboa", :city "Lisboa", :municipality "Lisboa", :longitude -9.1369176, :state "Lisbon", :zipcode "1100-230", :streetNumber nil, :googlePlaceId "ChIJ3Rube3g0GQ0RR0V55dxgWB4", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7130833, :formattedAddress "1100-230 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "257", :totalApproval "68.5", :bExams "223", :bApproval "67.7"}, :practice {:totalExams "236", :totalApproval "50.4", :bExams "206", :bApproval "45.1"}}}