{:name "Montalegrense", :number "382", :address {:streetName "", :observations "", :raw "Rua Padre Domingos Barroso, Lote 7 - Zona Industrial, Montalegre, 5470-254 Vila Real", :city "Montalegre", :municipality "", :longitude -7.7726089447747, :zipcode "", :streetNumber "", :latitude 41.835120186139, :formattedAddress "Rua Padre Domingos Barroso, Lote 7 - Zona Industrial, Montalegre, 5470-254 Vila Real", :district "Vila Real"}, :contacts {:phone 276512136, :mobile [938629811], :fax 276512136, :website "", :facebook "", :email ""}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}