{:name "Roda Livre", :number "908", :address {:streetName "Rua 25 de Abril", :raw "Rua 25 de Abril, Nº 55 4590-206 FIGUEIRÓ", :city "Figueiró", :municipality "Paços de Ferreira", :longitude -8.340721499999999, :state "Porto", :zipcode "4590", :streetNumber "55", :googlePlaceId "ChIJt8qnWMPyJA0RRAVG5gxd7p8", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.313854, :formattedAddress "Rua 25 de Abril 55, 4590 Figueiró, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "69", :totalApproval "62.3", :bExams "60", :bApproval "60.0"}, :practice {:totalExams "74", :totalApproval "51.4", :bExams "65", :bApproval "46.2"}}}