{:name "Auto Volante de Chaves", :number "381", :address {:streetName "Avenida 5 de Outubro", :raw "Av. 5 de Outubro, 4 5400-017 SANTA MARIA MAIOR", :city "Chaves", :municipality "Chaves", :longitude -7.4674638, :state "Vila Real", :zipcode "5400-017", :streetNumber "4", :googlePlaceId "ChIJP4dgL2neOg0RbC1JQex3koE", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.7409568, :formattedAddress "Avenida 5 de Outubro 4, 5400-017 Chaves, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "149", :totalApproval "73.2", :bExams "103", :bApproval "68.9"}, :practice {:totalExams "175", :totalApproval "89.7", :bExams "113", :bApproval "86.7"}}}