{:name "A Desportiva – Boavista", :number "7", :address {:streetName "Avenida da Boavista", :raw "Avª da Boavista, 1756-1º 4100-116 PORTO", :city "Porto", :municipality "Porto", :longitude -8.6440889, :state "Porto", :zipcode "4100", :streetNumber "1756", :googlePlaceId "ChIJFRFXGJxlJA0RE4hygMwNZXM", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1605727, :formattedAddress "Avenida da Boavista 1756, 4100-365 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "139", :totalApproval "69.1", :bExams "111", :bApproval "66.7"}, :practice {:totalExams "129", :totalApproval "69.8", :bExams "96", :bApproval "63.5"}}}