{:name "Rocha e Dias", :number "750", :address {:streetName "Avenida de Santa Bárbara", :raw "Avª Santa Bárbara nº 582 4515-463 MELRES", :city "Melres", :municipality "Gondomar", :longitude -8.4244538, :state "Porto", :zipcode "4515-463", :streetNumber "582", :googlePlaceId "ChIJUXD7fO6GJA0RwWojLpoZTf0", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0807405, :formattedAddress "Avenida de Santa Bárbara 582, 4515-463 Melres, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "65", :totalApproval "76.9", :bExams "59", :bApproval "78.0"}, :practice {:totalExams "78", :totalApproval "78.2", :bExams "73", :bApproval "76.7"}}}