{:name "Estrela de Albergaria dos Doze", :number "1082", :address {:streetName "Rua Principal", :raw "Rua Principal nº 289 r/c 3100-081 ALBERGARIA DOZE", :city "Albergaria dos Doze", :municipality "Pombal", :longitude -8.5829221, :state "Leiria", :zipcode "3100", :streetNumber "289", :googlePlaceId "ChIJd8asX2V7Ig0REHoThhCYvh4", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.7980446, :formattedAddress "Rua Principal 289, 3100 Albergaria dos Doze, Portugal", :duplicatedAtGMaps true, :district "Leiria"}, :rating {:theory {:totalExams "25", :totalApproval "68.0", :bExams "25", :bApproval "68.0"}, :practice {:totalExams "34", :totalApproval "67.6", :bExams "32", :bApproval "65.6"}}}