{:name "Farense", :number "79", :address {:streetName "Largo de São Pedro", :raw "Largo de S. Pedro, Nº 8-1º 8000 -145 FARO", :city "Faro", :municipality "Faro", :longitude -7.9349185, :state "Faro", :zipcode "8000", :streetNumber "8", :googlePlaceId "ChIJu917q8dSBQ0R04h83mI9tEE", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.01880999999999, :formattedAddress "Largo de São Pedro 8, 8000-148 Faro, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "73", :totalApproval "71.2", :bExams "72", :bApproval "72.2"}, :practice {:totalExams "60", :totalApproval "43.3", :bExams "59", :bApproval "44.1"}}}