{:name "Proença – A - Nova", :number "422", :address {:streetName nil, :raw "Rua Sidónio Pais 6150-422 PROENÇA-A-NOVA", :city "Proença-a-Nova", :municipality "Proença a Nova", :longitude -7.9233898, :state "Castelo Branco", :zipcode "6150", :streetNumber nil, :googlePlaceId "ChIJ7_JGOlioIg0R3U5MT_AqYgA", :stateCode "Castelo Branco", :noEntriesAtGMaps false, :latitude 39.7494186, :formattedAddress "6150 Proença-a-Nova, Portugal", :duplicatedAtGMaps false, :district "CasteloBranco"}, :rating {:theory {:totalExams "88", :totalApproval "79.5", :bExams "59", :bApproval "78.0"}, :practice {:totalExams "101", :totalApproval "54.5", :bExams "53", :bApproval "41.5"}}}