{:name "Infante de Sagres - Loulé", :number "645", :address {:streetName nil, :raw "Avª Almirante Gago Coutinho, Nº 82 Ponte da Bica 2620-330 RAMADA", :city "Ramada", :municipality "Odivelas", :longitude -9.203792199999999, :state "Lisboa", :zipcode "2620", :streetNumber nil, :googlePlaceId "ChIJIzEl9rjSHg0RAmsijrGcLsc", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.81035290000001, :formattedAddress "Ponte da Bica, 2620 Ramada, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "61", :totalApproval "75.4", :bExams "49", :bApproval "71.4"}, :practice {:totalExams "51", :totalApproval "68.6", :bExams "39", :bApproval "61.5"}}}