{:name "Freamundus", :number "903", :address {:streetName "Rua de Leigal", :raw "Rua do Leigal, 155 4590-384 FREAMUNDE", :city "Freamunde", :municipality "Paços de Ferreira", :longitude -8.3354052, :state "Porto", :zipcode "4590", :streetNumber "155", :googlePlaceId "ChIJocAadzmNJA0RGfecEO96ZrE", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2866206, :formattedAddress "Rua de Leigal 155, 4590 Freamunde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "6", :totalApproval "66.7", :bExams "6", :bApproval "66.7"}, :practice {:totalExams "18", :totalApproval "55.6", :bExams "18", :bApproval "55.6"}}}