{:name "Semáforo da Damaia", :number "963", :address {:streetName "Rua Dom João de Mascarenhas", :raw "Rua D. João de Mascarenhas nº 9 2720-172 AMADORA", :city "Amadora", :municipality "Amadora", :longitude -9.2117901, :state "Lisboa", :zipcode "2720", :streetNumber "9", :googlePlaceId "ChIJBaZB4d_MHg0R68ESfKSBPCM", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7481446, :formattedAddress "Rua Dom João de Mascarenhas 9, 2720-172 Amadora, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "110", :totalApproval "64.5", :bExams "105", :bApproval "64.8"}, :practice {:totalExams "107", :totalApproval "56.1", :bExams "103", :bApproval "54.4"}}}