{:name "Do Sardoal", :number "178", :address {:streetName "Avenida Heróis do Ultramar", :raw "Avª Heróis do Ultramar nº 16 2230-224 SARDOAL", :city "Sardoal", :municipality "Sardoal", :longitude -8.159696, :state "Santarém", :zipcode "2230", :streetNumber "16", :googlePlaceId "EjZBdmVuaWRhIEhlcsOzaXMgZG8gVWx0cmFtYXIgMTYsIDIyMzAgU2FyZG9hbCwgUG9ydHVnYWw", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.5376379, :formattedAddress "Avenida Heróis do Ultramar 16, 2230 Sardoal, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "25", :totalApproval "80.0", :bExams "21", :bApproval "81.0"}, :practice {:totalExams "22", :totalApproval "95.5", :bExams "15", :bApproval "93.3"}}}