{:name "Murcense", :number "330", :address {:streetName "Rua Frei Dom Diogo de Murça", :raw "Rua  Frei Diogo de Murça 5090-135 MURÇA", :city "Murça", :municipality "Murça", :longitude -7.4539348, :state "Vila Real", :zipcode "5090", :streetNumber nil, :googlePlaceId "ChIJ4_lkrTY-Ow0RqnJ24hi8MLE", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.405469, :formattedAddress "Rua Frei Dom Diogo de Murça, 5090 Murça, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "46", :totalApproval "76.1", :bExams "36", :bApproval "75.0"}, :practice {:totalExams "57", :totalApproval "73.7", :bExams "44", :bApproval "65.9"}}}