{:name "A. Garcia", :number "526", :address {:streetName nil, :raw "Rua Principal, Porto de Mós, 2480-173 Leiria", :city "Porto de Mós", :municipality "Porto de Mós", :longitude -8.823562599999999, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 39.5826911, :formattedAddress "R. Principal, 2480 Porto de Mós, Portugal", :duplicatedAtGMaps nil, :district "Leiria"}, :rating {:theory {:totalExams "111", :totalApproval "83.8", :bExams "83", :bApproval "85.5"}, :practice {:totalExams "144", :totalApproval "65.3", :bExams "94", :bApproval "57.4"}}}