{:name "Moncarapachense", :number "1083", :address {:streetName nil, :raw "E N 1330 – Sítio dos Murtais 8700-120 MONCARAPACHO", :city "Moncarapacho", :municipality "Olhão", :longitude -7.775866699999999, :state "Faro", :zipcode "8700-120", :streetNumber nil, :googlePlaceId "ChIJFb82wXIAEA0R6B9foszMlAU", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.0647527, :formattedAddress "8700-120 Moncarapacho, Portugal", :duplicatedAtGMaps true, :district "Faro"}, :rating {:theory {:totalExams "70", :totalApproval "67.1", :bExams "52", :bApproval "59.6"}, :practice {:totalExams "53", :totalApproval "56.6", :bExams "38", :bApproval "42.1"}}}