{:name "Sport", :number "960", :address {:streetName "Rua Dom António Ferreira Gomes", :raw "Rua D. António Ferreira Gomes nº 166 4560-568 MILHUNDOS", :city "Penafiel", :municipality "Penafiel", :longitude -8.2765919, :state "Porto", :zipcode "4560", :streetNumber "166", :googlePlaceId "ChIJAZm3Z5eRJA0Rw3GKKNhcB-I", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2073903, :formattedAddress "Rua Dom António Ferreira Gomes 166, 4560 Penafiel, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "278", :totalApproval "72.7", :bExams "254", :bApproval "73.6"}, :practice {:totalExams "255", :totalApproval "71.4", :bExams "230", :bApproval "69.1"}}}