{:name "S. Domingos", :number "1085", :address {:streetName nil, :raw "Praceta João Caetano Brás n º 9 2000 SANTARÉM", :city "Santarem", :municipality "Santarém", :longitude -8.686011900000002, :state "Santarém District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJm9eOSHLuGA0Rkp3ZqNatBvQ", :stateCode "Santarém District", :noEntriesAtGMaps false, :latitude 39.2366618, :formattedAddress "Santarem, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "70", :totalApproval "87.1", :bExams "62", :bApproval "87.1"}, :practice {:totalExams "75", :totalApproval "78.7", :bExams "62", :bApproval "74.2"}}}