{:name "Damião de Góis", :number "622", :address {:streetName "Rua Almeida Garrett", :raw "Rua Almeida Garrett, Nº 10 2580-467 ALENQUER", :city "Carregado", :municipality "Alenquer", :longitude -8.979002099999999, :state "Lisboa", :zipcode "2580", :streetNumber "10", :googlePlaceId "ChIJCSiJ8K_ZGA0RrxWa6MKhsho", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.02600899999999, :formattedAddress "Rua Almeida Garrett 10, 2580 Carregado, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "39", :totalApproval "87.2", :bExams "25", :bApproval "80.0"}, :practice {:totalExams "65", :totalApproval "81.5", :bExams "38", :bApproval "71.1"}}}