{:name "Central de Loures", :number "156", :address {:streetName "Rua da República", :raw "Rua da República, 56 – 1º 2670-469 LOURES", :city "Loures", :municipality "Loures", :longitude -9.167205, :state "Lisboa", :zipcode "2670", :streetNumber "56", :googlePlaceId "ChIJVzIarRgtGQ0RmPyQq5jI5Y4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8304322, :formattedAddress "Rua da República 56, 2670-457 Loures, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "132", :totalApproval "68.9", :bExams "111", :bApproval "68.5"}, :practice {:totalExams "122", :totalApproval "50.8", :bExams "105", :bApproval "42.9"}}}