{:name "Alto Nível", :number "1301", :address {:streetName "Rua da Bélgica", :raw "Rua da Bélgica, nº 2281 R/C, 4400-058 VILA NOVA de GAIA", :city "Canidelo", :municipality "Vila Nova Gaia", :longitude -8.644787899999999, :state "Porto", :zipcode "4400", :streetNumber "2281", :googlePlaceId "ChIJQ-zdOERlJA0R3vccqRy149c", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1300388, :formattedAddress "Rua da Bélgica 2281, 4400-053 Canidelo, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}