{:name "Costa do Sol", :number "426", :address {:streetName "Praça Doutor Francisco Sá Carneiro", :raw "Praça Dr.Francisco Sá Carneiro, Nº 3 - 1º Porta 3 2750-350 CASCAIS", :city "Cascais", :municipality "Cascais", :longitude -9.4203677, :state "Lisboa", :zipcode "2750", :streetNumber "3", :googlePlaceId "ChIJyY4l0i_EHg0RiNrggs5s7NA", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7008033, :formattedAddress "Praça Doutor Francisco Sá Carneiro 3, 2750-642 Cascais, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "138", :totalApproval "60.1", :bExams "135", :bApproval "60.0"}, :practice {:totalExams "135", :totalApproval "63.0", :bExams "132", :bApproval "62.1"}}}