{:name "Ideal Cartaxense", :number "409", :address {:streetName "Rua José Ribeiro da Costa", :raw "Rua José Ribeiro Costa, Nº 91 - 2º 2070-099 CARTAXO", :city "Cartaxo", :municipality "Cartaxo", :longitude -8.7906937, :state "Santarém", :zipcode "2070", :streetNumber "91", :googlePlaceId "ChIJ-XJbwofoGA0R88h11gY3aF8", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.1640471, :formattedAddress "Rua José Ribeiro da Costa 91, 2070-068 Cartaxo, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "60", :totalApproval "78.3", :bExams "52", :bApproval "76.9"}, :practice {:totalExams "62", :totalApproval "77.4", :bExams "54", :bApproval "75.9"}}}