{:name "Mundial", :number "966", :address {:raw "Praça Padre Portela, loja 2 B 4755-266 MACEIRA de RATES", :municipality "Barcelos", :district "Braga", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 41.4373028, :longitude -8.6326497, :formattedAddress "Praça Padre Portela 2, 4755-266 Macieira de Rates, Portugal"}, :rating {:theory {:totalExams "98", :totalApproval "76.5", :bExams "78", :bApproval "80.8"}, :practice {:totalExams "95", :totalApproval "78.9", :bExams "79", :bApproval "74.7"}}}