{:name "Inovadora", :number "657", :address {:streetName nil, :raw "Rua 19 de Junho, n.º 313/397, 4805-081 CALDAS das TAIPAS", :city "Caldelas", :municipality "Guimarães", :longitude -8.347792499999999, :state "Braga", :zipcode "4805-081", :streetNumber nil, :googlePlaceId "ChIJGcG-yPb6JA0REA9sfsdxSWs", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.48397430000001, :formattedAddress "4805-081 Caldelas, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "182", :totalApproval "76.9", :bExams "137", :bApproval "74.5"}, :practice {:totalExams "206", :totalApproval "91.3", :bExams "141", :bApproval "88.7"}}}