{:name "A Vida da Condução", :number "1317", :address {:streetName nil, :raw "Praceta Soeiro Pereira Gomes, n.º 3 e n.º 3 A ; 2695-074 Bobadela", :city "Bobadela", :municipality "Loures", :longitude -9.1005655, :state "Lisboa", :zipcode "2695-074", :streetNumber nil, :googlePlaceId "ChIJF8E_FwguGQ0RE1ojdFHkKXo", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8108858, :formattedAddress "2695-074 Bobadela, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}