{:name "Aguçadoura", :number "919", :address {:streetName "Rua da Codixeira", :raw "Rua da Codixeira, nº 40 4490-025 AGUÇADOURA", :city "Póvoa de Varzim", :municipality "Póvoa de Varzim", :longitude -8.776776700000001, :state "Porto", :zipcode "4495-025", :streetNumber "40", :googlePlaceId "ChIJj3q4C5xIJA0Rilv9uZfxDRw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.4303623, :formattedAddress "Rua da Codixeira 40, 4495-025 Póvoa de Varzim, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}