{:name "Moutinho", :number "709", :address {:streetName nil, :raw "Rua da Agra nº 1288 1º Esqº 4475-304 MILHEIRÓS", :city "Maia", :municipality "Maia", :longitude -8.5947458, :state "Porto District", :zipcode "4475-304", :streetNumber nil, :googlePlaceId "ChIJYYb755dmJA0Rk69eK0DeIr8", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.2115501, :formattedAddress "4475-304 Maia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "140", :totalApproval "84.3", :bExams "100", :bApproval "82.0"}, :practice {:totalExams "126", :totalApproval "77.8", :bExams "84", :bApproval "72.6"}}}