{:name "Golfinho", :number "1176", :address {:streetName nil, :raw "Av. D. João II, n.º 24 B, 2900-001 SETÚBAL", :city "Setúbal", :municipality "Setúbal", :longitude -8.9036788, :state "Setubal", :zipcode "2900-001", :streetNumber nil, :googlePlaceId "ChIJ_9R8vnRDGQ0RcURx2wcRSdk", :stateCode "Setubal", :noEntriesAtGMaps false, :latitude 38.5192526, :formattedAddress "2900-001 Setúbal Municipality, Portugal", :duplicatedAtGMaps true, :district "Setúbal"}, :rating {:theory {:totalExams "509", :totalApproval "62.3", :bExams "480", :bApproval "61.9"}, :practice {:totalExams "463", :totalApproval "66.7", :bExams "442", :bApproval "65.8"}}}