{:name "Manobras", :number "771", :address {:streetName "Avenida Descobertas", :raw "Avª das Descobertas lote 5 letra A 2910-710 SETÚBAL", :city "Setúbal", :municipality "Setúbal", :longitude -8.8664202, :state "Setúbal", :zipcode "2910", :streetNumber "5", :googlePlaceId "ChIJ7VOqrVtCGQ0RXhHsGvKNQDc", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.5336015, :formattedAddress "Avenida Descobertas 5, 2910-710 Setúbal, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "161", :totalApproval "75.8", :bExams "141", :bApproval "75.2"}, :practice {:totalExams "142", :totalApproval "64.1", :bExams "127", :bApproval "59.8"}}}