{:name "Activa", :number "1044", :address {:streetName "Avenida Padre Benjamim Salgado", :raw "Avª Padre Benjamim, nº 343 Bloco B Loja C 4770-221 JOANE", :city "Joane", :municipality "Vila Nova Famalicão", :longitude -8.4129043, :state "Braga", :zipcode "4770", :streetNumber "221", :googlePlaceId "EjxBdmVuaWRhIFBhZHJlIEJlbmphbWltIFNhbGdhZG8gMjIxLCA0NzcwLTI0MyBKb2FuZSwgUG9ydHVnYWw", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4388277, :formattedAddress "Avenida Padre Benjamim Salgado 221, 4770-243 Joane, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}