{:name "Cidade Jardim", :number "704", :address {:streetName "Rua de São Romão", :raw "Rua de S. Romão nº 200 4470-365 VERMOIM", :city "Maia", :municipality "Maia", :longitude -8.6145031, :state "Porto", :zipcode "4470", :streetNumber "200", :googlePlaceId "ChIJTxBUvvdmJA0R0scHJwj9roA", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2274175, :formattedAddress "Rua de São Romão 200, 4470-365 Maia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "132", :totalApproval "81.1", :bExams "117", :bApproval "80.3"}, :practice {:totalExams "123", :totalApproval "74.8", :bExams "106", :bApproval "73.6"}}}