{:name "Europa", :number "707", :address {:streetName "Rua Conde Alto Mearim", :raw "Rua Conde Alto Mearim 1416 4450-031 MATOSINHOS", :city "Matosinhos", :municipality "Matosinhos", :longitude -8.679803399999999, :state "Porto", :zipcode "4450", :streetNumber "1416", :googlePlaceId "ChIJcTpaIkdvJA0Rf8rAkK940qo", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1801108, :formattedAddress "Rua Conde Alto Mearim 1416, 4450-031 Matosinhos, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "492", :totalApproval "67.5", :bExams "415", :bApproval "65.5"}, :practice {:totalExams "466", :totalApproval "73.2", :bExams "375", :bApproval "68.3"}}}