{:name "F. Santos", :number "277", :address {:streetName "Rua do Poço Velho", :raw "Rua do Poço, Nº 7 7630-188 ODEMIRA", :city nil, :municipality "Odemira", :longitude -8.4132449, :state "Beja", :zipcode "7630", :streetNumber "7", :googlePlaceId "EiRSdWEgZG8gUG_Dp28gVmVsaG8gNywgNzYzMCwgUG9ydHVnYWw", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 37.7509708, :formattedAddress "Rua do Poço Velho 7, 7630, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "10", :totalApproval "70.0", :bExams "9", :bApproval "77.8"}, :practice {:totalExams "10", :totalApproval "40.0", :bExams "10", :bApproval "40.0"}}}