{:name "Prior Velho", :number "1226", :address {:streetName nil, :raw "Rua Manuel José Cerqueira Afonso dos Santos, Lote 9-Loja Esq 2685-311 Prior Velho", :city "Prior Velho", :municipality "Loures", :longitude -9.1231726, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ0UNknnMyGQ0RhCpj_KdUOZ0", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7900269, :formattedAddress "Prior Velho, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "67", :totalApproval "49.3", :bExams "67", :bApproval "49.3"}, :practice {:totalExams "52", :totalApproval "69.2", :bExams "52", :bApproval "69.2"}}}