{:name "Nova Gaia", :number "532", :address {:streetName "Rua Delfim Lima", :raw "Rua Delfim de Lima, nº 1955 - 1º 4410-227 CANELAS", :city "Canelas", :municipality "Vila Nova Gaia", :longitude -8.6012117, :state "Porto", :zipcode "4410-227", :streetNumber "1955", :googlePlaceId "ChIJYc2_3gl7JA0RyJaPpbTyHHE", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.0802055, :formattedAddress "Rua Delfim Lima 1955, 4410-227 Canelas, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "80", :totalApproval "77.5", :bExams "64", :bApproval "78.1"}, :practice {:totalExams "100", :totalApproval "74.0", :bExams "82", :bApproval "70.7"}}}