{:name "Tondelense", :number "206", :address {:streetName nil, :raw "Rua  António Marques da Costa, s/nª 3460-575 TONDELA", :city "Tondela", :municipality "Tondela", :longitude -8.0802569, :state "Viseu", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJjQFHMEwjIw0R7nuN2OlYxm0", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.5170645, :formattedAddress "Tondela, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "118", :totalApproval "77.1", :bExams "88", :bApproval "76.1"}, :practice {:totalExams "131", :totalApproval "79.4", :bExams "94", :bApproval "75.5"}}}