{:name "S. Pedro", :number "806", :address {:streetName "Rua São Pedro", :raw "Rua de S. Pedro nº 882 – 1º 4510-431 SÃO PEDRO da COVA", :city "São Pedro da Cova", :municipality "Gondomar", :longitude -8.507918799999999, :state "Porto", :zipcode "4510", :streetNumber "882", :googlePlaceId "ChIJb1F_7PJiJA0RmqqsxRySgpA", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1583121, :formattedAddress "Rua São Pedro 882, 4510-430 São Pedro da Cova, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "107", :totalApproval "72.0", :bExams "93", :bApproval "74.2"}, :practice {:totalExams "108", :totalApproval "76.9", :bExams "95", :bApproval "74.7"}}}