{:name "Via Única", :number "1076", :address {:streetName "Rua Guerra Junqueiro", :raw "Rua Guerra Junqueiro, Nº 34-R/C 4510-575 FÂNZERES", :city "Fânzeres", :municipality "Gondomar", :longitude -8.528182600000001, :state "Porto", :zipcode "4510-575", :streetNumber "34", :googlePlaceId "ChIJjwD-BwJjJA0RxKOXVpBQCLs", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1597574, :formattedAddress "Rua Guerra Junqueiro 34, 4510-575 Fânzeres, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "94", :totalApproval "73.4", :bExams "87", :bApproval "74.7"}, :practice {:totalExams "101", :totalApproval "62.4", :bExams "87", :bApproval "58.6"}}}