{:name "Nova do Bairral", :number "798", :address {:streetName "Rua Fundo do Lugar", :raw "Lugar do Bairral 4625-573 VILA BOA do BISPO", :city nil, :municipality "Marco Canavezes", :longitude -8.1908436, :state "Porto", :zipcode "4625", :streetNumber nil, :googlePlaceId "ChIJnewEI6WZJA0RoaBAh4vs-NE", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1187011, :formattedAddress "Rua Fundo do Lugar, 4625, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}