{:name "Vale de Sousa", :number "511", :address {:streetName nil, :raw "Rua da Saudade, 120 A - Sala A/ Apartado 108 4560-531 PENAFIEL", :city "Penafiel", :municipality "Penafiel", :longitude -8.2891305, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJLTiGmemRJA0RoPaQ5L3rAAU", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2052808, :formattedAddress "Penafiel, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "40", :totalApproval "87.5", :bExams "32", :bApproval "87.5"}, :practice {:totalExams "37", :totalApproval "43.2", :bExams "31", :bApproval "41.9"}}}