{:name "Sameiro Nova Era", :number "393", :address {:streetName nil, :raw "Rua  Rodrigues de Freitas, 2072 r/c Esqº e 1º Dtº 4445 - 637 ERMESINDE", :city "Ermesinde", :municipality "Valongo", :longitude -8.544635999999999, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJXVm4EUFhJA0R4AILVhmw3gw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2090826, :formattedAddress "Ermesinde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "89", :totalApproval "73.0", :bExams "80", :bApproval "75.0"}, :practice {:totalExams "92", :totalApproval "64.1", :bExams "87", :bApproval "63.2"}}}