{:name "Odemirense", :number "1141", :address {:streetName nil, :raw "Avª do Comércio nº 6 A 7630-33 BOAVISTA DOS PINHEIROS", :city nil, :municipality "Odemira", :longitude -8.6435589, :state "Beja District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ4_098ewFGw0RYEuR5L3rAAU", :stateCode "Beja District", :noEntriesAtGMaps false, :latitude 37.5716128, :formattedAddress "Boavista dos Pinheiros, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "52", :totalApproval "67.3", :bExams "45", :bApproval "68.9"}, :practice {:totalExams "52", :totalApproval "57.7", :bExams "44", :bApproval "50.0"}}}