{:name "Oficina do Condutor", :number "457", :address {:streetName nil, :raw "Av. Serpa Pinto, n.º 481 - Loja B ; 4450-282 Matosinhos", :city "Matosinhos", :municipality "Matosinhos", :longitude -8.696277499999999, :state "Porto District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJi0gLpZ1oJA0R0DiQ5L3rAAQ", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.1844362, :formattedAddress "Matosinhos, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "269", :totalApproval "65.8", :bExams "179", :bApproval "56.4"}, :practice {:totalExams "296", :totalApproval "74.3", :bExams "171", :bApproval "66.1"}}}