{:name "Caravela", :number "984", :address {:streetName "Avenida Fitares", :raw "Avª de Fitares, Nº 9- B Rinchoa 2635-011 RIO de MOURO", :city "Rio de Mouro", :municipality "Sintra", :longitude -9.3168572, :state "Lisboa", :zipcode "2635", :streetNumber "9", :googlePlaceId "ChIJH25ipNbRHg0RpPAJezFBob4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7866066, :formattedAddress "Avenida Fitares 9, 2635-098 Rio de Mouro, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "74", :totalApproval "66.2", :bExams "73", :bApproval "67.1"}, :practice {:totalExams "52", :totalApproval "51.9", :bExams "52", :bApproval "51.9"}}}