{:name "Porto Mosense", :number "442", :address {:streetName "Rua Engenheiro Adelino Amaro Costa", :raw "Rua Adelino Amaro da Costa, nº 3 2480-317 PORTO DE MÓS", :city "Porto de Mós", :municipality "Porto de Mós", :longitude -8.8187201, :state "Leiria", :zipcode "2480", :streetNumber "3", :googlePlaceId "EkJSdWEgRW5nZW5oZWlybyBBZGVsaW5vIEFtYXJvIENvc3RhIDMsIDI0ODAgUG9ydG8gZGUgTcOzcywgUG9ydHVnYWw", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.5994719, :formattedAddress "Rua Engenheiro Adelino Amaro Costa 3, 2480 Porto de Mós, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "79", :totalApproval "78.5", :bExams "71", :bApproval "81.7"}, :practice {:totalExams "88", :totalApproval "62.5", :bExams "77", :bApproval "57.1"}}}