{:name "Unidos do Volante", :number "300", :address {:streetName nil, :raw "Avª João XXI, Nº  66 – 2º Dtº 1000-304 LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.1417991, :state "Lisbon", :zipcode "1000-304", :streetNumber nil, :googlePlaceId "ChIJwaoLXKYzGQ0RAWUtc_L3eiE", :stateCode "Lisbon", :noEntriesAtGMaps false, :latitude 38.7421203, :formattedAddress "1000-304 Lisbon, Portugal", :duplicatedAtGMaps true, :district "Lisboa"}, :rating {:theory {:totalExams "292", :totalApproval "74.7", :bExams "260", :bApproval "73.5"}, :practice {:totalExams "285", :totalApproval "75.8", :bExams "251", :bApproval "72.5"}}}