{:name "Freitas", :number "991", :address {:streetName "Rua Alexandre Herculano", :raw "Rua Alexandre Herculano nº 181 4430-299 OLIVEIRA do DOURO", :city "Vila Nova de Gaia", :municipality "Vila Nova Gaia", :longitude -8.5735929, :state "Porto", :zipcode "4430", :streetNumber "181", :googlePlaceId "ChIJc31EvlV7JA0RgRWrCf7In1Q", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1184884, :formattedAddress "Rua Alexandre Herculano 181, 4430-999 Vila Nova de Gaia, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "89", :totalApproval "75.3", :bExams "86", :bApproval "75.6"}, :practice {:totalExams "78", :totalApproval "79.5", :bExams "75", :bApproval "78.7"}}}