{:name "Baía de Monte Gordo", :number "691", :address {:streetName nil, :raw "Urbanização do Paraíso, E.N.125, Lote 1, R/C Esq., 8700-240 OLHÃO", :city "Olhão", :municipality "Olhão", :longitude -7.8423509, :state "Faro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ-zTptzKrGg0RkokFGQYp9BQ", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.0260416, :formattedAddress "Olhão, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "40", :totalApproval "75.0", :bExams "35", :bApproval "74.3"}, :practice {:totalExams "22", :totalApproval "81.8", :bExams "20", :bApproval "80.0"}}}