{:name "Príncipe das Beiras", :number "626", :address {:streetName "Rua Bernardo de Albuquerque", :raw "Rua Bernardo de Albuquerque nº 25 r/c 3000-072 COIMBRA", :city "Coimbra", :municipality "Coimbra", :longitude -8.4120598, :state "Coimbra", :zipcode "3000-072", :streetNumber "25", :googlePlaceId "ChIJuyWinXH5Ig0R0wLmtlXApz8", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.214599, :formattedAddress "Rua Bernardo de Albuquerque 25, 3000-072 Coimbra, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "189", :totalApproval "83.6", :bExams "179", :bApproval "83.8"}, :practice {:totalExams "208", :totalApproval "60.6", :bExams "198", :bApproval "58.6"}}}