{:name "Fasa", :number "739", :address {:streetName "Rua da Alegria", :raw "Rua da Alegria, Nº 136 4480-743 VILA do CONDE", :city "Vila do Conde", :municipality "Vila Conde", :longitude -8.759641700000001, :state "Porto", :zipcode "4480", :streetNumber "136", :googlePlaceId "EjBSdWEgZGEgQWxlZ3JpYSAxMzYsIDQ0ODAgVmlsYSBkbyBDb25kZSwgUG9ydHVnYWw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3675546, :formattedAddress "Rua da Alegria 136, 4480 Vila do Conde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "72", :totalApproval "90.3", :bExams "71", :bApproval "90.1"}, :practice {:totalExams "72", :totalApproval "88.9", :bExams "71", :bApproval "88.7"}}}