{:name "Senhora dos Remédios", :number "583", :address {:streetName nil, :raw "Quinta do Paraíso, Bloco 3 r/c 5100-187 LAMEGO", :city "Lamego", :municipality "Lamego", :longitude -7.812380500000001, :state "Viseu District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJdeek6GOrJA0R-3diSpAA9OY", :stateCode "Viseu District", :noEntriesAtGMaps false, :latitude 41.0953745, :formattedAddress "Lamego, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "207", :totalApproval "57.5", :bExams "140", :bApproval "50.0"}}}