{:name "Linda-A-Velha", :number "492", :address {:streetName "Avenida Carolina Michaelis", :raw "Avª Carolina Michaelis, nº 12 cave 2780 OEIRAS", :city "Linda-a-Velha", :municipality "Oeiras", :longitude -9.2335394, :state "Lisboa", :zipcode "2795", :streetNumber "12", :googlePlaceId "ChIJpXhUXYfMHg0R0ecTrncD_5A", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.7123902, :formattedAddress "Avenida Carolina Michaelis 12, 2795-047 Linda-a-Velha, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "140", :totalApproval "68.6", :bExams "112", :bApproval "66.1"}, :practice {:totalExams "140", :totalApproval "84.3", :bExams "111", :bApproval "81.1"}}}