{:name "O Volante", :number "836", :address {:streetName "Rua Ferreira de Lemos", :raw "Rua Ferreira de Lemos, 302 4780-468 SANTO TIRSO", :city "Santo Tirso", :municipality "Santo Tirso", :longitude -8.4764868, :state "Porto", :zipcode "4780", :streetNumber "302", :googlePlaceId "ChIJ8R1OWoT1JA0R2fwvX6ggSnw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.3355146, :formattedAddress "Rua Ferreira de Lemos 302, 4780 Santo Tirso, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "66", :totalApproval "80.3", :bExams "63", :bApproval "79.4"}, :practice {:totalExams "78", :totalApproval "64.1", :bExams "75", :bApproval "64.0"}}}