{:name "Fornos de Algodres", :number "495", :address {:streetName "Estr. Nacional 16", :raw "Estrada Nacional nº 16, nº 139, 6370-147 FORNOS DE ALGODRES", :city "Fornos de Algodres", :municipality "Fornos de Algodres", :longitude -7.5392205, :state "Distrito da Guarda", :zipcode "6370-999", :streetNumber nil, :googlePlaceId "ChIJyQ69ZBrEPA0RqtVIlkSkCy4", :stateCode "Distrito da Guarda", :noEntriesAtGMaps false, :latitude 40.6203223, :formattedAddress "Câmara Municipal de Fornos de Algodres, Estr. Nacional 16, 6370-999 Fornos de Algodres, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "38", :totalApproval "73.7", :bExams "38", :bApproval "73.7"}, :practice {:totalExams "31", :totalApproval "48.4", :bExams "31", :bApproval "48.4"}}}