{:name "Do Algoz", :number "1009", :address {:streetName nil, :raw "Urbanização Horta de Algoz, Lote 5 R/C Dtº 8365-062 ALGOZ", :city "Algoz", :municipality "Silves", :longitude -8.3042485, :state "Faro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJW_v1d-PPGg0RRJYv_2QHy8Q", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1639894, :formattedAddress "Algoz, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "47", :totalApproval "74.5", :bExams "34", :bApproval "70.6"}, :practice {:totalExams "50", :totalApproval "64.0", :bExams "35", :bApproval "62.9"}}}