{:name "Rolante de Paredes", :number "362", :address {:streetName "Rua Doutor José Bragança Tavares", :raw "Rua Dr. José Bragança Tavares 4580-124 CASTELÕES de CEPEDA", :city "Paredes", :municipality "Paredes", :longitude -8.343636799999999, :state "Porto", :zipcode "4580", :streetNumber nil, :googlePlaceId "ChIJATxtXmaOJA0R_OEZD4WvFh8", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2028676, :formattedAddress "Rua Doutor José Bragança Tavares, 4580 Paredes, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}