{:name "Bordalo Pinheiro", :number "913", :address {:streetName nil, :raw "Rua Dr. Ângelo Ferrari, 5, R/c Dtº 2500 - 113 CALDAS DA RAINHA", :city "Caldas da Rainha", :municipality "Caldas da Rainha", :longitude -9.135404, :state "Leiria", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ0aKCoFCyGA0RnPyOjo0ZmrM", :stateCode "Leiria", :noEntriesAtGMaps false, :latitude 39.4048977, :formattedAddress "Caldas da Rainha, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "318", :totalApproval "81.4", :bExams "176", :bApproval "75.6"}, :practice {:totalExams "422", :totalApproval "76.1", :bExams "205", :bApproval "65.9"}}}