{:name "Cerveirense", :number "512", :address {:streetName nil, :raw "Edifício Ilha dos Amores, nº 5 4920-279 VILA NOVA  CERVEIRA", :city "Vila Nova de Cerveira", :municipality "Vila Nova Cerveira", :longitude -8.7408025, :state "Viana do Castelo", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJVTY-eGSWJQ0RyBoIFMHMkcQ", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.9428454, :formattedAddress "Vila Nova de Cerveira, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "44", :totalApproval "77.3", :bExams "42", :bApproval "76.2"}, :practice {:totalExams "56", :totalApproval "100.0", :bExams "50", :bApproval "100.0"}}}