{:name "Crato", :number "248", :address {:streetName nil, :raw "Estrada Nacional - Crato 7430-131 CRATO", :city "Crato", :municipality "Crato", :longitude -7.644786400000001, :state "Portalegre", :zipcode "7430-131", :streetNumber nil, :googlePlaceId "ChIJR4EsJVuOFw0RbmPngp0MX1M", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 39.2904702, :formattedAddress "7430-131 Crato, Portugal", :duplicatedAtGMaps true, :district "Portalegre"}, :rating {:theory {:totalExams "92", :totalApproval "90.2", :bExams "47", :bApproval "87.2"}, :practice {:totalExams "125", :totalApproval "98.4", :bExams "49", :bApproval "95.9"}}}