{:name "Andracor", :number "993", :address {:streetName "Rua de Santo. António", :raw "Rua de Santo António, Nº 5 2100-201 CORUCHE", :city "Coruche", :municipality "Coruche", :longitude -8.5299025, :state "Santarém", :zipcode "2100", :streetNumber "5", :googlePlaceId "ChIJR7GMMx0BGQ0RSh1fJSo0XOI", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 38.9565295, :formattedAddress "Rua de Santo. António 5, 2100 Coruche, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}