{:name "Prova Real - Mondim de Basto", :number "765", :address {:streetName nil, :raw "Rua Comendador Silva, n.º 45, R/c, 5450-011 Vila Pouca de Aguiar", :city "Vila Pouca de Aguiar", :municipality "Vila Pouca Aguiar", :longitude -7.6432318, :state "Vila Real", :zipcode "5450", :streetNumber nil, :googlePlaceId "ChIJLeqtLhkwOw0RQq6uH5k7M7g", :stateCode "Vila Real", :noEntriesAtGMaps false, :latitude 41.5002387, :formattedAddress "5450 Vila Pouca de Aguiar, Portugal", :duplicatedAtGMaps false, :district "Vila Real"}, :rating {:theory {:totalExams "44", :totalApproval "63.6", :bExams "41", :bApproval "61.0"}, :practice {:totalExams "40", :totalApproval "55.0", :bExams "38", :bApproval "55.3"}}}