{:name "A. M. C. Ricardo", :number "434", :address {:streetName nil, :raw "Rua Mestre João Serra, Lote A - Zona Industrial 7300-061 PORTALEGRE", :city "Portalegre", :municipality "Portalegre", :longitude -7.4284755, :state "Portalegre District", :zipcode "7300", :streetNumber nil, :googlePlaceId "ChIJ3yw5BoK9Fw0RQFO9yvJNwb8", :stateCode "Portalegre District", :noEntriesAtGMaps false, :latitude 39.2967086, :formattedAddress "7300 Portalegre, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "70", :totalApproval "65.7", :bExams "54", :bApproval "63.0"}, :practice {:totalExams "80", :totalApproval "90.0", :bExams "57", :bApproval "87.7"}}}