{:name "Arcuense", :number "340", :address {:streetName "Rua General Amílcar Mota", :raw "Rua General Amilcar Mota, Nº 181 4970-459 ARCOS DE VALDEVEZ (SALVADOR)", :city "Arcos de Valdevez", :municipality "Arcos Valdevez", :longitude -8.4218186, :state "Viana do Castelo", :zipcode "4970", :streetNumber "181", :googlePlaceId "ChIJL1qk0GEJJQ0R9r9vVgHhTXc", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.8480122, :formattedAddress "Rua General Amílcar Mota 181, 4970-455 Arcos de Valdevez, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "83", :totalApproval "79.5", :bExams "58", :bApproval "79.3"}, :practice {:totalExams "103", :totalApproval "75.7", :bExams "66", :bApproval "69.7"}}}