{:name "Infante de Sagres - Olhão", :number "607", :address {:streetName nil, :raw "Rua Caminhos de Ferro Bloco B r/c Esqº 8700-425 OLHÃO", :city "Olhão", :municipality "Olhão", :longitude -7.8423509, :state "Faro", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJ-zTptzKrGg0RkokFGQYp9BQ", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.0260416, :formattedAddress "Olhão, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "86", :totalApproval "67.4", :bExams "73", :bApproval "67.1"}, :practice {:totalExams "72", :totalApproval "55.6", :bExams "56", :bApproval "50.0"}}}