{:name "Automóvel Ajar", :number "231", :address {:streetName "Avenida São Silvestre", :raw "Avª São Silvestre, Lote 5, 1º 3200-203 LOUSÃ", :city "Lousã", :municipality "Lousã", :longitude -8.2453282, :state "Coimbra", :zipcode "3200", :streetNumber "5", :googlePlaceId "ChIJBzcMZZbuIg0RdLuOAycvIQc", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1114094, :formattedAddress "Avenida São Silvestre 5, 3200-235 Lousã, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "146", :totalApproval "80.8", :bExams "124", :bApproval "79.8"}, :practice {:totalExams "134", :totalApproval "68.7", :bExams "119", :bApproval "64.7"}}}