{:name "Inovação", :number "762", :address {:streetName "Calçada de Valverde", :raw "Rua de Valverde nº 364 4900-299 VIANA DO CASTELO (Stª Mª Maior)", :city "Viana do Castelo", :municipality "Viana Castelo", :longitude -8.8296002, :state "Viana do Castelo", :zipcode "4900", :streetNumber nil, :googlePlaceId "ChIJW948vyy2JQ0RmEE9BfhhguM", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.6981848, :formattedAddress "Calçada de Valverde, 4900 Viana do Castelo, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "39", :totalApproval "71.8", :bExams "37", :bApproval "70.3"}, :practice {:totalExams "42", :totalApproval "69.0", :bExams "37", :bApproval "64.9"}}}