{:name "A Desportiva – Palácio", :number "464", :address {:streetName "Rua do Rosário", :raw "Rua do Rosário, 5 – 2º 4050-523 PORTO", :city "Porto", :municipality "Porto", :longitude -8.6205343, :state "Porto", :zipcode "4050", :streetNumber "5", :googlePlaceId "ChIJF1b9uxxlJA0RSACxSUqltm8", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1475874, :formattedAddress "Rua do Rosário 5, 4050-522 Porto, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "134", :totalApproval "85.8", :bExams "82", :bApproval "82.9"}, :practice {:totalExams "128", :totalApproval "69.5", :bExams "67", :bApproval "49.3"}}}