{:name "Infante do Restelo", :number "315", :address {:streetName "Rua Tristão Vaz", :raw "Rua Tristão Váz, Nº 7 – 1º 1400-350  LISBOA", :city "Lisboa", :municipality "Lisboa", :longitude -9.2054932, :state "Lisboa", :zipcode "1400", :streetNumber "7", :googlePlaceId "ChIJIQOL21jLHg0REUHQLSsG-P4", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.70595489999999, :formattedAddress "Rua Tristão Vaz 7, 1400-350 Lisboa, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "143", :totalApproval "74.1", :bExams "112", :bApproval "71.4"}, :practice {:totalExams "150", :totalApproval "90.7", :bExams "98", :bApproval "86.7"}}}