{:name "Campo Maior", :number "268", :address {:streetName "Rua Dom Manuel de Menezes", :raw "Rua D. Manuel de Meneses nº 3 7370-019 CAMPO MAIOR", :city "Campo Maior", :municipality "Campo Maior", :longitude -7.0610303, :state "Portalegre", :zipcode "7370", :streetNumber "3", :googlePlaceId "ChIJiaDBm9r9Fg0RfxHkJWPtALk", :stateCode "Portalegre", :noEntriesAtGMaps false, :latitude 39.0153244, :formattedAddress "Rua Dom Manuel de Menezes 3, 7370 Campo Maior, Portugal", :duplicatedAtGMaps false, :district "Portalegre"}, :rating {:theory {:totalExams "81", :totalApproval "70.4", :bExams "75", :bApproval "69.3"}, :practice {:totalExams "74", :totalApproval "87.8", :bExams "68", :bApproval "86.8"}}}