{:name "Via Net", :number "1027", :address {:streetName nil, :raw "Rua Pisa nº 11 loja Dtª 2605-842 CASAL DE CAMBRA", :city "Casal de Cambra", :municipality "Sintra", :longitude -9.2290452, :state "Lisboa", :zipcode "2605-842", :streetNumber nil, :googlePlaceId "ChIJDVp5tojSHg0RZHe0AwmB4eA", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8008712, :formattedAddress "2605-842 Casal de Cambra, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "213", :totalApproval "77.5", :bExams "194", :bApproval "76.8"}, :practice {:totalExams "224", :totalApproval "78.6", :bExams "200", :bApproval "76.5"}}}