{:name "G. Gomes – Pinhel", :number "476", :address {:streetName "Rua Conde Ferreira", :raw "Rua Conde Ferreira 6400-370 PINHEL", :city "Pinhel", :municipality "Pinhel", :longitude -7.0665422, :state "Guarda", :zipcode "6400", :streetNumber nil, :googlePlaceId "ChIJe5wJt0hgPA0RSvECeI-B834", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.7738764, :formattedAddress "Rua Conde Ferreira, 6400-323 Pinhel, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "35", :totalApproval "71.4", :bExams "33", :bApproval "69.7"}, :practice {:totalExams "30", :totalApproval "50.0", :bExams "29", :bApproval "48.3"}}}