{:name "Mindense", :number "566", :address {:streetName nil, :raw "Rua Painel das Almas, nº 3-Minde 2380 ALCANENA", :city "Alcanena", :municipality "Alcanena", :longitude -8.6671695, :state "Santarém", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJY74vzyiQGA0RLzBWElwEto4", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.4591, :formattedAddress "Alcanena, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "18", :totalApproval "72.2", :bExams "18", :bApproval "72.2"}, :practice {:totalExams "23", :totalApproval "78.3", :bExams "23", :bApproval "78.3"}}}