{:name "Cantanhede", :number "85", :address {:raw "Rua da Academia Musical Arazedense, n.º 22, R/C, 3140-998 ARAZADE", :municipality "Montemor o Velho", :district "Coimbra", :duplicatedAtGMaps false, :noEntriesAtGMaps true}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}