{:name "Almirante", :number "1247", :address {:streetName "Largo Almirante Cândido dos Reis", :raw "Casal do Almirante, Lote 3, Bloco 4 2670-337 LOURES", :city "Loures", :municipality "Loures", :longitude -9.1907213, :state "Lisboa", :zipcode "2670", :streetNumber "3", :googlePlaceId "EjpMYXJnbyBBbG1pcmFudGUgQ8OibmRpZG8gZG9zIFJlaXMgMywgMjY3MCBMb3VyZXMsIFBvcnR1Z2Fs", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8379363, :formattedAddress "Largo Almirante Cândido dos Reis 3, 2670 Loures, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "222", :totalApproval "72.5", :bExams "198", :bApproval "73.7"}, :practice {:totalExams "230", :totalApproval "80.9", :bExams "206", :bApproval "79.6"}}}