{:name "Diana", :number "194", :address {:streetName "Rua do Menino Jesus", :raw "Rua do Menino de Jesus, 35 7000-601 ÉVORA", :city "Évora", :municipality "Évora", :longitude -7.908699899999999, :state "Évora", :zipcode "7000", :streetNumber "35", :googlePlaceId "ChIJTVOuk93kGQ0RQ4h6pi8XNJ8", :stateCode "Évora", :noEntriesAtGMaps false, :latitude 38.5734067, :formattedAddress "Rua do Menino Jesus 35, 7000-585 Évora, Portugal", :duplicatedAtGMaps false, :district "Évora"}, :rating {:theory {:totalExams "173", :totalApproval "79.2", :bExams "161", :bApproval "78.9"}, :practice {:totalExams "164", :totalApproval "65.2", :bExams "152", :bApproval "62.5"}}}