{:name "Volante da Foz", :number "1095", :address {:streetName "Rua Timor", :raw "Rua de Timor nº 8 r/c 3080-143 FIGUEIRA DA FOZ", :city "Figueira da Foz", :municipality "Figueira da Foz", :longitude -8.8556856, :state "Coimbra", :zipcode "3080-143", :streetNumber "8", :googlePlaceId "ChIJNwqaSsA3Ig0RXn3MOXK59FI", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1546837, :formattedAddress "Rua Timor 8, 3080-143 Figueira da Foz, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "37", :totalApproval "73.0", :bExams "28", :bApproval "71.4"}, :practice {:totalExams "47", :totalApproval "66.0", :bExams "39", :bApproval "59.0"}}}