{:name "Palma e Dores", :number "669", :address {:streetName "Rua Manuel da Fonseca", :raw "Rua Manuel da Fonseca nº 12 –Cave 7800-323 BEJA", :city "Beja", :municipality "Beja", :longitude -7.872812100000001, :state "Beja", :zipcode "7800-323", :streetNumber "12", :googlePlaceId "ChIJPzoxW31zGg0RgmnLmqJnj00", :stateCode "Beja", :noEntriesAtGMaps false, :latitude 38.0204791, :formattedAddress "Rua Manuel da Fonseca 12, 7800-323 Beja, Portugal", :duplicatedAtGMaps false, :district "Beja"}, :rating {:theory {:totalExams "105", :totalApproval "76.2", :bExams "90", :bApproval "74.4"}, :practice {:totalExams "99", :totalApproval "68.7", :bExams "82", :bApproval "64.6"}}}