{:name "Todos os Santos", :number "1185", :address {:streetName "Rua José Ribeiro da Costa", :raw "Rua José Ribeiro da Costa, Nº 241-1º 2070-084 CARTAXO", :city "Cartaxo", :municipality "Cartaxo", :longitude -8.7963274, :state "Santarém", :zipcode "2070", :streetNumber "241", :googlePlaceId "EjpSdWEgSm9zw6kgUmliZWlybyBkYSBDb3N0YSAyNDEsIDIwNzAtMDk5IENhcnRheG8sIFBvcnR1Z2Fs", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.1678344, :formattedAddress "Rua José Ribeiro da Costa 241, 2070-099 Cartaxo, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "46", :totalApproval "69.6", :bExams "39", :bApproval "71.8"}, :practice {:totalExams "46", :totalApproval "71.7", :bExams "39", :bApproval "66.7"}}}