{:name "Estrada Segura", :number "1074", :address {:streetName "Rua Carreira de Tiro", :raw "Quinta da Carreira Lote 7 r/c Loja A 3500-098 VISEU", :city "Viseu", :municipality "Viseu", :longitude -7.8671438, :state "Viseu", :zipcode "3505", :streetNumber "7", :googlePlaceId "EixSdWEgQ2FycmVpcmEgZGUgVGlybyA3LCAzNTA1IFZpc2V1LCBQb3J0dWdhbA", :stateCode "Viseu", :noEntriesAtGMaps false, :latitude 40.6398096, :formattedAddress "Rua Carreira de Tiro 7, 3505 Viseu, Portugal", :duplicatedAtGMaps false, :district "Viseu"}, :rating {:theory {:totalExams "70", :totalApproval "82.9", :bExams "61", :bApproval "85.2"}, :practice {:totalExams "76", :totalApproval "69.7", :bExams "66", :bApproval "65.2"}}}