{:name "Mais", :number "502", :address {:streetName nil, :raw "Praceta Antero de Quental, n.º 2 B ; 2695-021 Bobadela", :city "Bobadela", :municipality "Loures", :longitude -9.1015303, :state "Lisboa", :zipcode "2695-021", :streetNumber nil, :googlePlaceId "ChIJE0Pghv0tGQ0RgPI2A0hMKV0", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.8067556, :formattedAddress "2695-021 Bobadela, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "117", :totalApproval "80.3", :bExams "106", :bApproval "79.2"}, :practice {:totalExams "87", :totalApproval "78.2", :bExams "75", :bApproval "74.7"}}}