{:name "Samorense", :number "688", :address {:streetName nil, :raw "Bairro Nossa Senhora de Oliveira, lote 1 R/C 2135-202 SAMORA CORREIA", :city "Samora Correia", :municipality "Benavente", :longitude -8.8783276, :state "Santarém", :zipcode "2135-202", :streetNumber nil, :googlePlaceId "ChIJc7x4aKghGQ0RU1NiJMLE9Bs", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 38.9318509, :formattedAddress "2135-202 Samora Correia, Portugal", :duplicatedAtGMaps true, :district "Santarém"}, :rating {:theory {:totalExams "102", :totalApproval "74.5", :bExams "87", :bApproval "72.4"}, :practice {:totalExams "106", :totalApproval "66.0", :bExams "76", :bApproval "60.5"}}}