{:name "Esteves", :number "766", :address {:streetName nil, :raw "Rua António Alves Espirito Santo,Lote 1, Loja 92 2415-440 LEIRIA", :city "Leiria", :municipality "Leiria", :longitude -8.807682999999999, :state "Leiria District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJubLJNBVzIg0RbDzUOSeDr00", :stateCode "Leiria District", :noEntriesAtGMaps false, :latitude 39.74953310000001, :formattedAddress "Leiria, Portugal", :duplicatedAtGMaps false, :district "Leiria"}, :rating {:theory {:totalExams "227", :totalApproval "81.9", :bExams "186", :bApproval "81.7"}, :practice {:totalExams "245", :totalApproval "73.1", :bExams "189", :bApproval "67.2"}}}