{:name "Gilão", :number "1005", :address {:streetName "Rua António Pinheiro", :raw "Rua António Pinheiro, lote A r/c 8800-323 TAVIRA", :city "Tavira", :municipality "Tavira", :longitude -7.6509863, :state "Faro", :zipcode "8800", :streetNumber "A", :googlePlaceId "ChIJVwJdNHkDEA0RyzoB-1YS8wU", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1303093, :formattedAddress "Rua António Pinheiro A, 8800-323 Tavira, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "72", :totalApproval "63.9", :bExams "59", :bApproval "61.0"}, :practice {:totalExams "82", :totalApproval "58.5", :bExams "64", :bApproval "51.6"}}}