{:name "Nossa Senhora de Fátima", :number "959", :address {:streetName "Avenida Doutor Castanheira de Figueiredo", :raw "Avª Dr. Castanheira Figueiredo, Bloco 2 r/c 3420-301 TÁBUA", :city "Tábua", :municipality "Tábua", :longitude -8.0253791, :state "Coimbra", :zipcode "3420-302", :streetNumber "2", :googlePlaceId "ChIJsVkz_V0nIw0R5vrDOinRA58", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.361382, :formattedAddress "Avenida Doutor Castanheira de Figueiredo 2, 3420-302 Tábua, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "65", :totalApproval "84.6", :bExams "56", :bApproval "82.1"}, :practice {:totalExams "63", :totalApproval "87.3", :bExams "56", :bApproval "85.7"}}}