{:name "Costa de Prata", :number "182", :address {:streetName nil, :raw "Avª Terras de Sena, Nº 65 R/C Dtº 6270-485 SEIA", :city "Seia", :municipality "Seia", :longitude -7.707845000000001, :state "Guarda", :zipcode "6270", :streetNumber nil, :googlePlaceId "ChIJaxhdbYjWPA0RoAjx9I6PihU", :stateCode "Guarda", :noEntriesAtGMaps false, :latitude 40.4148619, :formattedAddress "6270 Seia, Portugal", :duplicatedAtGMaps false, :district "Guarda"}, :rating {:theory {:totalExams "68", :totalApproval "77.9", :bExams "50", :bApproval "80.0"}, :practice {:totalExams "70", :totalApproval "80.0", :bExams "49", :bApproval "79.6"}}}