{:name "Estrela do Nabão", :number "398", :address {:streetName nil, :raw "Rua Diogo  Arruda, 6 r/c Esqº 2300-482 TOMAR", :city "Tomar", :municipality "Tomar", :longitude -8.4043125, :state "Santarém District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJK8leGat-GA0R6uUjP8gMizY", :stateCode "Santarém District", :noEntriesAtGMaps false, :latitude 39.6053819, :formattedAddress "Tomar, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "174", :totalApproval "78.2", :bExams "111", :bApproval "76.6"}, :practice {:totalExams "195", :totalApproval "90.3", :bExams "111", :bApproval "82.9"}}}