{:name "Nova de Vagos", :number "1136", :address {:streetName nil, :raw "Rua S. João - Edif. S. João, Bloco A - S/Nº 3840-429 VAGOS", :city "Vagos", :municipality "Vagos", :longitude -8.684011, :state "Aveiro District", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJW0BRtIC8Iw0Ru8Q5lLu_xTk", :stateCode "Aveiro District", :noEntriesAtGMaps false, :latitude 40.5550403, :formattedAddress "Vagos, Portugal", :duplicatedAtGMaps false, :district "Aveiro"}, :rating {:theory {:totalExams "184", :totalApproval "71.2", :bExams "163", :bApproval "71.8"}, :practice {:totalExams "200", :totalApproval "59.5", :bExams "177", :bApproval "55.9"}}}