{:name "Alão", :number "1315", :address {:streetName nil, :raw "Rua Jorge Cunha e Carmo, Lote 35, R/C Dt.º ; 2580-531 Alenquer", :city "Alenquer", :municipality "Alenquer", :longitude -9.014003299999999, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJq-2zsx7aGA0R40uk6M24eoY", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 39.0577004, :formattedAddress "Alenquer, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "175", :totalApproval "74.3", :bExams "148", :bApproval "74.3"}, :practice {:totalExams "158", :totalApproval "79.7", :bExams "134", :bApproval "77.6"}}}