{:name "Topdrive", :number "1259", :address {:streetName "Praceta António José Brandão", :raw "Praceta António Gonçalves, Nº 1 2845-549 AMORA", :city "Amora", :municipality "Seixal", :longitude -9.125487, :state "Setúbal", :zipcode "2845", :streetNumber "1", :googlePlaceId "ChIJZa--moo1GQ0R2m5TrW7DkI0", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6318503, :formattedAddress "Praceta António José Brandão 1, 2845 Amora, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "250", :totalApproval "75.6", :bExams "165", :bApproval "72.1"}, :practice {:totalExams "230", :totalApproval "73.5", :bExams "149", :bApproval "68.5"}}}