{:name "Medieval", :number "1318", :address {:raw "Rua Dr. Cândido Pinto, 28 C, Fração D ; 4520-707 Souto", :municipality "Santa Maria da Feira", :district "Aveiro", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 40.9054195, :longitude -8.5575248, :formattedAddress "Rua Dr. Cândido Pinto, 28 C, Fração D, 4520-707 Souto, Portugal"}, :rating {:theory {:totalExams "64", :totalApproval "70.3", :bExams "60", :bApproval "70.0"}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}