{:name "S. Gualter", :number "844", :address {:streetName nil, :raw "Urb. Da Quintã - Rua Teixeira Pascoais nº 375 r/c 4800-073 AZURÉM", :city "Guimaraes", :municipality "Guimarães", :longitude -8.2979526, :state "Braga", :zipcode "4800-073", :streetNumber nil, :googlePlaceId "ChIJn8x2h-XvJA0RjXg20TdWzH0", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.44838559999999, :formattedAddress "4800-073 Guimaraes, Portugal", :duplicatedAtGMaps true, :district "Braga"}, :rating {:theory {:totalExams "158", :totalApproval "73.4", :bExams "136", :bApproval "73.5"}, :practice {:totalExams "151", :totalApproval "99.3", :bExams "129", :bApproval "99.2"}}}