{:name "Porto Bessa", :number "1321", :address {:streetName nil, :raw "Rua François Guichard, n.º 8, 4100-012 PORTO", :city "Porto", :municipality "Porto", :longitude -8.642659199999999, :state "Porto District", :zipcode "4100-012", :streetNumber nil, :googlePlaceId "ChIJzeTMopllJA0R1glBLZddSaI", :stateCode "Porto District", :noEntriesAtGMaps false, :latitude 41.165117, :formattedAddress "4100-012 Porto, Portugal", :duplicatedAtGMaps true, :district "Porto"}, :rating {:theory {:totalExams "219", :totalApproval "81.3", :bExams "189", :bApproval "79.4"}, :practice {:totalExams "186", :totalApproval "62.4", :bExams "152", :bApproval "58.6"}}}