{:name "Novais Unipessoal", :number "973", :address {:streetName "Rua da Pedra Alçada", :raw "Pedra Alçada Lote 7, Loja C 8600-546 LAGOS", :city "Lagos", :municipality "Lagos", :longitude -8.686141700000002, :state "Faro", :zipcode "8600-546", :streetNumber "7", :googlePlaceId "ChIJHWrllbYxGw0RHoGQKpStTts", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1005804, :formattedAddress "Rua da Pedra Alçada 7, 8600-546 Lagos, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "73", :totalApproval "76.7", :bExams "60", :bApproval "76.7"}, :practice {:totalExams "75", :totalApproval "78.7", :bExams "64", :bApproval "78.1"}}}