{:name "Ponte de Lima", :number "846", :address {:streetName nil, :raw "Rua Agostinho José Taveira –Edifício Baldrufa  Loja P 4990-072 PONTE DE LIMA", :city "Ponte de Lima", :municipality "Ponte de Lima", :longitude -8.5827407, :state "Viana do Castelo", :zipcode "4990", :streetNumber nil, :googlePlaceId "ChIJEQcPA_GlJQ0RzmZ8_rWwtzQ", :stateCode "Viana do Castelo", :noEntriesAtGMaps false, :latitude 41.7647333, :formattedAddress "4990 Ponte de Lima, Portugal", :duplicatedAtGMaps false, :district "Viana do Castelo"}, :rating {:theory {:totalExams "106", :totalApproval "65.1", :bExams "97", :bApproval "63.9"}, :practice {:totalExams "105", :totalApproval "76.2", :bExams "94", :bApproval "75.5"}}}