{:name "AJS de Aurora e José Sereno", :number "981", :address {:streetName "Travessa Nova da Giesta", :raw "Travessa Nova da Giesta, Nº 333, 4425-672 MAIA", :city "Pedrouços", :municipality "Maia", :longitude -8.5844852, :state "Porto", :zipcode "4425-672", :streetNumber "333", :googlePlaceId "ChIJAWMLShBkJA0RrJYYVWJJhSw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1888803, :formattedAddress "Travessa Nova da Giesta 333, 4425-672 Pedrouços, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "24", :totalApproval "50.0", :bExams "23", :bApproval "52.2"}, :practice {:totalExams "19", :totalApproval "68.4", :bExams "18", :bApproval "66.7"}}}