{:name "Matosinhos", :number "1066", :address {:streetName "Rua de Alfredo Cunha", :raw "Rua Alfredo Cunha, nº 538 4450-022 MATOSINHOS", :city "Matosinhos", :municipality "Matosinhos", :longitude -8.6778358, :state "Porto", :zipcode "4450", :streetNumber "538", :googlePlaceId "ChIJ_dw53UhvJA0RssFlZYco1Gk", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.1860258, :formattedAddress "Rua de Alfredo Cunha 538, 4450-053 Matosinhos, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}