{:name "Almeirinense", :number "209", :address {:streetName "Rua das Faias", :raw "Rua das Faias, 10-12 2080 ALMEIRIM", :city "Almeirim", :municipality "Almeirim", :longitude -8.627848, :state "Santarém", :zipcode "2080", :streetNumber "10", :googlePlaceId "Ei1SdWEgZGFzIEZhaWFzIDEwLCAyMDgwLTEwOSBBbG1laXJpbSwgUG9ydHVnYWw", :stateCode "Santarém", :noEntriesAtGMaps false, :latitude 39.2097084, :formattedAddress "Rua das Faias 10, 2080-109 Almeirim, Portugal", :duplicatedAtGMaps false, :district "Santarém"}, :rating {:theory {:totalExams "139", :totalApproval "80.6", :bExams "78", :bApproval "74.4"}, :practice {:totalExams "148", :totalApproval "73.6", :bExams "88", :bApproval "61.4"}}}