{:name "Britense", :number "1071", :address {:streetName nil, :raw "Rua de São João Batista, n.º 960; 4805-676 Brito", :city "Brito", :municipality "Guimarães", :longitude -8.358134399999999, :state "Braga", :zipcode "4805", :streetNumber nil, :googlePlaceId "ChIJD5CSp53wJA0RmyueDT_Wa8Q", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4519174, :formattedAddress "4805 Brito, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "106", :totalApproval "81.1", :bExams "98", :bApproval "80.6"}, :practice {:totalExams "101", :totalApproval "53.5", :bExams "91", :bApproval "52.7"}}}