{:name "Trinca", :number "864", :address {:raw "Rua do Mercado, N 17 2601-906 CASTANHEIRA DO RIBATEJO", :municipality "Vila Franca Xira", :district "Lisboa", :duplicatedAtGMaps false, :noEntriesAtGMaps false, :latitude 38.9942001, :longitude -8.9705479, :formattedAddress "R. do Mercado, 2600 Castanheira do Ribatejo, Portugal"}, :rating {:theory {:totalExams "11", :totalApproval "72.7", :bExams "9", :bApproval "77.8"}, :practice {:totalExams "16", :totalApproval "87.5", :bExams "15", :bApproval "86.7"}}}