{:name "Via Segura", :number "1244", :address {:streetName nil, :raw "Portelinha 3300-116 ARGANIL", :city "Arganil", :municipality "Arganil", :longitude -8.0494661, :state "Coimbra", :zipcode "3300", :streetNumber nil, :googlePlaceId "ChIJJ7ntKIPcIg0RUW4MShktCJQ", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.2231376, :formattedAddress "Portelinha, 3300-011 Arganil, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "70", :totalApproval "74.3", :bExams "70", :bApproval "74.3"}, :practice {:totalExams "104", :totalApproval "79.8", :bExams "65", :bApproval "72.3"}}}