{:name "Lagoncinha", :number "1203", :address {:streetName nil, :raw "Lugar Fonte dos Castanheiros, Nº 6, bloco 1, Loja 1 4760-624 LOUSADO", :city "Lousado", :municipality "Vila Nova Famalicão", :longitude -8.5282853, :state "Braga", :zipcode "4760-624", :streetNumber nil, :googlePlaceId "ChIJJ0dvgNheJA0RJgYdpQ6dAYU", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.35228920000001, :formattedAddress "4760-624 Lousado, Portugal", :duplicatedAtGMaps true, :district "Braga"}, :rating {:theory {:totalExams "89", :totalApproval "80.9", :bExams "85", :bApproval "80.0"}, :practice {:totalExams "80", :totalApproval "93.8", :bExams "77", :bApproval "93.5"}}}