{:name "Victória Seixalense", :number "185", :address {:streetName "Avenida Doutor Arlindo Vicente", :raw "Avª Dr. Arlindo Vicente, Nº 90 -1º Arrentela 2840-403 SEIXAL", :city "Arrentela", :municipality "Seixal", :longitude -9.1051747, :state "Setúbal", :zipcode "2840", :streetNumber "90", :googlePlaceId "ChIJHaAuQRxKGQ0ResWcAxANNlM", :stateCode "Setúbal", :noEntriesAtGMaps false, :latitude 38.6187336, :formattedAddress "Avenida Doutor Arlindo Vicente 90, 2840-403 Arrentela, Portugal", :duplicatedAtGMaps false, :district "Setúbal"}, :rating {:theory {:totalExams "31", :totalApproval "80.6", :bExams "28", :bApproval "78.6"}, :practice {:totalExams "38", :totalApproval "78.9", :bExams "30", :bApproval "73.3"}}}