{:name "Monte Real", :number "854", :address {:streetName nil, :raw "Rua de Leiria, Nº 22, 3840-507 VAGOS", :city "Vagos", :municipality nil, :longitude -8.684011, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 40.5550403, :formattedAddress "3840 Vagos, Portugal", :duplicatedAtGMaps nil, :district "Aveiro"}, :rating {:theory {:totalExams "71", :totalApproval "70.4", :bExams "48", :bApproval "70.8"}, :practice {:totalExams "77", :totalApproval "67.5", :bExams "56", :bApproval "62.5"}}}