{:name "Paço D’ Arcos", :number "585", :address {:streetName nil, :raw "Rua José Moreira Rato, Nº 6-A 2780-634 PAÇO DE ARCOS", :city "Paço de Arcos", :municipality "Oeiras", :longitude -9.2915896, :state "Lisboa", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJGRRm203JHg0Rr16qrrlrH4Y", :stateCode "Lisboa", :noEntriesAtGMaps false, :latitude 38.696797, :formattedAddress "Paço de Arcos, Portugal", :duplicatedAtGMaps false, :district "Lisboa"}, :rating {:theory {:totalExams "76", :totalApproval "77.6", :bExams "67", :bApproval "74.6"}, :practice {:totalExams "78", :totalApproval "80.8", :bExams "68", :bApproval "77.9"}}}