{:name "Automóvel de Bragança", :number "1179", :address {:streetName "Av.ª das Forças Armadas", :observations "", :raw "Av.ª das Forças Armadas, Lote 48 - R/C Esq.º 5300-440 Bragança", :city "Santa Maria", :municipality "", :longitude -6.758882, :zipcode "5300-440", :streetNumber "", :latitude 41.812432, :formattedAddress "Av.ª das Forças Armadas, Lote 48 - R/C Esq.º 5300-440 Bragança", :district "Bragança"}, :contacts {:phone "", :mobile [914652763], :fax 273324088, :website "http://escolaautobraganca.com", :facebook "", :email "geral@escolaautobraganca.com"}, :rating {:theory {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}, :practice {:totalExams "", :totalApproval "", :bExams "", :bApproval ""}}}