{:name "S. João da Talha", :number "640", :address {:streetName nil, :raw "Praceta das Torres, N.º 3, Loures, 2695-731 Lisboa", :city "São João da Talha", :municipality "Loures", :longitude -9.097306999999999, :state nil, :zipcode nil, :streetNumber nil, :googlePlaceId nil, :stateCode nil, :noEntriesAtGMaps nil, :latitude 38.8212659, :formattedAddress "2695-731 São João da Talha, Portugal", :duplicatedAtGMaps nil, :district "Lisboa"}, :rating {:theory {:totalExams "47", :totalApproval "63.8", :bExams "40", :bApproval "67.5"}, :practice {:totalExams "33", :totalApproval "60.6", :bExams "26", :bApproval "53.8"}}}