{:name "Freire", :number "1189", :address {:streetName nil, :raw "Av. Engº Duarte Pacheco - Edificio Paços da Formiga, Nº 921 4445-516 ERMESINDE", :city "Ermesinde", :municipality "Valongo", :longitude -8.544635999999999, :state "Porto", :zipcode nil, :streetNumber nil, :googlePlaceId "ChIJXVm4EUFhJA0R4AILVhmw3gw", :stateCode "Porto", :noEntriesAtGMaps false, :latitude 41.2090826, :formattedAddress "Ermesinde, Portugal", :duplicatedAtGMaps false, :district "Porto"}, :rating {:theory {:totalExams "145", :totalApproval "83.4", :bExams "133", :bApproval "83.5"}, :practice {:totalExams "145", :totalApproval "77.9", :bExams "134", :bApproval "76.1"}}}