{:name "Louletana", :number "111", :address {:streetName "Rua Padre António Vieira", :raw "Rua Padre António Vieira, Nº 189 8100-611 LOULÉ", :city "Loulé", :municipality "Loulé", :longitude -8.0196307, :state "Faro", :zipcode "8100", :streetNumber "189", :googlePlaceId "ChIJT3-IzhaxGg0RGe8ZhJV_N_U", :stateCode "Faro", :noEntriesAtGMaps false, :latitude 37.1398812, :formattedAddress "Rua Padre António Vieira 189, 8100-542 Loulé, Portugal", :duplicatedAtGMaps false, :district "Faro"}, :rating {:theory {:totalExams "99", :totalApproval "61.6", :bExams "94", :bApproval "61.7"}, :practice {:totalExams "95", :totalApproval "44.2", :bExams "93", :bApproval "43.0"}}}