{:name "Costa", :number "203", :address {:streetName "Largo do Trovador", :raw "Largo do Trovador, 21 4810-451 GUIMARÃES", :city "Guimarães", :municipality "Guimarães", :longitude -8.2935118, :state "Braga", :zipcode "4810", :streetNumber "21", :googlePlaceId "ChIJdyr0FcLvJA0RMV-2oAWubCk", :stateCode "Braga", :noEntriesAtGMaps false, :latitude 41.4404644, :formattedAddress "Largo do Trovador 21, 4810-225 Guimarães, Portugal", :duplicatedAtGMaps false, :district "Braga"}, :rating {:theory {:totalExams "16", :totalApproval "81.3", :bExams "11", :bApproval "90.9"}, :practice {:totalExams "19", :totalApproval "73.7", :bExams "13", :bApproval "61.5"}}}