{:name "Boa Viagem", :number "407", :address {:streetName "Rua Coimbra", :raw "Rua de Coimbra, nº 14 3080-047 FIGUEIRA DA FOZ", :city "Figueira da Foz", :municipality "Figueira da Foz", :longitude -8.8480815, :state "Coimbra", :zipcode "3080", :streetNumber "14", :googlePlaceId "ChIJuczpvOg3Ig0R0TZ_idpTSa0", :stateCode "Coimbra", :noEntriesAtGMaps false, :latitude 40.1499401, :formattedAddress "Rua Coimbra 14, 3080-047 Figueira da Foz, Portugal", :duplicatedAtGMaps false, :district "Coimbra"}, :rating {:theory {:totalExams "98", :totalApproval "83.7", :bExams "70", :bApproval "80.0"}, :practice {:totalExams "131", :totalApproval "77.9", :bExams "88", :bApproval "72.7"}}}