/*
* Skeleton V2.0.4 - with my customizations
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
* Less Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666667%;
  }
  .two.columns {
    width: 13.33333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66666667%;
  }
  .five.columns {
    width: 39.33333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66666667%;
  }
  .eight.columns {
    width: 65.33333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66666667%;
  }
  .eleven.columns {
    width: 91.33333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66666667%;
  }
  .two-thirds.column {
    width: 65.33333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #151315;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #151315;
}
a:hover {
  color: #080708;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #d2cdd2;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #e2dfe2;
  cursor: pointer;
  box-sizing: border-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #d2cdd2;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #e2dfe2;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover {
  color: #b1a9b1;
  border-color: #ffffff;
  outline: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #b1a9b1;
  border-color: #ffffff;
  outline: 0;
}
.button:focus,
button:focus {
  color: #b1a9b1;
  border-color: #ffffff;
  outline: 0;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #b1a9b1;
  border-color: #ffffff;
  outline: 0;
}
.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #d05353;
  border-color: #d05353;
}
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #d05353;
  border-color: #d05353;
}
.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #151315;
  border-color: #151315;
}
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #151315;
  border-color: #151315;
}
.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #151315;
  border-color: #151315;
}
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #151315;
  border-color: #151315;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border: 1px solid #d05353;
  outline: 0;
}
textarea:focus,
select:focus {
  border: 1px solid #d05353;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f2f0f2;
  border: 1px solid #e2dfe2;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e2dfe2;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e2dfe2;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.list {
  position: relative;
  max-width: 100%;
  margin-top: 3rem;
  padding: 1rem 0.2rem 0.2rem 0rem;
}
.school-card {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.5rem 0.3rem #e2dfe2;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
}
.school-card .name {
  font-weight: bold;
}
#map {
  height: 500px;
}
.pop-up-wrapper {
  display: none;
}
.ratings .bar {
  fill: #fbd5a3;
}
.ratings .grey-bar {
  fill: #e2dfe2;
}
.ratings svg {
  font-size: 1rem;
  height: 12rem;
}
.leaflet-popup-content-wrapper .pop-up-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.leaflet-popup-content-wrapper .pop-up-wrapper svg {
  height: 11rem;
  font-size: 1rem;
}
.leaflet-popup-content-wrapper .pop-up-wrapper .bar {
  fill: #fbd5a3;
}
.leaflet-popup-content-wrapper .pop-up-wrapper .grey-bar {
  fill: #e2dfe2;
}
.leaflet-popup-content-wrapper .pop-up-wrapper .name {
  font-weight: bold;
  margin-bottom: 0;
}
.leaflet-popup-content-wrapper .pop-up-wrapper p {
  font-size: 1rem;
  margin: 1rem 0;
}
.leaflet-popup-content-wrapper .pop-up-wrapper .source {
  display: flex;
  font-size: 1rem;
  color: #151315;
  opacity: 0.75;
}
.leaflet-popup-content-wrapper .pop-up-wrapper .source a {
  opacity: 0.75;
  color: #151315;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}
.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  color: #151315 !important;
}
.leaflet-popup-close-button {
  color: #b1a9b1 !important;
}
.custom-marker {
  background-color: #d05353;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 50%;
  opacity: 0.7;
}
.border {
  border: dashed;
  border-width: 1px;
  border-color: greenyellow;
}
@media (min-width: 550px) {
  .leaflet-popup-content-wrapper .pop-up-wrapper svg {
    height: 13rem;
    font-size: 1.1rem;
  }
  .leaflet-popup-content-wrapper .pop-up-wrapper p {
    font-size: 1.1rem;
  }
  .ratings svg {
    font-size: 1rem;
    height: 15rem;
  }
}
header {
  position: relative;
  margin-bottom: 30px;
  padding: 30px 0;
}
header a {
  color: #151315;
  text-decoration: none;
}
header .title {
  line-height: 40px;
  margin-bottom: 0;
  margin-top: -10px;
}
header .subtitle {
  color: #b1a9b1;
}
header .menu {
  text-align: right;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .menu .menu-item,
header .menu .lang {
  margin: 0 1rem;
}
footer {
  padding-bottom: 0 !important;
  padding-top: 2em;
  background-color: #f2efe9;
  width: 100%;
}
footer h2 {
  margin-bottom: 0rem;
}
footer .title a {
  text-decoration: none;
  color: #053c5e;
}
footer .item {
  margin: 0.5rem 0;
}
.top-level-item {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}
footer .logo-column {
  justify-content: flex-end;
}
footer .logo-column .logo {
  background-color: black;
  padding: 6px;
  border: none;
  width: 100%;
  height: auto;
}
footer .logo-column .logo svg {
  width: 100%;
  height: auto;
}
footer .logo-column .logo .cls-1 {
  fill: white;
}
footer .logo-column .built-by {
  margin: 2.25rem 0 0.5rem 0;
}
footer .logo-column .limited {
  font-size: 1.2rem;
  padding-top: 1rem;
}
footer .logo-column .logo-div {
  max-width: 20rem;
}
.ribbon {
  position: absolute;
  right: 0;
  background-color: #d05353;
  padding: 0px 33px;
  z-index: 999999999;
  box-shadow: 0px 5px 4px 0px #00000057;
  color: #f2efe9;
  top: 50%;
  padding-top: 3px;
}
@media (min-width: 550px) {
  footer .logo-div {
    float: right;
  }
  .ribbon {
    transform: translate(-45px, 15px) rotate(-45deg);
    position: absolute;
    right: initial;
    top: initial;
    left: 0;
    background-color: #d05353;
    padding: 0px 33px;
    z-index: 999999999;
    box-shadow: 0px 5px 4px 0px #00000057;
    color: #f2efe9;
  }
}
.cta {
  max-width: 70rem;
  margin: 0rem auto;
  text-align: center;
}
.sub-cta {
  max-width: 70rem;
  margin: 0rem auto;
  text-align: center;
  color: #b1a9b1;
}
.search-wrapper {
  max-width: 45rem;
  margin-top: 2rem;
  margin-bottom: 20rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 550px) {
  .search-wrapper {
    max-width: 45rem;
    min-height: 34rem;
  }
}
.search-wrapper .search-input {
  background: #fff;
  width: 100%;
  position: relative;
  box-shadow: 0 0.1rem 0.5rem 0.3rem rgba(21, 19, 21, 0.12);
}
.search-input input {
  height: 5.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0 6rem 0 2rem;
  font-size: 1.8rem;
  margin-bottom: 0;
  border: 0;
}
.search-input input:focus {
  border: 0;
}
.search-input.active input {
  border-radius: 0.5rem 0.5rem 0 0;
}
.search-input .autocomplete-box {
  padding: 0;
  max-height: 28rem;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.search-input.active .autocomplete-box {
  padding: 1rem 0rem;
  opacity: 1;
  pointer-events: auto;
  display: inherit;
}
.autocomplete-box li {
  list-style: none;
  padding: 0.5rem 6rem 0.5rem 2rem;
  width: 100%;
  cursor: default;
  border-radius: 0rem;
  display: none;
}
.search-input.active .autocomplete-box li {
  display: block;
}
.search-input.active .autocomplete-box li a {
  text-decoration: none;
  color: #151315;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}
.search-input.active .autocomplete-box li .suggestion-type {
  color: #b2a9b2;
  padding-left: 0.6em;
  font-size: 0.7em;
}
.autocomplete-box li:hover {
  background: #e2dfe2;
}
.back {
  display: none;
  border: none;
  width: 10%;
  padding: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.5rem;
  color: #e2dfe2;
}
.mobile-separator {
  width: 90%;
  height: 1px;
  background-color: #e2dfe2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}
.autocomplete-box ul {
  margin-bottom: 0;
}
.char-limit {
  padding: 0.5rem 0px 0px 0.5rem;
}
@media (max-width: 550px) {
  .mobile-opacity-zero {
    opacity: 0;
  }
  html.mobile-overwrite .search-wrapper button.back,
  html.mobile-overwrite .search-wrapper .mobile-separator {
    display: inline-block;
  }
  html.mobile-overwrite .search-wrapper .search-input input {
    width: 90% !important;
    box-shadow: none !important;
  }
  html.mobile-overwrite .cta,
  html.mobile-overwrite .sub-cta,
  html.mobile-overwrite footer,
  html.mobile-overwrite header {
    display: none;
  }
  header .menu {
    justify-content: inherit;
  }
  footer .items {
    justify-content: inherit;
  }
  header {
    margin-bottom: 0;
  }
}
.solo-school .name {
  font-weight: bold;
}
.solo-school svg {
  height: 17rem;
  font-size: 0.6rem;
}
.solo-school .driving .bar {
  fill: #fbd5a3;
}
.solo-school .grey-bar {
  fill: #e2dfe2;
}
.solo-school .theory .bar {
  fill: #29aae3;
}
.solo-school div.description .driving {
  padding: 0.3rem;
  background-color: #fbd5a3;
}
.solo-school div.description .theory {
  padding: 0.3rem;
  background-color: #29aae3;
}
#map-solo {
  height: 300px;
  margin-bottom: 5rem;
}
@media (min-width: 550px) {
  .solo-school svg {
    height: 20rem;
  }
}
.no-coord {
  color: #d05353;
}
.pages p {
  font-size: 2rem;
}
.pages blockquote {
  font-style: italic;
  opacity: 0.5;
}
.pages table,
.pages img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.pages img {
  max-width: 70%;
}
.pages .quote-ref {
  text-align: right;
}
.pages li {
  font-size: 2rem;
}
* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.selected {
  font-weight: bold;
  text-decoration: underline;
}
.menu-item.selected {
  font-weight: normal;
  text-decoration: underline;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.title {
  font-weight: bold;
}
.title a:hover {
  color: initial;
}
.label {
  margin: 0;
  font-size: 1rem;
  opacity: 0.75;
}
.field {
  margin-bottom: 1rem;
}
.source {
  display: flex;
  font-size: 1rem;
  color: #151315;
  opacity: 0.75;
}
.source a {
  opacity: 0.75;
  color: #151315;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}
.ver-mais {
  width: max-content;
  display: flex;
  align-self: end !important;
  padding: 0.2rem;
  color: #151315 !important;
  font-size: 1.1rem;
}
@media (min-width: 550px) {
  .source {
    font-size: 1rem;
  }
  .source a {
    font-size: 1rem;
  }
  .ver-mais {
    font-size: 1.2rem;
  }
}
sup.strong {
  font-weight: bold;
  font-size: 1.05rem;
}
