/*
* Skeleton V2.0.4 - with my customizations
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
* Less Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666667%;
  }
  .two.columns {
    width: 13.33333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66666667%;
  }
  .five.columns {
    width: 39.33333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66666667%;
  }
  .eight.columns {
    width: 65.33333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66666667%;
  }
  .eleven.columns {
    width: 91.33333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66666667%;
  }
  .two-thirds.column {
    width: 65.33333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #222;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #57cc99;
}
a:hover {
  color: #43c68d;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}
.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}
.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #57cc99;
  border-color: #57cc99;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border: 1px solid #57cc99;
  outline: 0;
}
textarea:focus,
select:focus {
  border: 1px solid #57cc99;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.list {
  position: relative;
  max-width: 80%;
}
.school {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
}
#map {
  height: 500px;
}
.year-label,
.driving-ratings,
.theory-ratings {
  height: 20rem;
}
.year-label text,
.driving-ratings text,
.theory-ratings text {
  font-size: 0.55em;
}
.bar.driving {
  fill: #d81c3f;
}
.bar.theory {
  fill: blue;
}
.bar:hover {
  fill: darkgray;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.custom-marker {
  background-color: red;
  border: none;
  border-radius: 100rem;
  width: 2rem !important;
  height: 2rem !important;
}
.border {
  border: dashed;
  border-width: 1px;
  border-color: greenyellow;
}
header {
  margin-bottom: 30px;
  padding: 30px 0;
}
header a {
  color: #222;
  text-decoration: none;
}
header a:hover {
  color: #bbb;
}
header .title {
  line-height: 40px;
  margin-bottom: 0;
  margin-top: -10px;
}
header .title a {
  text-decoration: none;
}
header .menu {
  text-align: right;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .menu .menu-item,
header .menu .lang {
  margin-right: 2rem;
}
footer {
  text-align: right;
  padding: 30px 0;
}
footer .items {
  text-align: centre;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer .items .item {
  margin-right: 2rem;
}
footer.home {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.cta {
  max-width: 70rem;
  margin: 0rem auto;
  text-align: center;
}
.sub-cta {
  max-width: 70rem;
  margin: 0rem auto;
  text-align: center;
  color: #555555;
}
.search-wrapper {
  max-width: 45rem;
  margin: 2rem auto;
}
@media (min-width: 550px) {
  .search-wrapper {
    max-width: 45rem;
    margin: 15rem auto;
  }
}
.search-wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 0.1rem 0.5rem 0.3rem rgba(0, 0, 0, 0.12);
}
.search-input input {
  height: 5.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0 6rem 0 2rem;
  font-size: 1.8rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  border: 0;
}
.search-input input:focus {
  border: 0;
}
.search-input.active input {
  border-radius: 0.5rem 0.5rem 0 0;
}
.search-input .autocomplete-box {
  padding: 0;
  max-height: 28rem;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.search-input.active .autocomplete-box {
  padding: 1rem 0.8rem;
  opacity: 1;
  pointer-events: auto;
  display: inherit;
}
.autocomplete-box li {
  list-style: none;
  padding: 0.8rem 0.12em;
  width: 100%;
  cursor: default;
  border-radius: 0.3rem;
  display: none;
}
.search-input.active .autocomplete-box li {
  display: block;
}
.search-input.active .autocomplete-box li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
.search-input.active .autocomplete-box li .suggestion-type {
  color: #c8c8c8;
  padding-left: 0.6em;
  font-size: 0.7em;
}
.autocomplete-box li:hover {
  background: #e1e1e1;
}
.back {
  display: none;
  border: none;
  width: 10%;
  padding: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.5rem;
  color: #e1e1e1;
}
.mobile-separator {
  width: 90%;
  height: 1px;
  background-color: #e1e1e1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}
.autocomplete-box ul {
  margin-bottom: 0;
}
.char-limit {
  padding: 0.5rem 0px 0px 0.5rem;
}
@media (max-width: 550px) {
  .mobile-opacity-zero {
    opacity: 0;
  }
  html.mobile-overwrite .search-wrapper button.back,
  html.mobile-overwrite .search-wrapper .mobile-separator {
    display: inline-block;
  }
  html.mobile-overwrite .search-wrapper .search-input input {
    width: 90% !important;
    box-shadow: none !important;
  }
  html.mobile-overwrite .cta,
  html.mobile-overwrite .sub-cta,
  html.mobile-overwrite footer,
  html.mobile-overwrite header {
    display: none;
  }
  header .menu {
    justify-content: inherit;
  }
  footer .items {
    justify-content: inherit;
  }
  header {
    margin-bottom: 0;
  }
}
* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.selected {
  font-weight: bold;
  text-decoration: underline;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.title {
  font-weight: bold;
}
.title a:hover {
  color: initial;
}
.subtitle {
  color: #555555;
}
