{
 #uuid "4e24e93e-8297-3401-bff0-6cd16928b7fe" {:id #uuid "4e24e93e-8297-3401-bff0-6cd16928b7fe",
                                               :address
                                               "Praça da Sociedade Filarmónica Recreio Alverquense nº12 - Alverca do Ribatejo",
                                               :address-c
                                               "Praça Sociedade Fil. e Rec.a Alverquense, 2615-391, Alverca do Ribatejo, Vila Franca de Xira, Lisboa",
                                               :postal-c "2615-391",
                                               :x -9.040306654872065,
                                               :y 38.89075998980737,
                                               :score 74.69,
                                               :c 2}
 #uuid "13aa4ed1-f159-3d12-b3e3-0c78faefee5d" {:overwrite true
                                               :obs "Manual coords"
                                               :x -6.7631975537083715
                                               :y 41.797498753108506}
 #uuid "664f5ebb-ec9a-3921-8d63-530eb2dd26e0" {:overwrite true
                                               :obs "Manual coords"
                                               :x -8.140365830925857
                                               :y 41.3155012036505}
 #uuid "7a39c2a7-c4a3-3cb9-b572-ec7c02558b35" {:overwrite true
                                               :obs "Manual coords"
                                               :x -8.422375527411608
                                               :y 40.94577167143348}
 }
