{"royal-01417" {:address-id #uuid "85b9c656-e409-38cc-a8fa-9d1a39713ae0"
                :overwrite/reason "missing nec in imt.pt"
                :overwrite/notes ["https://g.page/escoladeconducaoroyal?share"]}
 "campanha-00297" {:address-id #uuid "7f7d57ec-c53d-3011-b080-285687e47e98"
                   :overwrite/obs "missing nec in imt.pt"
                   :overwrite/notes ["https://www.google.pt/maps?hl=en&q=escola+conducao+campanha"]}
 "autoflor-00652" {:address-id #uuid "42020dad-2dd1-3624-a1eb-43c7ae455cd3"
                   :overwrite/obs "nec is 1007 in imt.pt"
                   :overwrite/notes ["https://goo.gl/maps/SqzySt7WvJsw6VYp8"]}
 "medieval-01319" {:address-id #uuid "7e57acad-4b71-3006-a0bb-dc2c8d594ac0"
                   :overwrite/obs "nec is 1318 in imt.pt"}
 "mogadourense-00494" {:address-id #uuid "0f7182e1-9ade-3a01-95c8-f5e495a01bc4"
                       :overwrite/obs "nec is 1201 in imt.pt"}
 "douro-sul-00830" {:address-id #uuid "3b79a161-8af9-3b64-83c3-66aec5238418"
                    :overwrite/obs "duplicate nec in passrates"}
 "sind-xxxxx" {:address-id nil
               :overwrite/obs "not really a school"}
 "celas-00626" {:address-id nil
                :overwrite/obs "problably the same as siiimpletunas-00626"}
 "nova-mira-01349" {:address-id nil
                    :overwrite/obs "prob. same as nova-de-tomar-01349. data until 2018"}
 "malhoa-01314" {:address-id nil
                 :overwrite/obs "prob. same as nova-mira-01349. data until 2018"}
 "nascente-do-ave-00587" {:address-id nil
                          :overwrite/obs "prob. same as auto-dinamica-do-ave-00587. data until 2018"}
 "vr-00447" {:address-id nil
             :overwrite/obs "Most recent from duplicate pair but name differs a lot from imp.pt."}
 "auto-stop-00760" {:address-id nil
                    :overwrite/obs "Duplicate pair of ip4-00760. Data stops @ 2019"}
 "prestige-01079" {:address-id nil
                   :overwrite/obs "Dup mota-galiza-01079. Data stops @ 2018. Another Prestige w/1314"}
 "mortaguense-00339" {:address-id nil
                      :overwrite/obs "Dup nova-de-esgueira-00339. Data stops @ 2018."}
 "dinamica-do-vez-00746" {:address-id nil
                          :overwrite/obs "Dup tyrsense-00746. Data stops @ 2019."}
 "armando-machado-da-cruz-00900" {:address-id nil
                                  :overwrite/obs "Dup grand-tour-00900. Data stops @ 2019."}
 "rodaqui-00011" {:address-id nil
                  :overwrite/obs "license 11 is Montemorense in imt.pt"}
 "alkantara-00027" {:address-id nil
                    :overwrite/obs "license 27 is Vencedora Alcanterense in imt.pt"}
 "entre-linhas-00092" {:address-id nil
                       :overwrite/obs "license 92 is 'Automobilismo da Beira' in imt.pt"}
 "devesa-00123" {:address-id nil
                 :overwrite/obs "license 123 is 'Famalicense' in imt.pt"}
 "siiimpleavis-00269" {:address-id nil
                       :overwrite/obs "license 269 is 'Alentejana' in imt.pt"}
 "siiimplemarinhais-00302" {:address-id nil
                            :overwrite/obs "license 302 is 'Salvaterra de Magos' in imt.pt"}
 "o-farol-00333" {:address-id nil
                  :overwrite/obs "license 333 is 'Estrela de Almeida' in imt.pt"}
 "nelmar-00338" {:address-id nil
                 :overwrite/obs "license 338 is 'Automóvel de Macedo' in imt.pt"}
 "cinochaves-00353" {:address-id nil
                     :overwrite/obs "license 353 is 'Valpacense in imt.pt"}
 "alverca-00375" {:address-id nil
                  :overwrite/obs "license 375 is 'Infante D. Pedro' in imt.pt"}
 "nova-mafra-00378" {:address-id nil
                     :overwrite/obs "license 378 is 'Instrucoop' in imt.pt"}
 "circular-de-braga-00443" {:address-id nil
                            :overwrite/obs "license 443 is 'Pampicar' in imt.pt"}
 "a-desportiva-gondomar-00465" {:address-id nil
                                :overwrite/obs "license 465 is 'Gondomar Centro' in imt.pt"}
 "via-odivelas-00481" {:address-id nil
                       :overwrite/obs "license 481 is 'Chuabo de Odivelas' in imt.pt"}
 "urbe-00513" {:address-id nil
               :overwrite/obs "license 513 is 'Barcelinhos' in imt.pt"}

 "miranda-do-douro-00527" {:address-id nil
                           :overwrite/obs "license 527 is 'Nelmar' in imt.pt"}
 "terra-nova-00544" {:address-id nil
                     :overwrite/obs "license 544 is 'Deu-la-Deu' in imt.pt"}
 "s-bartolomeu-00595" {:address-id nil
                       :overwrite/obs "license 595 is 'Carlos Vaz' in imt.pt"}
 "jcdrive-00624" {:address-id nil
                  :overwrite/obs "license 624 is 'do Fanqueiro - Loures' in imt.pt"}
 "cavaleira-00630" {:address-id nil
                    :overwrite/obs "license 630 is 'De Pernes - Loures' in imt.pt"}
 "automovel-de-macedo-00650" {:address-id nil
                              :overwrite/obs "license 650 is 'A Nova' in imt.pt"}
 "azurem-00684" {:address-id nil
                 :overwrite/obs "license 684 is 'Moreirense' in imt.pt"}
 "cubista-00691" {:address-id nil
                  :overwrite/obs "license 691 is 'Baía de Monte Gordo' in imt.pt"}
 "faciforma-gaia-centro-00700" {:address-id nil
                                :overwrite/obs "license 700 is 'Monte da Virgem' in imt.pt"}
 "reis-armamar-00830" {:address-id nil
                       :overwrite/obs "license 830 is 'Douro Sul' in imt.pt"}
 "e-formacao-profissional-da-marinha-grande-00854" {:address-id nil
                                                    :overwrite/obs "license 854 is 'Monte Real' in imt.pt"}
 "fonseca-00914" {:address-id nil
                  :overwrite/obs "license 914 is 'Aliada' in imt.pt"}
 "dom-pedro-01008" {:address-id nil
                    :overwrite/obs "license 1008 is 'Prina' in imt.pt"}
 "go-driving-01024" {:address-id nil
                     :overwrite/obs "license 1024 is 'Egitaniense' in imt.pt"}
 "s-jorge-01043" {:address-id nil
                  :overwrite/obs "license 1043 is 'Dominante' in imt.pt"}
 "d-chama-01057" {:address-id nil
                  :overwrite/obs "license 1057 is 'Auto Mira' in imt.pt"}
 "s-verissimo-01058" {:address-id nil
                      :overwrite/obs "license 1058 is 'Volante de Negreiros' in imt.pt"}
 "auto-dao-01075"  {:address-id nil
                    :overwrite/obs "license 1075 is 'De Repeses' in imt.pt"}
 "boliqueime-01081" {:address-id nil
                     :overwrite/obs "license 1081 is 'Linha de Sintra' in imt.pt"}
 "seguranca-maxima-premium-01105" {:address-id nil
                                   :overwrite/obs "license 1105 is 'Alameda' in imt.pt"}
 "palhaca-01110" {:address-id nil
                  :overwrite/obs "license 1110 is 'Bairrada' in imt.pt"}
 "do-juncal-01162" {:address-id nil
                    :overwrite/obs "license 1162 is 'Da Serra' in imt.pt"}
 "macao-01171" {:address-id nil
                :overwrite/obs "license 1171 is 'Abranjovem' in imt.pt"}
 "o-motorista-01179" {:address-id nil
                      :overwrite/obs "license 1179 is 'Montenegrense' in imt.pt"}
 "chelas-01187" {:address-id nil
                 :overwrite/obs "license 1187 is 'Babilónia' in imt.pt"}
 "moncorvense-01201" {:address-id nil
                      :overwrite/obs "license 1201 is 'Mogadourense' in imt.pt"}
 "a-nova-de-mozelos-01232" {:address-id nil
                            :overwrite/obs "license 1232 is 'Irmãos Couto' in imt.pt"}
 "espiral-01258" {:address-id nil
                  :overwrite/obs "license 1258 is 'Nova Malveira' in imt.pt"}
 "centro-sul-01269" {:address-id nil
                     :overwrite/obs "license 1269 is 'Cova da Piedade' in imt.pt"}
 "oitava-01291" {:address-id nil
                 :overwrite/obs "license 1291 is 'Nova Caparica' in imt.pt"}
 "triplo-s-01301" {:address-id nil
                   :overwrite/obs "license 1301 is 'Alto Nível' in imt.pt"}
 "barrosas-01316" {:address-id nil
                   :overwrite/obs "license 1316 is 'José Luís Cunha' in imt.pt"}
 "taveiro-01318"  {:address-id #uuid "102c6d36-273b-3cfa-b2f1-19416f55127b"
                   :overwrite/obs "lic. 1318 has 2 profiles 'Medieval' and 'Taveiro' in imt.pt"}
 "arca-dagua-01399" {:address-id nil
                     :overwrite/obs "license 1399 is 'Nova do Porto' in imt.pt"}
 "nova-caldense-01418" {:address-id nil
                        :overwrite/obs "license 1418 is 'Motoschool' in imt.pt"}
 "auto-mira-00651" {:address-id nil
                    :overwrite/obs "license 651 is 'Miranda do Douro' in imt.pt"}
 }
