@import "skeleton.less";

.cta {
    max-width: 70rem;
    margin: 0rem auto;
    text-align: center;
}

.sub-cta {
    max-width: 70rem;
    margin: 0rem auto;
    text-align: center;
    color: @dark-grey;
}

.search-wrapper{
    max-width: 45.0rem;
    margin: 2rem auto;
}

@media (min-width: @bp-larger-than-phablet){
    .search-wrapper{
        max-width: 45.0rem;
        min-height: 34rem;
    }
}

.search-wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: .5rem;
    position: relative;
    box-shadow: 0 .1rem .5rem .3rem rgba(21,19,21,0.12);//eerie black but in rgba
}

.search-input input{
    height: 5.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: 0 6rem 0 2rem;
    font-size: 1.8rem;
    box-shadow: 0 .1rem .5rem rgba(21,19,21,0.1);//eerie black but in rgba
    margin-bottom: 0;
    border: 0;

}

.search-input input:focus{
    border: 0;
}


//icon

.search-input.active input{
    border-radius: .5rem .5rem 0 0;
}

.search-input .autocomplete-box{
    padding:0;
    max-height: 28rem;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    display:none;
}

.search-input.active .autocomplete-box{
    padding: 1rem .8rem;
    opacity: 1;
    pointer-events: auto;
    display: inherit;
}


.autocomplete-box li{
    list-style: none;
    padding: .8rem .12em;
    width: 100%;
    cursor: default;
    border-radius: .3rem;
    display: none;
}

.search-input.active .autocomplete-box li{
    display: block;
    a {
        text-decoration: none;
        color: @font-color;
        font-weight: bold;
    }

    .suggestion-type {
        color: darken(@light-grey, 10%);
        padding-left: 0.6em;
        font-size: 0.7em;

    }
}

.autocomplete-box li:hover {
    background: @light-grey;
}

.back {
    display: none;
    border: none;
    width: 10%;
    padding: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 2.5rem;
    color: @light-grey;
}

.mobile-separator {
  width: 90%;
  height: 1px;
  background-color: @light-grey;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}

.autocomplete-box ul{
    margin-bottom: 0;
}

.char-limit {
    padding: .5rem 0px 0px .5rem;
}

//mobile behaviour of search input box
@media (max-width: @bp-larger-than-phablet){
    .mobile-opacity-zero {
        opacity: 0
    }

    html.mobile-overwrite .search-wrapper button.back,
    html.mobile-overwrite .search-wrapper .mobile-separator{
        display: inline-block;
    }

    html.mobile-overwrite .search-wrapper .search-input input {
        width: 90% !important;
        box-shadow: none !important;
    }

    html.mobile-overwrite .cta,
    html.mobile-overwrite .sub-cta,
    html.mobile-overwrite footer,
    html.mobile-overwrite header{
        display: none;
    }

    header .menu {
        justify-content: inherit;
    }

    footer .items {
        justify-content: inherit;
    }

    header {
        margin-bottom: 0;
    }

}
