@import "skeleton.less";

header {
    margin-bottom: 30px;
    padding: 30px 0;

    a {
        color: @font-color;
        text-decoration: none;
    }

    .title {
        line-height: 40px;
        margin-bottom: 0;
        margin-top: -10px;

    }

    .subtitle {
        color: @dark-grey;
    }



    .menu {
        text-align: right;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .menu-item, .lang {
            margin: 0 1.0rem;
        }

    }

}

footer {
    padding-bottom: 0 !important;
    padding-top: 2em;
    background-color: @off-white;
    width: 100%;

    h2 {
        margin-bottom: 0rem;
    }
    .title a {
        text-decoration: none;
        color: @colour-1-darker;
    }

    .item {
        margin: 0.5rem 0;
    }

}

.top-level-item {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

footer .logo-column{

    justify-content: flex-end;

    .logo {
        background-color: black;
        padding: 6px;
        border:none;
        width: 183px;

        svg {
            width: 100%;
            height: auto;
        }

        .cls-1{
            fill: white;
        }
    }

    .built-by{
        margin-bottom: 0.5rem;
    }
}

.footer-bottom-row {
    padding-bottom: 2rem;
}

@media (min-width: @bp-larger-than-phablet){
    footer {
        .logo-div {
            float: right;
        }
    }
}
