.list {
    //text-align: center;
    position: relative;
    max-width: 80%;
}

.school{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #fff;
}

#map { height: 500px; }

// svg ratings

svg.pop-up {
    height: 10rem;
}

text{
    font-size: 1.1rem;
}

.leaflet-popup-content-wrapper .pop-up {

    padding-bottom: 0.5rem;

    .name {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        margin: 1rem 0;
    }

    a {
        color: @colour-1 !important;
        float: right;
        font-size: 1.1rem;
    }

}


text.bar-label {
    fill: @font-color;
    font-size: 1.1rem;
}


.year-label,
.driving-ratings,
.theory-ratings {
    height: 20rem;
    text{
        font-size: .55rem;
    }

}

.bar.driving {
    fill: @colour-3;
}

.bar.theory {
    fill: blue;
}

.bar:hover {
    fill: @colour-3;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.custom-marker {
    background-color: @colour-2;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50%;
    opacity: 0.7;

}

//debug info
.border {
    border: dashed;
    border-width: 1px;
    border-color: greenyellow;
}
