@import "skeleton.less";
@import "list.less";
@import "header-footer.less";
@import "autocomplete.less";
@import "school.less";
@import "pages.less";
*{
    -webkit-overflow-scrolling: touch; //TODO what's this?
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}

.menu-item.selected {
    font-weight: normal;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.title {
    font-weight: bold;
}

.title a {
    &:hover {
        color: initial;
    }
}

.label{
    margin:0;
    font-size: 1rem;
    opacity: .75;
}

.field {
    margin-bottom: 1rem;

}

.source {
    display:flex;
    font-size:1rem;
    color: @kinda-black;
    opacity: .75;
    a{
        opacity: .75;
        color: @kinda-black;
        font-size:0.9rem;
        padding:0 0.2rem;
    }
}

.ver-mais {
    width: max-content;
    display: flex;
    align-self: end !important;
    padding: 0.2rem;
    color: #151315 !important;
    font-size: 1.1rem;
}

@media (min-width: @bp-larger-than-phablet){

    .source {
        font-size:1rem;
        a{
            font-size:1rem;
        }
    }

    .ver-mais {
        font-size: 1.2rem;
    }

}
