@import "skeleton.less";
@import "list.less";
@import "header-footer.less";
@import "autocomplete.less";

*{
    -webkit-overflow-scrolling: touch; //TODO what's this?
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.title {
    font-weight: bold;
}

.title a {
    &:hover {
        color: initial;
    }
}

.subtitle {
    color: @secondary-color;
}
//@media (min-width: @bp-larger-than-phablet)
.mobile-hidden {
    display: none;
}

.search-wrapper-to-the-top {
    margin: 0 auto;
}
