.solo-school{
    .name {
        font-weight: bold;
    }

    svg {
        height: 17rem;
        font-size: 0.6rem;
    }


    .driving .bar{
        fill: @colour-3;
    }

    .grey-bar {
        fill: @light-grey;
    }

    .theory .bar{
        fill: @colour-1;
    }

    div.description {
        .driving {
            padding: 0.3rem;
            background-color: @colour-3;
        }

        .theory {
            padding: 0.3rem;
            background-color: @colour-1;
        }
    }

}

#map-solo {
    height: 300px;
    margin-bottom: 5rem;
}

@media (min-width: @bp-larger-than-phablet){
    .solo-school svg{
        height: 20rem;
    }

}
