{"a-coroa-de-vinhais-00352" {:address-id #uuid "bc73b936-c837-361f-b6d6-f581d2501049"
                             :overwrite/obs "pointing to archived imt-profiles"}

 "sousa-batista-00851" {:address-id #uuid "9c2a8e84-8d15-3059-a1bf-7012779e109c"
                        :overwrite/obs "two profiles with same name and nec and both archived."}


 "ponto-de-partida-01077" {:address-id #uuid "74d02e36-9dfb-3d9b-854b-071c7d8dcf81"
                           :overwrite/obs "two profiles with same name and nec and both archived."}

 "mota-galiza-01079" {:address-id #uuid "58c80e89-6aa3-333a-b697-d39d3a1f8312"
                      :overwrite/obs "noting to add"}

 "prestige-01314" {:address-id #uuid "d3431f0e-3ea9-39bc-9409-18ad609a8abc"
                   :overwrite/obs "archived school with the same license nr."}

 "autoflor-00652" {:address-id nil
                   :overwrite/obs "there's an auto floor but it's 1007"}

 "mogadourense-00494" {:address-id nil
                       :overwrite/obs "There's a mogadourense under 1201"}

 "sind-xxxxx" {:address-id nil
               :overwrite/obs "not really a school"}

 "celas-00626" {:address-id #uuid "2084bf10-3b7f-3122-9d86-52374319d531"
                :overwrite/obs "duplicate nec with siiimpletunas 00626"}

 "nova-mira-01349" {:address-id nil
                    :overwrite/obs "prob. same as nova-de-tomar-01349. data until 2018"}
 "malhoa-01314" {:address-id #uuid "02713c1f-d2c3-3548-b74e-9251cc0754fc"
                 :overwrite/obs "duplicate nec with another name"}

 "nascente-do-ave-00587" {:address-id nil
                          :overwrite/obs "prob. same as auto-dinamica-do-ave-00587. data until 2018"}
 "vr-00447" {:address-id nil
             :overwrite/obs "Most recent from duplicate pair but name differs a lot from imp.pt."}
 "auto-stop-00760" {:address-id nil
                    :overwrite/obs "Duplicate pair of ip4-00760. Data stops @ 2019"}
 "prestige-01079" {:address-id nil
                   :overwrite/obs "Dup mota-galiza-01079. Data stops @ 2018. Another Prestige w/1314"}
 "mortaguense-00339" {:address-id nil
                      :overwrite/obs "Dup nova-de-esgueira-00339. Data stops @ 2018."}
 "dinamica-do-vez-00746" {:address-id nil
                          :overwrite/obs "Dup tyrsense-00746. Data stops @ 2019."}

 "armando-machado-da-cruz-00900" {:address-id nil
                                  :overwrite/obs "Dup grand-tour-00900. Data stops @ 2019."}
 "rodaqui-00011" {:address-id nil
                  :overwrite/obs "license 11 is Montemorense in imt.pt"}
 "alkantara-00027" {:address-id nil
                    :overwrite/obs "license 27 is Vencedora Alcanterense in imt.pt"}
 "entre-linhas-00092" {:address-id nil
                       :overwrite/obs "license 92 is 'Automobilismo da Beira' in imt.pt"}
 "devesa-00123" {:address-id nil
                 :overwrite/obs "license 123 is 'Famalicense' in imt.pt"}
 "siiimpleavis-00269" {:address-id nil
                       :overwrite/obs "license 269 is 'Alentejana' in imt.pt"}
 "siiimplemarinhais-00302" {:address-id nil
                            :overwrite/obs "license 302 is 'Salvaterra de Magos' in imt.pt"}


 "o-farol-00333" {:address-id nil
                  :overwrite/obs "license 333 is 'Estrela de Almeida' in imt.pt"}
 "nelmar-00338" {:address-id nil
                 :overwrite/obs "license 338 is 'Automóvel de Macedo' in imt.pt.There's a Nelmar 527"}
 "cinochaves-00353" {:address-id nil
                     :overwrite/obs "license 353 is 'Valpacense in imt.pt"}
 "alverca-00375" {:address-id nil
                  :overwrite/obs "license 375 is 'Infante D. Pedro' in imt.pt"}
 "circular-de-braga-00443" {:address-id nil
                            :overwrite/obs "license 443 is 'Pampicar' in imt.pt"}
 "a-desportiva-gondomar-00465" {:address-id nil
                                :overwrite/obs "license 465 is 'Gondomar Centro' in imt.pt"}
 "via-odivelas-00481" {:address-id nil
                       :overwrite/obs "license 481 is 'Chuabo de Odivelas' in imt.pt"}

 "urbe-00513" {:address-id nil
               :overwrite/obs "license 513 is 'Barcelinhos' in imt.pt"}

 "miranda-do-douro-00527" {:address-id nil
                           :overwrite/obs "license 527 is 'Nelmar' in imt.pt"}
 "terra-nova-00544" {:address-id nil
                     :overwrite/obs "license 544 is 'Deu-la-Deu' in imt.pt"}
 "s-bartolomeu-00595" {:address-id #uuid "86ea8129-2a86-35cf-927b-1307792d759e"
                       :overwrite/obs "duplicate nec and an archived one"}
 "jcdrive-00624" {:address-id nil
                  :overwrite/obs "license 624 is 'do Fanqueiro - Loures' in imt.pt"}
 "cavaleira-00630" {:address-id nil
                    :overwrite/obs "license 630 is 'De Pernes - Loures' in imt.pt"}
 "automovel-de-macedo-00650" {:address-id nil
                              :overwrite/obs "automovel macedo is 338"}
 "azurem-00684" {:address-id nil
                 :overwrite/obs "license 684 is 'Moreirense' in imt.pt"}
 "cubista-00691" {:address-id nil
                  :overwrite/obs "license 691 is 'Baía de Monte Gordo' in imt.pt"}
 "faciforma-gaia-centro-00700" {:address-id nil
                                :overwrite/obs "license 700 is 'Monte da Virgem' in imt.pt"}
 "reis-armamar-00830" {:address-id nil
                       :overwrite/obs "license 830 is 'Douro Sul' in imt.pt"}
 "e-formacao-profissional-da-marinha-grande-00854" {:address-id nil
                                                    :overwrite/obs "license 854 is 'Monte Real' in imt.pt"}
 "fonseca-00914" {:address-id nil
                  :overwrite/obs "license 914 is 'Aliada' in imt.pt"}
 "dom-pedro-01008" {:address-id nil
                    :overwrite/obs "license 1008 is 'Prina' in imt.pt"}
 "go-driving-01024" {:address-id nil
                     :overwrite/obs "license 1024 is 'Egitaniense' in imt.pt"}
 "s-jorge-01043" {:address-id nil
                  :overwrite/obs "license 1043 is 'Dominante' in imt.pt"}

 "s-verissimo-01058" {:address-id nil
                      :overwrite/obs "license 1058 is 'Volante de Negreiros' in imt.pt"}
 "auto-dao-01075"  {:address-id nil
                    :overwrite/obs "license 1075 is 'De Repeses' in imt.pt"}
 "boliqueime-01081" {:address-id #uuid "8ca014b5-1108-3368-ae12-16be64246232"
                     :overwrite/obs "duplicate with 1081 is 'Linha de Sintra'"}
 "seguranca-maxima-premium-01105" {:address-id nil
                                   :overwrite/obs "license 1105 is 'Alameda' in imt.pt"}
 "palhaca-01110" {:address-id nil
                  :overwrite/obs "license 1110 is 'Bairrada' in imt.pt"}
 "do-juncal-01162" {:address-id #uuid "17bc7a38-f908-31fc-9991-8f7e7a54448c"
                    :overwrite/obs "license 1162 is 'Da Serra' in imt.pt"}

 "macao-01171" {:address-id #uuid "34232526-f88a-3ad2-add4-c0d2a1f385e6"
                :overwrite/obs "duplicate license 1171 is 'Abranjovem'"}

 "o-motorista-01179" {:address-id  #uuid "6ca11c48-7549-3da4-968e-cd6a1cbbf19b"
                      :overwrite/obs "license 1179 is 'Montenegrense' in imt.pt"}
 "chelas-01187" {:address-id nil
                 :overwrite/obs "license 1187 is 'Babilónia' in imt.pt"}
 "moncorvense-01201" {:address-id #uuid "f0a2f0e2-98af-36d0-aedc-7844b4c65152"
                      :overwrite/obs "duplicate: license 1201 is 'Mogadourense' in imt.pt"}
 "a-nova-de-mozelos-01232" {:address-id nil
                            :overwrite/obs "license 1232 is 'Irmãos Couto' in imt.pt"}
 "espiral-01258" {:address-id nil
                  :overwrite/obs "license 1258 is 'Nova Malveira' in imt.pt"}
 "centro-sul-01269" {:address-id nil
                     :overwrite/obs "license 1269 is 'Cova da Piedade' in imt.pt"}
 "oitava-01291" {:address-id nil
                 :overwrite/obs "license 1291 is 'Nova Caparica' in imt.pt"}
 "triplo-s-01301" {:address-id nil
                   :overwrite/obs "license 1301 is 'Alto Nível' in imt.pt"}
 "barrosas-01316" {:address-id nil
                   :overwrite/obs "license 1316 is 'José Luís Cunha' in imt.pt"}
 "taveiro-01318"  {:address-id #uuid "102c6d36-273b-3cfa-b2f1-19416f55127b"
                   :overwrite/obs "lic. 1318 has 2 profiles 'Medieval' and 'Taveiro' in imt.pt"}
 "arca-dagua-01399" {:address-id nil
                     :overwrite/obs "license 1399 is 'Nova do Porto' in imt.pt"}
 "nova-caldense-01418" {:address-id nil
                        :overwrite/obs "license 1418 is 'Motoschool' in imt.pt"}
 "auto-mira-00651" {:address-id nil
                    :overwrite/obs "license 651 is 'Miranda do Douro' in imt.pt"}
 "carlos-vaz-01007" {:address-id nil
                     :overwrite/obs "1007 is 'Auto Flor'. Carlos Vaz is archived."}
 "sampaio-00574" {:address-id #uuid "595ce2ab-5413-375f-869b-afcf48b13bbf"
                  :overwrite/obs "archived and nec and href was reused."}
 "siiimpletunas-00626" {:address-id #uuid "d4a52045-b061-3833-8636-b6836c732a5d"
                        :overwrite/obs "archived and nec and href was reused."}
 "pero-rodrigues-00705" {:address-id #uuid "0f410351-2bb8-3c4d-bbb0-b46261df0759"
                          :overwrite/obs "archived and nec and href was reused."}
 "75agv-01410" {:address-id #uuid "83e9ea82-92b0-3430-8160-eb2ed0e980e9"
                :overwrite/obs "There's a new entry called AGV with same address and nec..."}
 "a-desportiva-espinho-00463" {:address-id #uuid "1cd0898e-0cc2-32ea-a279-8440c41b9ea2"
                               :overwrite/obs "archived and nec and href was reused."}
 "a-desportiva-palacio-00464" {:address-id #uuid "dd02ded2-636f-3be7-8653-14164f72de37"
                               :overwrite/obs "archived and nec and href was reused."}
 "df-00863" {:address-id nil
             :overwrite/obs "license 863 is 'Portugalia' in imt.pt"}
 "lena-d-arrifana-01123" {:address-id nil
                          :overwrite/obs "license 1123 is 'Arrifanense' in imt.pt"}
 "matriz-01186" {:address-id nil
                 :overwrite/obs "license 1186 is 'Rio Ave' in imt.pt"}
 "veiculos-01443" {:address-id nil
                   :overwrite/obs "license 1443 is 'Volante Dourado' in imt.pt"}
}
